.cogv1_article-body__container
	+above(768px)
		padding-left r(9rem)
		padding-right r(6rem)
	
	
.cogv1_article
	counter-reset h3
	padding-top r(3rem)
	position relative
	.video-section
		margin r(6rem) 0
	h2
		color blue
		padding-top r(8rem)
	h3
		text-transform capitalize
		fs(2.8rem)
		margin-top r(3rem)
		padding-bottom r(3rem)
		position relative
		&:before
			content counter(h3)
			counter-increment h3
			position absolute
			left r(-8rem)
			fs(3.8rem)
			color blue
			size 4rem
			font-family proxRegIt
			top r(-0.6rem)
			
			+below(1260px)
				left r(-5rem)
		+below(768px)
			text-indent r(5rem)
	p
		padding-bottom r(1.6rem)
	hr
		border-bottom 0px solid transparent
		position relative
		margin-bottom r(6rem)
		padding-top r(3rem)
		&:after
			content ''
			display block
			height 1px
			width 100%
			background green vgradient5
			position absolute

.cogv1_article__footer
	margin r(2rem) 0


// ARTICLE FLOATING NAV /////////////////////////

.cogv1_article-nav--prev
	left 0
	@media screen and (max-height: 1024px)
		transform translateX(-6rem)
	svg
		left 1.4rem

.cogv1_article-nav--next
	right 0
	@media screen and (max-height: 1024px)
		transform translateX(6rem)
	svg
		right 1.4rem
		
.cogv1_article-nav
	position absolute
	size r(6rem)
	background green hgradient66
	top r(-3rem)
	color white
	margin auto
	z-index 100
	transform-origin 0% 0%
	transition opacity 0.3s ease-out, transform 0.3s cubic-bezier(.73,.49,.28,1.21)
	svg
		size 3rem
		transform-origin 50% 50%
		position absolute
		top 0
		bottom 0
		margin auto
		transition 0s linear
	span 
		color gray
		text-align center
		align(horizontal)
		bottom r(-3rem)
		fs(1.6rem)
		font-family proxLight
	+below(1024px)
		display none
	@media screen and (max-height: 1024px)
		opacity 0
		&.is-scrolling
			opacity 1
			position fixed
			bottom 0
			transform translateX(0rem)
			transition opacity 0.3s ease-out, transform 0.1s linear
			&.cogv1_article-nav--prev
				left 0
			&.cogv1_article-nav--next
				right 0
		&.is-bottom
			top auto
			position absolute
			bottom r(6.7rem)
			opacity 1
			transform translateX(0rem) scaleY(2.116666667)
			transition transform 0.1s linear
			svg, span
				display none


// ARTICLE STATIONARY FOOTER NAV /////////////////////////

.cogv1_article__footer-nav
	background-color backgray
	padding r(4rem) 0 
	margin-top r(6rem)
	position relative
	+below(1024px)
		padding 0
		height r(6rem)
	p
		padding-bottom 0
	svg
		transform-origin 50% 50%
		
.cogv1_article__footer-nav__button
	size r(6rem) r(12.7rem)
	position absolute
	top 0
	bottom 0
	height 100%
	color white
	z-index 999
	@media screen and (min-height: 1024px)
		background green hgradient66
	svg
		size 3rem
		transform-origin 50% 50%
		position absolute
		top 0
		bottom 0
		margin auto
		// display none
	+below(1024px)
		size r(6rem)		
		
.cogv1_article__footer-nav__button--prev
	left 0
	svg
		left 1.4rem
.cogv1_article__footer-nav__button--next
	right 0
	svg
		right 1.4rem
		
.cogv1_article__footer-nav__text
	col(1/2)
	text-align center
	color gray
	p
		strong
			display block
			&:nth-child(1)
				fs(1.7rem)
				upcase()
			&:nth-child(2)
				color darkblue
	&:hover
		color gray
		// p:nth-child(2)
		// 	color darkblue
	&.cogv1_article__footer-nav__text--prev
		text-align right
		padding-right r(2rem)
	&.cogv1_article__footer-nav__text--next
		text-align left
		float right
		padding-left r(2rem)
	+below(1024px)
		p
			display inline-block
			height r(2.3rem)
			margin-top r(1.8rem)
			@extend .truncated
			position relative
			padding-right 1rem
			strong
				display inline-block
				margin-right r(0.6rem)
			span
				display none
		&.cogv1_article__footer-nav__text--prev
			padding-left r(6rem)
			text-align left
		&.cogv1_article__footer-nav__text--next
			padding-right r(6rem)
			
	+below(768px)
		p
			strong:nth-child(2)
				display none
		&.cogv1_article__footer-nav__text--prev
			text-align left
		&.cogv1_article__footer-nav__text--next
			text-align right

.cogv1_article__footer-nav__divider
	width 1px
	background-color gray
	height r(6rem)
	align()
	+below(1024px)
		height r(3rem)
		top r(2.8rem)
	// 	display none

// FOOTER RELATED ARTICLES //////////////////////

.cogv1_article__related
	background darkgreen linear-gradient(5deg, green 0%, darkblue 100%)
	text-align center
	.header--section
		padding r(5rem) 0 r(1rem)
		+below(1024)
			padding-bottom r(2rem)
.cogv1_article__related--large
	+below(768px)
		display none
	.container
		background-color white
		padding r(4rem) r(3rem) r(1rem) r(3rem)
		margin-top r(4rem)
	.flow-box
		col(1/3)
		box-shadow 0 0 0 0 transparent
		border 0px solid transparent
		height r(30rem)
		text-align left !important
		+below(1024px)
			col(1/2, cycle: 2)
			&:nth-child(3)
				display none
	.flow-box__title
		h2
			max-height 92px
	.flow-box__CTA-description
		position absolute
		bottom r(6rem)
	.flow-box__tag
		margin-left r(2.2rem)
		display block
		right r(2.2rem)

.cogv1_article__related--small
	.container
		background-color white
		margin-top r(2rem)
		text-align left
		padding r(1rem) r(4rem) 0
		margin 0 3%
		+below(540px)
			padding r(1rem) r(2rem) 0
			margin 0
			
+above(768px)
	.cogv1_article__related--small
		display none