.cogv1_article-header
	padding r(15rem) 0 r(20rem) 0
	background-size cover !important
	background-position 50% 50% !important
	position relative
	+below(1024px)
		padding r(12rem) 0 r(12rem) 0
	h1
		text-align left
		padding-bottom r(5rem)
		max-width r(71rem)
		fs(5.8rem)
		+below(768px)
			fs(4.4rem)
	h3
		padding-bottom r(1rem)
	hr
		border-bottom 1px solid blue
		padding-top r(1rem)
		margin-bottom r(3rem)
	.search__share-flyout__wrapper
		display none
	+above(768px)
		.search__share-flyout__wrapper
			display block
		.share-icons-list
			display none
	a.share-icon
		color blue
		&:hover
			color blue
	

.cogv1_article-header__tag
	background-color blue
	color white
	display inline-block
	padding r(0.5rem) r(1rem)
	margin-bottom r(2rem)
	h4
		upcase()

.cogv1_article-header__meta
	font-family proxReg

.cogv1_article-header__description
	font-family proxLight
	display inline-block
	max-width r(71rem)
	strong
		display block
	+below(768px)
		display none

.cogv1_article-header__CTA
	margin-top 4rem
			
.cogv1_article-header-icon
	display inline-block
	margin-right 2rem
	color blue
	svg
		margin auto
		size r(3.2rem)
	span
		text-align center
		fs(1.6rem)
