.cogv1_article-subhead
	background-color backgray
	padding r(8rem) 0 r(6rem)
	position relative
	+below(1024px)
		padding r(4rem) 0 0 0
	
.cogv1_article-subhead__column
	cf()
	&.left
		col(7/12)
	&.right
		col(4/12)
		float right
	+below(1024px)
		&.left,
		&.right
			stack()
			padding r(2rem) 0
		
.cogv1_article-subhead__highlight
	padding 0 r(3rem)
	margin r(4rem) 0 r(4rem) r(5rem)
	border-left 1px solid gray
	position relative
	transition 0.3s ease 0.3s
	p
		transition 0.3s ease 0.3s
	&.is-active
		border-left 1px solid transparent
		transition 0.3s ease 0s
		p
			opacity 0.1
			transition 0.3s ease 0s
		&:before
			opacity 0
			transition 0.3s ease 0s
	.icon
		size r(3.2rem)
		position absolute
		left r(-5rem)
		top 0
		bottom 0
		margin auto
		color gray
		transition 0.3s ease
		&:hover
			color blue
	&:before
		content ''
		display inline-block
		position absolute
		left r(-1.2rem)
		top 0
		bottom 0
		margin auto
		size r(1.2rem) r(1.8rem)
		transition 0.3s ease 0.3s
		background transparent url(unquote('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2aWV3Qm94PSI0NzUuOSAxNTQuMyAxMiAxOCI+PHBhdGggZmlsbD0iI0YxRjFGMSIgc3Ryb2tlPSIjRDREMEQxIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiBkPSJNNDg3LjkgMTU0LjNsLTEwLjEgOSAxMC4xIDkiLz48L3N2Zz4=')) no-repeat
		background-size cover
		background-position 0% 0%

.cogv1_article__save__indicator
	position absolute
	left r(3rem)
	top r(-1.9rem)
	transform rotate(90deg)
	border-color: transparent white transparent transparent;
	+above(1024px)
		display none
	
.cogv1_article-subhead__CTA
	color blue
	display inline-block
	fs(1.6rem)
	cursor pointer
	&:first-of-type
		margin-right 20%
	.icon
		size r(3rem)
		margin-right r(1.6rem)
		position relative
	span
		display inline-block
		vertical-align middle
	+below(1140px)
		.icon
			margin-right r(1rem)
	+below(1024px)
		bottom r(-4rem)
	
.cogv1_article-subhead__download
	.icon
		position relative
		top r(-0.4rem)
	+below(1024px)
		position absolute
		right 0
		top 0

.cogv1_article__save
	padding-top: r(3rem)
	max-height: r(30rem)
	text-align: left
	z-index -1
	color black
	cf()
	transform translateY(r(3rem))
	transition transform 0.3s ease-out, opacity 0.1s linear
	opacity 0
	p small
		a
			font-family proxSbold
		b
			color heavymustard
	&.is-active
		opacity 1
		transform translateX(0)
		z-index 99
		transition opacity 0.2s ease, transform 0.3s ease-out-back
		header
			color black
			text-align left
		hr
			border-bottom 1px solid gray
			margin-bottom r(2rem)
	+below(1024px)
		background-color white
		box-shadow 0px 1px 2px rgba(240,240,240,1)
		position absolute
		left r(-2.2rem)
		top r(2rem)
		transform translateY(4rem)
		padding r(3rem)
		min-width (28rem)
		
.cogv1_article__save__add
	color gray
	margin-bottom r(1rem)
	.add-action
		display none
		&.is-active
			display block
	.icon
		size r(3rem)
		margin-right r(1rem)
		+below(1024px)
			margin-left r(-0.9rem)

	.icon_save-article
		color blue
		position absolute
		top r(3.1rem)
	h6
		display inline-block
		vertical-align middle

input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
input[type=password],
textarea
	&.cogv1_article__save__input
		background-color transparent
		padding r(0.4rem) 0 r(0.5rem) r(4rem)
		margin-right r(-1rem)
		color blue
		fs(1.8rem)
	
.cogv1_article__save__list
	text-indent r(4rem)
	position relative
	padding r(0.8rem) 0
	line-height 1.6
	&:before
		content ''
		size r(1.4rem)
		background-color transparent
		border 1px solid gray
		display inline-block
		position absolute
		left r(0.7rem)
		top 0
		bottom 0
		margin auto
	&.is-active
		&:before
			background-color blue
			border 1px solid blue
	+below(1024px)
		text-indent r(3rem)
		&:before
			left 0
		
.cogv1_article-subhead-flyout
	transform translateX(-100%)
	&.is-active
		transform translateX(0)
				
.share-flyout__wrapper
	top r(1rem)
	z-index 1
	left r(-1rem)
	
.cogv1_article-subhead__icon.share-flyout__icon
	color blue
	margin r(0.3rem) r(0.5rem)
	&:hover
		color blue
		