/*!**
  title: Forward and Previous Nav
  section: Article Styles
  example: |
    <component class="cogv1_article__footer-nav"><a class="cogv1_article__footer-nav__button cogv1_article__footer-nav__button--prev has-background"><i class="icon">
          <svg viewbox="0 0 100 100">
            <use xlink:href=includes/symbols.svg"#icon_caret--left"></use>
          </svg></i></a>
      <div class="container">
        <div class="row"><a class="cogv1_article__footer-nav__text cogv1_article__footer-nav__text--prev">
            <p><strong>Previous Latest Strategy</strong><strong>Latest Strategy #3: Value Webs</strong></p></a>
          <div class="cogv1_article__footer-nav__divider"></div><a class="cogv1_article__footer-nav__text cogv1_article__footer-nav__text--next">
            <p><strong>Next Latest Strategy</strong><strong>Latest Strategy #3: Value Webs</strong></p></a>
        </div>
      </div><a class="cogv1_article__footer-nav__button cogv1_article__footer-nav__button--next has-background"><i class="icon">
          <svg viewbox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_caret--right"></use>
          </svg></i></a>
    </component>
***/
.cogv1_article__footer-nav
	padding r(3.9rem) 0 
	position relative
	+below(1024px)
		padding 0
		height r(6rem)
	p
		padding-bottom 0
	svg
		transform-origin 50% 50%
	
.cogv1_article__footer-nav__button
	size r(6rem) r(12.7rem)
	position absolute
	top 0
	bottom 0
	height 100%
	color white
	z-index 100
	&:hover
		color white
	+below(1024px)
		background green hgradient66
	&.has-background
		background green hgradient66
		svg
			display block
	@media screen and (min-height: 1024px)
		background green hgradient66
	svg
		size 3rem
		transform-origin 50% 50%
		position absolute
		top 0
		bottom 0
		margin auto
		display none
	+below(1024px)
		size r(6rem)		
		svg
			display block
	&.is-active
		svg
			display block
			
.ios5,
.ios6
	.cogv1_article__footer-nav__button
		background-color green
		svg
			display block !important

.lt-ie10
	.cogv1_article__footer-nav__button
		background-color green
		
.cogv1_article__footer-nav__button--prev
	left 0
	svg
		left 1.4rem
		
.cogv1_article__footer-nav__button--next
	right 0
	svg
		right 1.4rem
		
.cogv1_article__footer-nav__text
	col(1/2)
	text-align center
	color gray
	p
		strong
			display block
			&:nth-child(1)
				fs(1.7rem)
				upcase()
			&:nth-child(2)
				color darkblue
	&:hover
		color gray
		// p:nth-child(2)
		// 	color darkblue
	&.cogv1_article__footer-nav__text--prev
		text-align right
		padding-right r(2rem)
	&.cogv1_article__footer-nav__text--next
		text-align left
		float right
		padding-left r(2rem)
	+below(1024px)
		p
			display inline-block
			height r(2.3rem)
			margin-top r(1.8rem)
			@extend .truncated
			position relative
			padding-right 1rem
			strong
				display inline-block
				margin-right r(0.6rem)
			span
				display none
		&.cogv1_article__footer-nav__text--prev
			padding-left r(6rem)
			text-align right
		&.cogv1_article__footer-nav__text--next
			padding-right r(6rem)
			text-align left
			
	+below(768px)
		p
			strong:nth-child(2)
				display none

.cogv1_article__footer-nav__divider
	width 1px
	background-color gray
	height r(6rem)
	align()
	+below(1024px)
		height r(3rem)
		top r(2.8rem)