.cogv1_article-body__container
	padding-left r(9rem)
	padding-right r(6rem)
	
.cogv1_article
	counter-reset h3
	padding r(3rem) 0 r(10rem)
	.video-section
		margin r(6rem) 0
	h2
		color blue
		padding-top r(8rem)
	h3
		text-transform capitalize
		fs(2.8rem)
		margin-top r(3rem)
		padding-bottom r(3rem)
		position relative
		&:before
			content counter(h3)
			counter-increment h3
			position absolute
			left r(-8rem)
			fs(3.8rem)
			color blue
			size 4rem
			font-family proxRegIt
			top r(-0.6rem)
			+below(1024px)
				left r(-5rem)
	p
		padding-bottom r(1.6rem)
	hr
		border-bottom 0px solid transparent
		position relative
		margin-bottom r(6rem)
		padding-top r(3rem)
		&:after
			content ''
			display block
			height 1px
			width 100%
			background green vgradient5
			position absolute

.cogv1_article__footer
	margin r(2rem) 0

.cogv1_article-nav
	position absolute
	size 6rem
	background-color green
	bottom r(-8.6rem)
	color white
	svg
		size 3rem
		transform-origin 50% 50%
		position absolute
		top 0
		bottom 0
		margin auto
	span 
		color gray
		text-align center
		align(horizontal)
		bottom r(-3rem)
		fs(1.6rem)
		font-family proxLight
	&.is-scrolling
		position fixed
		top 0
		bottom 0
		margin auto
		z-index 100
.cogv1_article-nav--prev
	left 0
	background hgradient66
	svg
		transform rotate(180deg)
		left 1.4rem

.cogv1_article-nav--next
	right 0
	background hgradient66
	svg
		right 1.4rem