/*!**
  title: Main Banner
  section: Banner Modules
  example: |
    <component style="background: url(&quot;img/bg-diamonds.jpg&quot;) repeat" class="banner-module">
      <div class="banner__text">
        <div class="banner__center">
          <h4>Stay Agile with our Industry-Leading Insight.</h4><img src="img/perspectives-ad.png" alt="">
        </div>
      </div>
      <div class="banner__CTA">
        <div class="banner__center">
          <h4>Download our new <br>Perspectives&nbsp;App</h4><a href=""><img src="svg/apple_app_icon.svg" alt="" class="app-store-button"></a><a href=""><img src="svg/googleplay_app_icon.svg" alt="" class="app-store-button"></a>
        </div>
      </div>
    </component>
***/
.banner-module
    background-size cover !important
    background-position 0% 0% !important
    center(r(109.2rem))
    color white
    padding r(5.4rem) 0 r(5.4rem)
    position relative
    height 100%
    margin 0 auto
    cf()
    h2
        fs(3.7rem)
        upcase()
        font-family proxReg
        +below(768px)
            fs(3rem)
    // .button--primary
    //     &:hover
    //         background-color lightblue
            
    a.button--silent
        boder-bottom 1px solid rgba(white,0.2)
        color white
        margin r(2rem) r(5.7rem) 0 r(5.7rem)
        &:hover
            color lightblue
            border-bottom 1px solid rgba(lightblue,0.2)
    +below(960px)
        .app-store-button
            display inline-block
            margin r(2rem)
.banner__text
    col(8/12)
    position relative
    z-index 1
    h4
        fs(2.8rem)
        font-family proxReg
        upcase()
    img
        max-width r(54rem)
        margin r(2rem) auto 0 auto
    +below(960px)
        img
            margin-bottom r(2rem)
            
// .banner__center
//     align()
//     width 100%
    
.banner__CTA
    col(3/12)
    text-align center
    position relative
    z-index 1
    min-height r(9rem)
    h4
        upcase()
        
+above(960px)
    .banner-module
        display table
        width 100%
    .banner__text,
    .banner__CTA
        float none
        display table-cell
        vertical-align middle
  
+below(960px)
    .banner-module
        padding r(3rem) r(2rem) r(2.2rem)
        .button--primary
            float none
            margin r(1.5rem) auto 0
    .banner__text,
    .banner__CTA
        stack()
        text-align center
        padding r(1rem) 0
        min-height r(10rem)
        
.app-store-button
    width r(11rem)
    height auto
    margin r(1rem) auto