.caret
	position: relative

.caret:before
	content: ''
	position: absolute
	top: 0
	left: 0
	border-top: 10px solid blue
	border-left: 10px solid transparent
	border-right: 10px solid transparent

.caret:after
	content: ''
	position: absolute
	left: 1px
	top: 0
	border-top: 9px solid white
	border-left: 9px solid transparent
	border-right: 9px solid transparent