/*!**
  title: Profile Box Mobile
  section: Profile Box
  example: |
    <component class="container compact-profile-box__container">
      <div class="compact-profile-box-module" style='display:block;'>
        <div class="compact-profile-box-bar">
          <div class="compact-profile-box__profile-pic"><img src="http://placehold.it/20x20" alt=""></div>
          <p class="compact-profile-box__details"><b>Kyla Medina</b><span class="hide-small">&nbsp; | &nbsp;Information Technology &amp; Services</span></p>
          <div class="compact-profile-box__aside">
            <div class="compact-profile-box__notification"><span>3</span></div><i data-flyout="notifications" class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_folders"></use>
              </svg></i><i data-flyout="settings" class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_settings"></use>
              </svg></i>
          </div>
        </div>
        <subcomponent class="compact-profile-box__flyout compact-profile-box__flyout--settings">
          <div class="profile-box__indicator"></div>
          <header>
            <p>Settings</p>
            <hr>
          </header>
          <div class="profile-box__button">
            <button class="button--silent js-edit-profile">Edit Info</button>
          </div>
          <div class="profile-box__button"><a href="/" class="button--silent">Log Out</a></div>
        </subcomponent>
        <subcomponent class="compact-profile-box__flyout compact-profile-box__flyout--notifications">
          <div class="profile-box__indicator"></div>
          <header>
            <p>Recent Activity</p>
            <hr>
          </header>
          <div class="profile-box__list">
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
          </div>
          <button class="button--silent">View All</button>
        </subcomponent>
      </div>
    </component>
***/
// .compact-profile-box__container
//   height 0
//   overflow visible
//   // position relative
  
  
.compact-profile-box-module
  z-index 500
  max-width r(109.2rem)
  position fixed
  left 0
  right 0
  margin auto
  top 0
  .button--primary
    position absolute
    right 0
    top 0
    bottom 0
  +above(1024px)
    &.show-for-small
      display none
  
.compact-profile-box-bar
  background-color: backgray
  color black
  padding r(0.8rem) r(2rem) r(0.8rem)
  text-align left
  margin 0 auto
  position relative
  z-index 999
  cf()
  box-shadow: 1px 1px 2px 0px rgba(black,.2)
  
.compact-profile-box__profile-pic
  size r(3.2rem)
  border-radius 50%
  overflow hidden
  float left
  margin-right r(1.4rem)
  margin-left r(1rem)

.compact-profile-box__notification
  @extend $notification-circle
  position absolute
  left r(0.8rem)
  top r(-0.2rem)

.compact-profile-box__details
  float left
  line-height r(3.2rem)
  +below(1024px)
    .hide-small
      display none
  +below(768px)
    display none
        
.compact-profile-box__aside
  float right
  margin-right r(19.8rem)
  position relative
  +below(540px)
    margin-right r(11.4rem)
  .icon
    size r(4.8rem) r(3rem)
    padding r(0.4rem) r(1rem)
    margin-left r(0.6rem)
    color blue
    display inline-block
    cursor pointer
    transition 0.3s ease
    &:hover
      color darkblue
      
.compact-profile-box__flyout
  background-color: rgba(253,253,253,1)
  position: absolute
  box-shadow 0px 1px 2px rgba(240,240,240,0.5)
  padding: r(2.6rem) r(3rem) r(1.8rem)
  width: r(33rem)
  top: r(4.8rem)
  right: 0
  max-height: r(39rem)
  text-align: center
  z-index: 1
  opacity 0
  transform translateY(-100%)
  transition transform 0s linear 0.1s, opacity 0.1s linear
  +below(540px)
    width: 100%
    
  &.is-active
    opacity 1
    transform translateY(0%)
    transition transform 0.4s cubic-bezier(.73,.88,0,1.1) 0.1s, opacity 0.1s linear 0.1s, z-index 0s linear 0.45s
    z-index: 501
  .profile-box__list-notification
    left r(-1.9rem)
    top r(0.1rem)
  .profile-box__list-item
    padding 0 0 r(2rem) r(1rem)
  .profile-box__indicator
    top r(-1.7rem)
    transform rotate(90deg)
    transform-origin 50% 50%
    border-color: transparent white transparent transparent
    left auto
  &.compact-profile-box__flyout--settings
    .profile-box__indicator
      right r(23.5rem)
      +below(540px)
        right r(15.2rem)
  &.compact-profile-box__flyout--notifications
    .profile-box__indicator
      right r(29.1rem)
      +below(540px)
        right r(20.8rem)
    
.compact-profile-box__button
  background-color blue
  color white
  top 0
  bottom 0
  margin auto
  right 0
  width r(19.5rem)
  position absolute
  .search__smart-search
    color inherit
    right 0
    left 0
    width r(13rem)
    border none
  svg, p
    display inline-block
    vertical-align middle
  svg
    size r(2rem)
    margin-right r(1rem)
  +below(540px)
    width r(11.4rem)
    .search__smart-search
      width r(8.3rem)
      display block
    svg
      display none
    
.compact-profile-box-module.no-button
  .compact-profile-box__aside
    margin-right r(1rem)
  .compact-profile-box__flyout--settings
    .profile-box__indicator.triangle
      right r(4.8rem)
  .compact-profile-box__flyout--notifications
    .profile-box__indicator.triangle
      right r(10.4rem)