// PROFILE BOX //////////////////////////////////

/*!**
  title: Profile Box Mobile
  section: Profile Box
  example: |
    <component class="container compact-profile-box__container">
      <div class="compact-profile-box-module" style='display:block;'>
        <div class="compact-profile-box-bar">
          <div class="compact-profile-box__profile-pic"><img data-src="holder.js/32x32" alt=""/></div>
          <p class="compact-profile-box__details"><b>Kyla Medina</b><span     class="hide-small"> | Information Technology &amp; Services</span></p>
          <div class="compact-profile-box__aside">
            <div class="compact-profile-box__notification"><span>3</span></div><i     data-flyout="notifications" class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_folders"></use>
              </svg></i><i data-flyout="settings" class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_settings"></use>
              </svg></i>
          </div>
        </div>
        <subcomponent class="compact-profile-box__flyout compact-profile-    box__flyout--settings">
          <div class="profile-box__indicator"></div>
          <header>
            <p>Settings</p>
            <hr/>
          </header>
          <div class="profile-box__button">
            <button class="button--silent">Edit Info</button>
          </div>
          <div class="profile-box__button">
            <button class="button--silent">Log Out</button>
          </div>
        </subcomponent>
        <subcomponent class="compact-profile-box__flyout compact-profile-    box__flyout--notifications">
          <div class="profile-box__indicator"></div>
          <header>
            <p>Recent Activity</p>
            <hr/>
          </header>
          <div class="profile-box__list">
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
            <div class="profile-box__list-item">
              <div class="profile-box__list-notification"><span>1</span></div>
              <p><strong><a href="">Industry Friends</a></strong></p>
              <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
            </div>
          </div>
          <button class="button--silent">View All</button>
        </subcomponent>
      </div>
    </component>
***/
.compact-profile-box__container
  height 0
  overflow visible
  position relative
  +below(540px)
    padding 0
  
.compact-profile-box-module
  position relative
  +above(1024px)
    display none
  
.compact-profile-box-bar
  background-color: backgray
  color black
  padding 1.4rem 2rem 1rem
  text-align left
  margin 0 auto
  position relative
  margin auto
  width 100%
  top 0
  z-index 500
  cf()
  
.compact-profile-box__profile-pic
  size 3.2rem
  border-radius 50%
  overflow hidden
  float left
  margin-right 1.4rem
  margin-left 1rem

.compact-profile-box__notification
  @extend $notification-circle
  position absolute
  left 0
  top -0.2rem

.compact-profile-box__details
  float left
  line-height 3.4rem
  +below(640px)
    .hide-small
      display none
        
.compact-profile-box__aside
  float right
  position relative
  .icon
    size 4.8rem 3.5rem
    padding 0 1rem
    color blue
    display inline-block
    cursor pointer
    transition 0.3s ease
    &:hover
      color darkblue
      
.compact-profile-box__flyout
  background-color: white
  position: absolute
  padding: 2.6rem 3rem 1.8rem
  width: 33rem
  top: 5.9rem
  right: 0
  max-height: 39rem
  text-align: center
  z-index: 1
  opacity 0
  transform translateY(-100%)
  transition transform 0s linear 0.1s, opacity 0.1s linear
  +below(420px)
    width: 100%
  &.is-active
    opacity 1
    transform translateY(0%)
    transition transform 0.4s cubic-bezier(.73,.88,0,1.1) 0.1s, opacity 0.1s linear 0.1s, z-index 0s linear 0.45s
    z-index: 501
  .profile-box__list-notification
    left -1.9rem
  .profile-box__list-item
    padding 0 0 0 1rem
  .profile-box__indicator
    top -1.8rem
    transform rotate(90deg)
    transform-origin 50% 50%
    border-color: transparent white transparent transparent
  &.compact-profile-box__flyout--settings
    .profile-box__indicator
      right 4rem
  &.compact-profile-box__flyout--notifications
    .profile-box__indicator
      right 9em
    
    