/*!**
  title: Editable Module
  section: Editable Content
  description: Can't input text in the styleguide but works on the site.
  example: |
    <component class="contenteditable-module">
      <div class="container">
        <section class="contenteditable__text">
          <h2>
            <div class="noneditable">I'm an </div>
            <div class="is-editable js-dropdown-option-parent has-dropdown">
              <div contenteditable="contenteditable" data-placeholder="Occupation" class="js-dropdown-option-holder">Occupation</div><i class="icon js-dropdown-trigger">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
              <subcomponent class="contenteditable-dropdown">
                <ul>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option"><span>Search Suggestion</span></li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                </ul>
              </subcomponent>
            </div>
            <div class="noneditable"> interested in the</div>
            <div class="is-editable js-dropdown-option-parent has-dropdown">
              <div contenteditable="contenteditable" data-placeholder="Industry" class="js-dropdown-option-holder">Industry</div><i class="icon js-dropdown-trigger">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg></i>
              <subcomponent class="contenteditable-dropdown">
                <ul>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option"><span>Search</span> Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                  <li class="js-dropdown-option">Search Suggestion</li>
                </ul>
              </subcomponent>
            </div><br/>
            <div class="noneditable"> Industry. I work for </div>
            <div class="is-editable">
              <div contenteditable="contenteditable" data-placeholder="Workplace">Workplace</div>
            </div>
            <div class="noneditable"> in </div>
            <div class="is-editable">
              <div contenteditable="contenteditable" data-placeholder="Zip Code">Zip Code</div>
            </div><span class="noneditable">.</span>
          </h2>
        </section>
        <div class="contenteditable__button-box"><a href="" class="button--primary">Continue</a></div>
      </div>
    </component>
***/
.contenteditable-module
  span(8/12)
  margin auto
  float none
  text-align: center
  h2
    fs(4.4rem)
    font-family proxLight
    color: gray
    line-height: 1.3
    
  .is-editable
    display inline-block
    position relative
    color rgba(gray,0.5)
    font-family proxLightIt
    &:after,
    &:before
      content ''
      height 1px
      position absolute
      left 0
      right 0
      bottom 0.6rem
    &:before
      background-color gray
      width 100%
      z-index: 1
    &:after
      background: vgradient5
      width 0%
      transition width 0.6s ease-out
      z-index: 2
    .icon
      size 2rem
      right 0
      top 2rem
      position absolute
      color blue
      cursor pointer
      transform rotate(90deg)
      transform-origin 50% 50%
      transition all 0.3s cubic-bezier(.73,.49,.28,1.21)
      &.is-active
        transform rotate(-90deg)
    [contenteditable]
      text-align left
      transition min-width 0.8s ease-out 0.1s, color 0.3s ease, background 0.3s ease
      // width 100%
    &.has-dropdown
      [contenteditable]
        margin-right 4rem
    .contenteditable-dropdown
      position absolute
      width 100%
      z-index: 10
      top 5.1rem        
  .is-filled,
  .is-active
      .icon
        color blue
      [contenteditable]
        color green
        font-family proxLight
        
      &:after
        width 100%
        transition width 0.6s ease-out

  +below(1024px)
    stack()
    // h2
    //   // fs(3.2rem)
    .is-editable
      .icon
        top 0.7rem
      .contenteditable-dropdown
        top 4.3rem

      
.contenteditable__text
  // max-width 84rem
  margin auto
  margin-bottom 6rem
  h2
    > div
      display inline-block
  .noneditable
    display inline-block
    overflow hidden
  .ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x
    height 1px
    bottom 1.1rem

.contenteditable__wrapper
  overflow hidden
  position: relative
  
.contenteditable__button-box
  text-align center

.chrome,
.safari
  .contenteditable-module
    h2 [contenteditable]
      background: rgba(gray,0.5) 
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    h2 .is-filled [contenteditable],
    h2 .is-active [contenteditable]
      background: vgradient5
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent