/*!**
  title: Content List
  section: List Modules
  description: A small text list
  example: |
    <div class="content-list">
      <header class="content-list__header">
        <h2>SMAC</h2>
        <h3>Social Mobile Analytics Cloud</h3>
      </header>
      <div class="content-list__header-border"></div>
      <article class="content-list__items">
        <div class="content-list__item">
          <h4>Article | <i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#includes/symbols.svg#icon_share-filled"></use>
              </svg></i>25k</h4>
          <p><strong>It’s Time for Learning to Go Back to School</strong></p><i class="content-list__item-CTA">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#includes/symbols.svg#icon_caret"></use>
            </svg></i>
        </div>
      </article>
      <article class="content-list__items">
        <div class="content-list__item">
          <h4>Article | <i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#includes/symbols.svg#icon_share-filled"></use>
              </svg></i>25k</h4>
          <p><strong>It’s Time for Learning to Go Back to School</strong></p><i class="content-list__item-CTA">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#includes/symbols.svg#icon_caret"></use>
            </svg></i>
        </div>
      </article>
      <article class="content-list__items">
        <div class="content-list__item">
          <h4>Article | <i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#includes/symbols.svg#icon_share-filled"></use>
              </svg></i>25k</h4>
          <p><strong>It’s Time for Learning to Go Back to School</strong></p><i class="content-list__item-CTA">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#includes/symbols.svg#icon_caret"></use>
            </svg></i>
        </div>
      </article>
      <footer class="content-list__footer"><a href="#" class="button--silent">View SMAC</a></footer>
    </div>

***/

.content-list
    position relative
    col(6/12, gutter: 6)
    margin-top r(3rem)
    h2
        font-family proxReg
    +below(1024px)
        stack(pad:10%)
        margin-bottom r(7rem)
        &:last-of-type
            margin-bottom 0
    +below(768px)
        stack()
        padding 0
        
.content-list__header
    h2
        padding r(0.2rem) 0 r(0.6rem)
        font-family proxSbold
    p
      color gray
      line-height 1.2
      small
        fs(1.6rem)
    
.content-list__header-border
    height r(0.2rem)
    @extend .gradient5--vertical
    margin-top r(2rem)
    
.content-list__item
    padding r(2rem) 0
    border-bottom 1px solid backgray
    position relative
    
    h4
        color darkgray
        font-family proxReg
        upcase()
        display inline-block
        vertical-align middle
        
    .icon
        size r(1.6rem)
        margin-right r(0.5rem)
        top r(-0.3rem)
        position relative
        
    p
        color darkblue
        display inline-block
        max-width 90%
        height r(2.4rem)
        overflow hidden
        white-space nowrap
        +below(540px)
            height r(2.6rem)
        a
          color inherit
          border-bottom none
          cursor pointer       

.content-list__item-CTA
    position absolute
    top 0
    bottom 0
    right r(1rem)
    margin auto
    size r(1.7rem) r(2.7rem)
    color blue
    a
      border-bottom none
      color inherit
    
.content-list__footer
    margin-top r(3rem)
    text-align center
    