/*!**
    title: Flow Box Small
    section: Box Modules
    example: |
        <article style="background: url(http://placehold.it/350x350) no-repeat" class="flow-box">
          <div class="flow-box__gradient-bg">
            <h4 class="flow-box__tag"><i class="icon">
                <svg viewbox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_pdf"></use>
                </svg></i><strong>Article</strong>  |  Added for you on 12.14.14</h4>
            <div class="flow-box__content">
              <div class="flow-box__title">
                <h2>A Systematic Approach To Optimizing Collateral</h2>
              </div>
              <div class="flow-box__CTA-description truncate">
                <p>A Systematic Approach To Optimizing Collateral</p>
              </div>
              <div class="flow-box__CTA"><i class="flow-box__CTA--left">
                  <svg viewbox="0 0 100 100" class="is-empty">
                    <use xlink:href="includes/symbols.svg#icon_star"></use>
                  </svg>
                  <svg viewbox="0 0 100 100" class="is-filled">
                    <use xlink:href="includes/symbols.svg#icon_star-filled"></use>
                  </svg><span class="flow-box__CTA__alt-text">Save</span></i><i class="flow-box__CTA--right">
                  <svg viewbox="0 0 100 100" class="is-empty">
                    <use xlink:href="includes/symbols.svg#icon_triangle"></use>
                  </svg>
                  <svg viewbox="0 0 100 100" class="is-filled">
                    <use xlink:href="includes/symbols.svg#icon_triangle-filled"></use>
                  </svg><span class="flow-box__CTA__alt-text">View</span></i></div>
            </div>
          </div>
        </article>
***/

.flow-box
    display inline-block
    position relative
    height r(26rem)
    color darkblue
    background-size cover !important
    background-position 50% 50% !important
    border-bottom 2px solid gray
    border-left 1px solid #e3e3e3
    border-right 1px solid #e3e3e3
    text-align left
    h3
        font-family proxSbold

.flow-box__gradient-bg
    // background: linear-gradient(0deg, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.90) 62%,rgba(255,255,255,0) 78%)
    background: url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAEFCAYAAAArGC1RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAINJREFUeNrs1csOgDAIRNGWvvT/P7i6NhgnIbi6Jt2cMMDCqu29y/NYcR4QBOPY71M9bH9Uvq7k9uxy5fDQ5J5BnDK6e54eLg8Puacen3J8xeJDXkmPj9iees8eqwy+tC0B9att8i02eVCNDdJ66vGMQRkfan5nIAiCIAiCIAh+4iXAALhLEmsq24dNAAAAAElFTkSuQmCC')) repeat-x
    background-position 0% 100%
    top 0
    bottom 0
    left 0
    right 0
    width 100%
    height 100%
    padding r(2.2rem)
    
.flow-box__content
    position relative
    height 100%
    padding-top r(6rem)

.flow-box__tag
    display inline-block
    background-color blue
    color white
    padding r(0.4rem) r(1rem)
    // min-width 18rem
    position absolute
    left 0
    top r(1.1rem)
    vertical-align baseline
    font-family proxLight
    fs(1.4rem)
    strong
        upcase()
    .icon
        color white
        size r(1.2rem)
        margin-right r(0.6rem)
        vertical-align inherit
        
.flow-box__meta-img
    display inline-block
    vertical-align middle
    margin 0 r(1rem)
    img
        border-radius 50%

.flow-box__tag,
.flow-box__meta-text
    i
        color white
        size r(1.2rem)
            
.flow-box__meta-text
    display inline-block
    vertical-align middle
    h4, p
        line-height 1.1
    
.flow-box__meta
    background-color white
    position absolute
    top 0
    left 0
    width 100%
    padding r(0.5rem) r(1rem)
    p
        color black
        
.flow-box__title
    color darkblue
    &:hover
        color darkblue
    h2
        max-height r(6.2rem)
        overflow hidden
        +below(1024px)
            fs(2.4rem)
    h5
        max-height r(18.7rem)
        overflow hidden
        font-family proxSbold
        
.flow-box__CTA
    color blue
    position absolute
    bottom 0
    width 100%
    height r(5rem)
    border-top 1px solid currentColor
    cf()

.flow-box__CTA-description
    padding r(1rem) 0 0 0 
    color black 
    height r(3.5rem)
    strong, b
        display block
        
.flow-box__CTA-description.truncate
    left 0
    right 0
    overflow hidden
    position: absolute
    p
        width 100%
        overflow hidden
        white-space: nowrap
        text-overflow: ellipsis
    
    
.flow-box__CTA-icon
    position absolute
    bottom 0
    size r(3rem)
    overflow visible
    font-family proxLight
    svg
        transition all 0.2s ease-out
        position: absolute
        bottom 0
        size r(3rem)

    &:hover
        svg
            transform translateY(r(-1rem))
        .flow-box__CTA__alt-text
            opacity 1
            top 100%
            transition opacity 0.1s cubic-bezier(.73,.88,0,1.1), top 0.3s cubic-bezier(.73,.88,0,1.1)

.flyout-is-active
    .flow-box__CTA--share
        .is-filled
            opacity 1

.flow-box__CTA--left
    left 0
    float left
    
.flow-box__CTA--right
    right 0
    float right

.flow-box__CTA--share
    left r(7rem)
    +below(768px)
       display none

.flow-box__share-flyout-wrapper
    left r(12rem)
    bottom 0
    position absolute
    overflow hidden
    width r(30rem)
    height r(3rem)
        
.flow-box-flyout__icon.share-flyout__icon
    display inline-block
    margin 0 r(1.6rem)
    size r(3rem)
    svg
        transform none
        position static
        size 100%
    
.flow-box__share-flyout-wrapper
    .flow-box__share-flyout
        transform translateX(-100%)
        transition transform 0.4s cubic-bezier(.4,-0.17,.33,1)
        // z-index -1
// .flyout-is-active
//     .flow-box__share-flyout-wrapper
//         .flow-box__share-flyout
//             transform translateX(0%)
//             transition transform 0.4s cubic-bezier(.73,.88,0,1.02)

.flow-box__CTA__alt-text
    fs(1.4rem)
    align()
    opacity 0
    transition opacity 0.2s cubic-bezier(.73,.88,0,1.1) 0.05s, top 0.3s cubic-bezier(.73,.88,0,1.1)
    margin-top 0
    cursor: pointer
    
/*!**
  title: Flow Box Large
  section: Box Modules
  example: |
    <article style="background: url(http://placehold.it/550x550) no-repeat" class="flow-box flow-box--large">
        <div class="flow-box__gradient-bg">
          <h4 class="flow-box__tag"> <i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_pdf"></use>
              </svg></i><strong>Article</strong>  |  Added for you on 12.14.14</h4>
          <div class="flow-box__content">
            <div class="flow-box__title">
              <h3>Healthcare Consumerism:</h3>
              <h5>The Rise of the Empowered Healthcare Consumer</h5>
              <div class="flow-box__CTA-description">
                <p><strong>A shift to individual healthcare.</strong>Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars.</p>
              </div>
            </div>
            <div class="flow-box__CTA"><i class="flow-box__CTA--left">
                <svg viewbox="0 0 100 100" class="is-empty">
                  <use xlink:href="includes/symbols.svg#icon_star"></use>
                </svg>
                <svg viewbox="0 0 100 100" class="is-filled">
                  <use xlink:href="includes/symbols.svg#icon_star-filled"></use>
                </svg><span class="flow-box__CTA__alt-text">Save</span></i><i class="flow-box__CTA--share share-flyout__trigger js-share-flyout__trigger">
                <svg viewbox="0 0 100 100" class="is-empty">
                  <use xlink:href="includes/symbols.svg#icon_share"></use>
                </svg>
                <svg viewbox="0 0 100 100" class="is-filled">
                  <use xlink:href="includes/symbols.svg#icon_share-filled"></use>
                </svg><span class="flow-box__CTA__alt-text">Share</span></i>
              <component class="flow-box__share-flyout-wrapper js-share-flyout">
                <div class="flow-box__share-flyout share-flyout">
                  <div class="flow-box-flyout__icon share-flyout__icon">
                    <svg viewbox="0 0 100 100">
                      <use xlink:href="includes/symbols.svg#icon_email"></use>
                    </svg>
                  </div>
                  <div class="flow-box-flyout__icon share-flyout__icon">
                    <svg viewbox="0 0 100 100">
                      <use xlink:href="includes/symbols.svg#icon_twitter"></use>
                    </svg>
                  </div>
                  <div class="flow-box-flyout__icon share-flyout__icon">
                    <svg viewbox="0 0 100 100">
                      <use xlink:href="includes/symbols.svg#icon_facebook"></use>
                    </svg>
                  </div>
                  <div class="flow-box-flyout__icon share-flyout__icon">
                    <svg viewbox="0 0 100 100">
                      <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
                    </svg>
                  </div>
                </div>
              </component><i class="flow-box__CTA--right">
                <svg viewbox="0 0 100 100" class="is-empty">
                  <use xlink:href="includes/symbols.svg#icon_triangle"></use>
                </svg>
                <svg viewbox="0 0 100 100" class="is-filled">
                  <use xlink:href="includes/symbols.svg#icon_triangle-filled"></use>
                </svg><span class="flow-box__CTA__alt-text">View</span></i>
            </div>
          </div>
        </div>
      </article>
***/

.flow-box.flow-box--large
    height r(56rem)
    .flow-box__content
        padding-top r(16rem)
    +below(768px)
        .flow-box__content
            padding-top r(10rem)
            h5
                padding-bottom r(2rem)
    +below(540px)
        height r(26rem)
        .flow-box__content
            padding-top r(7rem)
    +above(540px)
        .flow-box__gradient-bg
            //     background: linear-gradient(20deg, rgba(255,255,255,0.96) 0%,rgba(255,255,255,0.90) 62%,rgba(255,255,255,0.7) 70%, rgba(255,255,255,0) 78%)
            background: url(unquote('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAIwCAYAAABOR6HSAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL1JREFUeNrs10EOgzAMRFGwuf+V064rkEzN2EH5SGyeMB6SCMI+xth+D9tODhAEQRCcAY/vuVfcM94oXr7yPS/LrSK8IlK8/N5juqA8OXSWa2SCSJ5rZP8/ZnLe741nfJAPwdAlc7ogkgsWgwsilc1RcjbjOW2+Na9Y3iZYyWUvVRO8k+0l3WPlD+wuFJ+z3kZlO6u+3Voy5yJX9jbqDT/hn2lvo0V+/0EQBEEQBEEQBEEQBEEQBEHwpfgRYAAX8wlyL6yh1wAAAABJRU5ErkJggg==')) repeat-x
            background-position 0% 100%
    .flow-box__icon
        right r(3.5rem)
    .flow-box__CTA-description
        height r(8rem)
    +below(540px)
        height auto
        .flow-box__CTA
            height auto
            position: relative
            bottom 0
            padding-top r(2rem)
        .flow-box__CTA-description
            padding r(1rem) 0
            display none
        .flow-box__CTA--left,
        .flow-box__CTA--right,
        .flow-box__CTA--share
            bottom 0
            position: relative