// FLOW BOX ////////////////////////////////////

/*!**
    title: Flow Box Small
    section: Box Modules
    example: |
        <div class="flow-box gradient1--vertical" style='width: 340px; height: 260px;'>
            <div class="flow-box__tag">
                <h4>Article | <i><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_share"></use></svg></i> <span>10k</span></h4>
            </div>
            <i class="flow-box__icon">
                <svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_pdf">
            </i>
            <div class="flow-box__content">
                
                <div class="flow-box__title">
                    <h2>A Systematic Approach To Optimizing Collateral</h2>
                </div>
                <div class="flow-box__CTA">
                    <i class="flow-box__CTA--left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-26 28 46 46"><title>star filled</title><path stroke="#000" stroke-width="2.813" d="M17.6 44.3H3L-2.2 30c-.1-.4-.5-.6-.8-.6-.4 0-.7.2-.8.6L-9 44.3h-14.6c-.4 0-.7.2-.8.6-.1.4 0 .7.3 1l12.1 9.3-5.2 15.2c-.1.4 0 .8.3 1 .3.2.7.2 1.1 0L-3 62.1l12.9 9.3c.2.1.3.2.5.2s.4-.1.5-.2c.3-.2.4-.6.3-1L6.1 55.2l12.1-9.3c.3-.2.4-.6.3-1-.1-.3-.5-.6-.9-.6z"/></svg>
                    </i>
                    <i class="flow-box__CTA--right">
                       <svg viewBox="0 0 100 100">
                          <use xlink:href="includes/symbols.svg#icon_carrot"></use>
                       </svg>
                    </i>
                </div>
            </div>
        </div>
        <div class="flow-box gradient1--vertical" style='width: 340px; height: 260px;'>
            <div class="flow-box__meta">
                <div class='flow-box__meta-img'>
                    <img data-src="holder.js/44x44/size:6/#c4bdc0:#fff">
                </div>
                <div class='flow-box__meta-text'>
                    <p><strong>Added by Kyla Medina</strong></p>
                    <h4>Article | <i><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_share"></use></svg></i> <span>10k</span></h4>
                </div>
            </div>
            <div class="flow-box__content">
                <div class="flow-box__title">
                    <h2>A Systematic Approach To Optimizing Collateral</h2>
                </div>
                <div class="flow-box__CTA">
                    <i class="flow-box__CTA--left">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="-26 28 46 46"><title>star filled</title><path stroke="#000" stroke-width="2.813" d="M17.6 44.3H3L-2.2 30c-.1-.4-.5-.6-.8-.6-.4 0-.7.2-.8.6L-9 44.3h-14.6c-.4 0-.7.2-.8.6-.1.4 0 .7.3 1l12.1 9.3-5.2 15.2c-.1.4 0 .8.3 1 .3.2.7.2 1.1 0L-3 62.1l12.9 9.3c.2.1.3.2.5.2s.4-.1.5-.2c.3-.2.4-.6.3-1L6.1 55.2l12.1-9.3c.3-.2.4-.6.3-1-.1-.3-.5-.6-.9-.6z"/></svg>
                    </i>
                    <i class="flow-box__CTA--right">
                       <svg viewBox="0 0 100 100">
                          <use xlink:href="includes/symbols.svg#icon_carrot"></use>
                       </svg>
                    </i>
                </div>
            </div>
        </div>
***/

.flow-box
    padding 2.2rem
    display inline-block
    position relative
    height 26rem
    &.gradient1--vertical
        color darkblue
    &.gradient2--vertical
        color darkgreen

.no-gradient .flow-box
    color darkblue !important

.flow-box__content
    position relative
    height 100%
    margin-top 5rem

.flow-box__tag
    display inline-block
    background-color white
    color currentColor
    padding 0.4rem 1rem
    min-width 18rem
    position absolute
    left 2.2rem
    top 2.2rem
    vertical-align baseline
    .icon
        color gray
        size 1.2rem
        margin-right 0.4rem
        vertical-align inherit
    h4 
        span
            font-family proxReg

.flow-box__meta-img
    display inline-block
    vertical-align middle
    margin 0 1rem
    img
        border-radius 50%

.flow-box__tag,
.flow-box__meta-text
    i
        color gray
        size 1.2rem
        [fill]
            fill currentColor
            
.flow-box__meta-text
    display inline-block
    vertical-align middle
    h4, p
        line-height 1.1
    
.flow-box__meta
    background-color white
    position absolute
    top 0
    left 0
    width 100%
    padding 0.5rem 1rem
    p
        color black

.flow-box__icon
    color white
    position absolute
    top 2.2rem
    right 2.2rem
    size 2.5rem

.flow-box__title
    color white
    margin 2rem 0
    p
        padding-top 3.6rem
    h2
        max-height 9.6rem
        overflow hidden
        @media screen and (max-width: 1024px)
            fs(2.4rem)
    h5
        max-height 18.7rem
        overflow hidden
        
.flow-box__CTA
    color blue
    position absolute
    bottom 5rem
    width 100%
    height 5rem
    border-top 1px solid currentColor

.flow-box__CTA-description
    padding 3rem 0
    color white 
    strong, b
        display block
    

.flow-box__CTA--left,
.flow-box__CTA--right,
.flow-box__CTA--share
    position absolute
    bottom 0
    size 3rem
    svg
        path
            stroke currentColor
            fill transparent
    
.flow-box__CTA--left
    left 0
    
.flow-box__CTA--right
    right 0

.flow-box__CTA--share
    left 7rem

/*!**
  title: Flow Box Large
  section: Box Modules
  example: |
    <div class="flow-box flow-box--large gradient2--vertical" style='width: 715px; height: 560px;'>
        <div class="flow-box__tag">
            <h4>Article | <i><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_share"></use></svg></i> <span>10k</span></h4>
        </div>
        <i class="flow-box__icon">
            <svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_pdf">
        </i>
        <div class="flow-box__content">
            <div class="flow-box__title">
                <h3>Healthcare Consumerism:</h3>
                <h5>The Rise of the Empowered Healthcare Consumer</h5>
                <p>Added for you on 12.14.14<p>
            </div>
            <div class="flow-box__CTA">
                <div class="flow-box__CTA-description">
                    <p>
                    <strong>
                        A shift to individual healthcare.
                    </strong>
                    Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars.
                    </p>
                </div>
                <i class="flow-box__CTA--left">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-26 28 46 46"><title>star filled</title><path stroke="#000" stroke-width="2.813" d="M17.6 44.3H3L-2.2 30c-.1-.4-.5-.6-.8-.6-.4 0-.7.2-.8.6L-9 44.3h-14.6c-.4 0-.7.2-.8.6-.1.4 0 .7.3 1l12.1 9.3-5.2 15.2c-.1.4 0 .8.3 1 .3.2.7.2 1.1 0L-3 62.1l12.9 9.3c.2.1.3.2.5.2s.4-.1.5-.2c.3-.2.4-.6.3-1L6.1 55.2l12.1-9.3c.3-.2.4-.6.3-1-.1-.3-.5-.6-.9-.6z"/></svg>
                </i>
                <i class='flow-box__CTA--share'>
                    <svg width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg"><title>share</title><path d="M14.22 19.716l17.25-8.784-17.25 8.784zm-.32 5.886l17.25 8.784-17.25-8.784zM43.08 8.11c0 3.374-2.735 6.11-6.11 6.11-3.374 0-6.11-2.736-6.11-6.11 0-3.375 2.736-6.11 6.11-6.11 3.375 0 6.11 2.735 6.11 6.11zM14.22 22.677c0 3.375-2.736 6.11-6.11 6.11-3.375 0-6.11-2.735-6.11-6.11 0-3.373 2.735-6.11 6.11-6.11 3.374 0 6.11 2.737 6.11 6.11zM43.08 37.224c0 3.376-2.735 6.11-6.11 6.11-3.374 0-6.11-2.734-6.11-6.11 0-3.373 2.736-6.11 6.11-6.11 3.375 0 6.11 2.737 6.11 6.11z" stroke="#000" stroke-width="2.813" fill="none" fill-rule="evenodd"/></svg>
                </i>
                <i class="flow-box__CTA--right">
                    <svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_carrot"></use></svg>
                </i>
            </div>
        </div>
     </div>
***/

    
// @media screen and (max-width: 768px)
//     // .flow-box__CTA-description
//     //     display none
//     .flow-box.flow-box--large
//         min-height 36rem

// @media screen and (max-width: 420px)
//     .flow-box.flow-box--large
//         min-height 34rem

        
// @media screen and (min-width: 768px)
.flow-box.flow-box--large
    padding 3.5rem
    height 56rem
    .flow-box__CTA
        height 16.2rem
    .flow-box__tag
        left 3.5rem
    .flow-box__icon
        right 3.5rem