/*!**
    title: Folder
    section: Box Modules
    example: |
      <a style="background:url(http://placehold.it/350x222) no-repeat" class="folder-module">
        <div class="folder__overlay"></div>
        <div class="folder__content">
          <p class="folder__alert"><span class="folder__alert-number"><span>1</span></span><span>New Video Added</span></p>
          <div class="folder__profile-pic">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#icon_default"></use>
            </svg>
          </div>
          <div class="folder__data">
            <p><strong>Favorites</strong></p><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#icon_files"></use>
              </svg></i><span>22</span><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#icon_collaborators"></use>
              </svg></i><span>100</span>
          </div>
          <div class="folder__CTA"><i class="folder__CTA--left">
              <svg viewbox="0 0 100 100" class="is-empty">
                <use xlink:href="#icon_exit"></use>
              </svg></i><i class="folder__CTA--right">
              <svg viewbox="0 0 100 100" class="is-empty">
                <use xlink:href="#icon_triangle"></use>
              </svg>
              <svg viewbox="0 0 100 100" class="is-filled">
                <use xlink:href="#icon_triangle-filled"></use>
              </svg></i></div>
        </div>
      </a>
***/
.folder-module
  col(4/12)
  height 22.2rem
  position relative
  padding 2.2rem
  color white
  box-shadow: 0 3px 3px -1px rgba(black,0.8)
  background-size cover !important
  background-position 50% 50% !important
  display block
  color white
  border-bottom none
  &:hover
    border-bottom none
    color white

.folder__overlay
  // background-color rgba(0,0,0, 0.7)
  background black vgradient1reverse
  position: absolute
  top 0
  bottom 0
  right 0
  left 0
  margin auto
  z-index: 1
  opacity 0.95

.no-gradient 
  .folder__overlay
    background-color #000 !important

.folder__content
  position relative
  z-index: 2
  height 20rem
  
.folder__profile-pic
  position absolute
  right 0
  top 0
  border-radius 50%
  overflow: hidden
  box-shadow: 0 2px 2px -1px rgba(black,0.5)
  size 4.4rem
    
.folder__alert
  fs(1.2rem)
  font-family proxRegIt
  position absolute
  left 0
  span
    display inline-block
    text-align center

.folder__alert-number
  size 1.5rem
  background-color heavymustard
  border-radius 50%
  overflow: hidden
  position relative
  display inline-block
  vertical-align top
  margin-right 0.8rem
  span
    align()
    font-family proxSbold

.folder__CTA
  color blue
  position absolute
  left 0rem
  right 0rem
  bottom 2rem
  height 5rem
  border-top 1px solid currentColor
  svg path
    fill blue

.folder__data
  position relative
  top 7.6rem
  i
    size 1.1rem
    margin-right 0.3rem
      
  span
    display inline-block
    margin-right 1rem
    vertical-align middle
            
.folder__CTA-icon
  position absolute
  bottom 0
  size 3rem
  font-family proxLight
  text-align center
  svg
    transition all 0.2s ease-out
    position: absolute
    size 3rem
    path
        stroke currentColor
        fill transparent
        
  .is-filled
    opacity 0
    z-index: 0
  .is-empty
    opacity 1
    z-index: 1
  &:hover
    .is-filled
      opacity 0.5
    .is-empty
      opacity 1
    svg
      transform translateY(-1rem)
    .folder__CTA__alt-text
      opacity 1
      top 100%
      transition opacity 0.1s cubic-bezier(.73,.88,0,1.1), top 0.3s cubic-bezier(.73,.88,0,1.1)

.folder__CTA--left
    left 0
    
.folder__CTA--right
    right 0

.folder__CTA__alt-text
  @extend .flow-box__CTA__alt-text
  
// Beyond here is styles that are section specific 

// FOLDER HEADLINE SECTION 
.folder-headline-section
  background-color darkblue
  background linear-gradient(35deg, darkblue 40%, lightblue 100%)
  .folder-module
    margin 0
  +below(1023px)
    .folder-module
      float none
      width 34rem
      margin 0 auto 4rem auto !important
    .button--primary
      align(horizontal)
  +below(360px)
      .folder-module
        width 100%
        
.folder-headline-section__callout
  col(7/12, offset: 1/12)
  height 21rem
  position relative
  float right
  .folder-headline-section__callout-center
    align(vertical)
  h1
    text-align left
  p
    padding 1rem 0 2rem
    fs(1.5rem)
  +below(1140px)
    col(8/12)
    float right
    margin-left 3%
    margin-right 0%
  +below(1023px)
    stack()
    text-align center
    height auto
    min-height 21rem
    padding-bottom 2rem
    .folder-headline-section__callout-center
      position static
      transform none
    h1,
    p
      text-align center
  +below(420px)
    margin-bottom 3rem
    .button--primary
      margin auto

// FOLDER MODULE SECTION 
.section.folder-module-section
  background-color lightblue
  background vgradient3
  padding-top 0
  .folder-module
    margin 2rem auto
    col(4/12, cycle: 3)
    +below(1140px)
      col(6/12, uncycle: 3, cycle: 2)
    +below(768px)
      stack()
      max-width 42rem
      margin 2rem auto !important
      float none !important
      &:nth-child(n+4)
        display none
    &:nth-child(2n)
      .folder__overlay
        background-color green
        background vgradient2reverse
    