// FOLDER ////////////////////////////////////

/*!**
    title: Folder
    section: Box Modules
    example: |
        <div class="folder-module">
        
        </div>
***/

.folder-module
  col(4/12)
  // height 22.2rem