// FOLDER ////////////////////////////////////

/*!**
    title: Folder
    section: Box Modules
    example: |
        <div class="folder-module gradient1--vertical">
            <p class="folder__alert">
              <span class="folder__alert-number"><span>1</span></span>
              <span>New Video Added<span>
            </p>
            <div class="folder__profile-pic">
              <img data-src="holder.js/44x44/size:6/#c4bdc0:#fff">
            </div>
            <div class="folder__data">
              <p><strong>Favorites</strong></p>
              <i class="icon">
                <svg viewBox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_files"></use>
                </svg>
              </i><span>1</span>
              <i class="icon">
                <svg viewBox="0 0 100 100">
                  <use xlink:href="includes/symbols.svg#icon_collaborators"></use>
                </svg>
              </i><span>2</span>
            </div>
            <div class="folder__CTA">
              <i class="folder__CTA--left">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="-26 28 46 46"><title>star filled</title><path stroke="#000" stroke-width="2.813" d="M17.6 44.3H3L-2.2 30c-.1-.4-.5-.6-.8-.6-.4 0-.7.2-.8.6L-9 44.3h-14.6c-.4 0-.7.2-.8.6-.1.4 0 .7.3 1l12.1 9.3-5.2 15.2c-.1.4 0 .8.3 1 .3.2.7.2 1.1 0L-3 62.1l12.9 9.3c.2.1.3.2.5.2s.4-.1.5-.2c.3-.2.4-.6.3-1L6.1 55.2l12.1-9.3c.3-.2.4-.6.3-1-.1-.3-.5-.6-.9-.6z"/></svg>
              </i>
              <i class="folder__CTA--right">
                <svg viewBox="0 0 100 100">
                   <use xlink:href="includes/symbols.svg#icon_caret"></use>
                </svg>
              </i>
            </div>
        </div>
***/
.folder-headline-section
  background-color darkblue
  background linear-gradient(35deg, darkblue 40%, lightblue 100%)
  .folder-module
    margin 0
  @media screen and (max-width: 1023px)
    .folder-module
      float none
      width 34rem
      margin 0 auto 4rem auto !important
    .button--primary
      align(horizontal)
  @media screen and (max-width: 360px)
      .folder-module
        width 100%

.folder-module
  col(4/12)
  height 22.2rem
  position relative
  padding 2.2rem
  color white
  box-shadow: 0 3px 3px -1px rgba(black,0.8)
  
.folder__profile-pic
  position absolute
  right 2.2rem
  top 2.2rem
  border-radius 50%
  overflow: hidden
  box-shadow: 0 2px 2px -1px rgba(black,0.5)
    
.folder__alert
  fs(1.2rem)
  font-family proxRegIt
  span
      display inline-block
      text-align center

.folder__alert-number
  size 1.5rem
  background-color heavymustard
  border-radius 50%
  overflow: hidden
  position relative
  display inline-block
  vertical-align top
  margin-right 0.8rem
  span
    align()
    font-family proxSbold

.folder__CTA
  color blue
  position relative
  top  7.6rem
  width 100%
  height 5rem
  border-top 1px solid currentColor

.folder__data
  position relative
  top 5.6rem
  i
    size 1.1rem
    margin-right 0.3rem
      
  span
    display inline-block
    margin-right 1rem
    vertical-align middle
            

.folder__CTA--left,
.folder__CTA--right,
.folder__CTA--share
  position absolute
  bottom 0
  size 3rem
  svg
      path
          stroke currentColor
          fill transparent

.folder__CTA--left
    left 0
.folder__CTA--right
    right 0
  
// Beyond here is styles that are section specific  
.folder-headline-section__callout
  col(7/12, offset: 1/12)
  height 21rem
  position relative
  float right
  .folder-headline-section__callout-center
    align(vertical)
  h1
    text-align left
  p
    padding 1rem 0 2rem
    fs(1.5rem)
  @media screen and (max-width: 1140px)
    col(8/12)
    float right
    margin-left 3%
    margin-right 0%
  @media screen and (max-width: 1023px)
    stack()
    text-align center
    height auto
    min-height 21rem
    padding-bottom 2rem
    > div
      position static
      transform none
    h1,
    p
      text-align center
  @media screen and (max-width: 420px)
    margin-bottom 3rem
    .button--primary
      margin auto
