// HEADERS ////////////////////////////////////

/*!**
  title: Main Header
  section: Headers
  example: |
    <div class="main-header gradient1--horizontal">
      <h1>Latest Thinking</h1>
      <p>Explore our industry-leading insight. Tailored to solve your unique business challenges.</p>
      <div class="subheader">Enhance with <i class="icon icon-linkedin"><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#logo_linkedin"></use></svg></i></p>
      <div>
      <a href="" class="button--primary icon--left icon--floating--right"><i class="icon"><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_linkedin"></use></svg></i>Sign In with Linkedin
      <i class="icon question-mark"><svg viewbox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_info"></use></svg></i>
      </a>
      <div>
      <a href="" class="button--silent">Or tell us about yourself</a>
    </div>
***/
.main-header
    height 50rem
    color white
    padding 7rem 0
    text-align center
    position relative
    @media screen and (max-width: 1140px)
      height auto
      padding 3rem 0 3rem 0
    .main-header__body-copy
        color blue
        padding 2rem 0 0 0
        font-family proxLight
        display block
        max-width 46rem
        margin auto
    .subheader
      color white
    .search-module--main
      position absolute
      bottom -9.2rem
      @media screen and (max-width: 1140px)
        position: absolute
        bottom -9.2rem
        width 100%
        left 0
        right 0
      @media screen and (max-width: 540px)
        bottom -8rem
  .icon.question-mark
    overflow visible
  @media screen and (min-width: 1140px)
    .profile-box-module
      top -2rem

.header--section
  padding 6rem 0
  h1
    color blue
  h1, h2, h3, h4, h5, h6, p
    text-align center
  p
    color gray
    
.headline-push
  col(7/12, offset: 1/12)
  text-align left
  h5
    text-align left
    font-family proxReg
    