/*!**
  title: Main Header
  section: Headers
  example: |
    <header style="background: url(&quot;http://placehold.it/2250x1000&quot;) no-repeat" class="main-header gradient1--horizontal color-bg">
      <div class="container">
        <h1>Explore our <span class="nowrap">industry-leading</span> insight. </h1>
        <p class="main-header__body-copy">Tailored to solve your unique business challenges.</p>
        <div class="main-header__button-container"><a href="/index-logged-in.html" class="button--primary icon--left"><i class="icon icon-linkedin">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#icon_linkedin"></use>
              </svg></i>Sign In with Linkedin</a><i data-modal-id="#modal-1" class="js-open-modal-module icon question-mark">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#icon_info"></use>
            </svg></i></div>
      </div>
      <div class="container main-header__search-container">
        <component class="search-module search-module--main has-dropdown">
          <div class="search__icon__wrapper">
            <div class="search__icon gradient6reverse--horizontal"><i>
                <svg viewbox="0 0 100 100">
                  <use xlink:href="#icon_search"></use>
                </svg></i></div>
          </div>
          <div class="search__dropdown js-dropdown-option-parent"><span data-default="All Industries" class="search__dropdown__active-selection js-dropdown-option-holder js-dropdown-trigger">All Industries</span><i class="search__dropdown__icon js-dropdown-trigger">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#icon_caret"></use>
              </svg></i><i class="icon search__icon--right search__icon-filter js-dropdown-trigger">
              <svg viewbox="0 0 100 100">
                <use xlink:href="#icon_filter"></use>
              </svg></i>
            <subcomponent class="contenteditable-dropdown">
              <ul>
                <li class="js-dropdown-option">All Industries</li>
                <li class="js-dropdown-option">Search Suggestion</li>
                <li class="js-dropdown-option">Another Suggestion</li>
                <li class="js-dropdown-option">Yet Anonther Suggestion</li>
                <li class="js-dropdown-option">Alternative Suggestion</li>
                <li class="js-dropdown-option">Possible Suggestion</li>
                <li class="js-dropdown-option">Consider this Suggestion</li>
                <li class="js-dropdown-option">One More Suggestion</li>
              </ul>
            </subcomponent>
          </div><i class="icon search__icon--right search__CTA">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#icon_triangle"></use>
            </svg></i>
          <input type="text" placeholder="Search Within Folders" class="search__input">
        </component>
      </div>
    </header>
***/
.main-header
  height 50rem
  color white
  padding-top 10rem
  text-align center
  position relative
  background-size cover !important
  background-position 50% 50% !important
  +below(1140px)
    height auto
    padding-bottom 10rem
  h1
    max-width 60rem
    margin auto
  h4
    upcase()
  .main-header__body-copy
      padding 1rem 0 0 0
      font-family proxLight
      display block
      max-width 46rem
      margin auto
  .subheader
    color white
        
  .icon.question-mark
    overflow visible
  .search-module
    z-index 10
  +above(1140px)
    .profile-box-module
      top -6.2rem

.header--section
  padding 6rem 0
  h1
    color blue
    padding-bottom 1rem
  h1, h2, h3, h4, h5, h6, p
    text-align center
  p
    color darkgray
    display block
    max-width 58rem
    margin auto

.main-header__button-container
  margin-top 12rem

.main-header__search-container
    position absolute
    bottom -3rem
    margin auto
    left 0
    right 0
    width 100%
    +below(768px)
      max-width 100%