// HEADLINE LIST ////////////////////////////////////

/*!**
  title: Headline List
  section: List Modules
  example: |
    <div class="headline-list-module">
      <div class="headline-list__items">
        <div class="headline-list__item">
     		<div class="headline-list__item-title-section">
     		  <h3>Latest Strategy #3</h3>
     		  <div class="row">
     		    <div class="headline-list__item-title-img">
     		      <img data-src="holder.js/100%x40/size:6/#50b3cf:#fff" alt=""i>
     		    </div>
     		    <div class="headline-list__item-title">Decisive <br>Infrastructure</div>
     		  </div>
     		</div>
     		<div class="headline-list__item-content">
     		  <p>There’s outsourcing, then there’s Smart Sourcing. Over the last two decades, Cognizant has built its business doing the latter. And it’s more than just labor arbitrage.</p>
     		</div>    
          <i class="headline-list__item-CTA">
            <img data-src="holder.js/20x35/size:6/#50b3cf:#fff" alt="">
          </i>
          
     	  </div>
      </div>
      <div class="headline-list__footer">
      	<a href='#' class='button--silent'>View SMAC</a>
      </div>
    </div>
***/

.headline-list-module
	position relative
	col(10/12, offset: 1/12)
	
.headline-list__items
	cf()
	
.headline-list__item
	overflow hidden
	height 100%
	padding 3.8rem 0
	position relative
	&:after
		content ''
		display block
		height 1px
		width 100%
		position absolute
		bottom 0
		@extend .gradient5--horizontal
	h4
		color darkgray
		font-family proxReg
	p
		color gray

.headline-list__item-title-section
	col(3/10)
	cf()
	h3
		color gray
		padding-bottom 1rem
	
.headline-list__item-title-img
	width 5.8rem
	display inline-block
	vertical-align middle

.headline-list__item-title
	fs(3.2rem)
	font-family proxBold
	line-height .875
	display inline-block
	vertical-align middle
	
.headline-list__item-content
	col(6/10)
	min-height 9rem
	position relative
	p
		color darkgray
		@extend $vertical-align
		
		
.headline-list__item-CTA
	height 100%
	position relative
	col(1/10)
	float right
	position absolute
	top 0
	bottom 0
	right 0rem
	img, svg
		width 2.5rem
		height 1.5rem
		position absolute
		top 0
		bottom 0
		margin auto
		left 0
		right 0
	
.headline-list__footer
	margin-top 3rem
	text-align center
	