/*!**
  title: Headline List
  section: List Modules
  description: A larger list for text and icon content
  example: |
    <component class="headline-list-module">
      <div class="headline-list__items"><a href="/latest-strategies.html" class="headline-list__item">
          <div class="headline-list__item-title-section">
            <h3>Latest Strategy #1</h3>
            <div class="row">
              <div class="headline-list__item-title-img"><svg id="data_science" xmlns="http://www.w3.org/2000/svg" viewBox="8.8 -14.6 75.4 50.4"><linearGradient id="icon_data-science" gradientUnits="userSpaceOnUse" x1="76.168" y1="-74.456" x2="95.128" y2="33.071" gradientTransform="matrix(.563 0 0 -.563 2.31 .145)"><stop offset="0" stop-color="#6DB33F"/><stop offset="1" stop-color="#72CDF4"/></linearGradient><path fill="url(#icon_data-science)" d="M82.9 33.2h-3.7v-46.5c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v46.5h-5V9.3c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v23.9h-5V1.7C44 1 43.3.4 42.7.4h-10c-.7 0-1.3.7-1.3 1.3v31.5h-5V19.3c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v13.9h-3.7c-.7 0-1.3.7-1.3 1.3 0 .7.7 1.3 1.3 1.3H82.9c.7 0 1.3-.7 1.3-1.3 0-.8-.4-1.3-1.3-1.3zm-66.5 0V20.6H24v12.6h-7.6zm17.6 0V3h7.6v30.2H34zm17.6 0V10.6h7.6v22.6h-7.6zm17.6 0V-12h7.6v45.2h-7.6z"/></svg></div>
              <div class="headline-list__item-title">
                <h3>Latest Strategy #3</h3>Decisive <br/>Infrastructure
              </div>
            </div>
          </div>
          <div class="headline-list__item-content">
            <p>There’s outsourcing, then there’s Smart Sourcing. Over the last two decades, Cognizant has built its business doing the latter. And it’s more than just labor arbitrage.</p>
          </div><i class="headline-list__item-CTA">
            <svg viewbox="0 0 100 100">
              <use xlink:href="#icon_triangle-filled"></use>
            </svg></i></a></div>
            <div class="headline-list__footer">
              <a href='#' class='button--silent'>View SMAC</a>
            </div>
    </component>
      
***/

.headline-list-module
    position relative
    col(10/12, offset: 1/12)
    +below(1140px)
        stack()
    
.headline-list__items
    cf()
    
.headline-list__item
    overflow hidden
    display block
    height 100%
    padding r(3.8rem) 0
    position relative
    +above(540px)
        &:first-of-type
            padding-top r(2.8rem)
    &:after
        content ''
        display block
        height 1px
        width 100%
        position absolute
        bottom 0
        @extend .gradient5--horizontal
    h4
        color darkgray
        font-family proxReg
    p
        color gray

.headline-list__item-title-section
    col(3/10)
    cf()
    
    h3
        color gray
        padding-bottom r(1rem)
        font-family proxSbold
    +below(940px)
        stack()
        > h3
            display none
    
.headline-list__item-title-img
    width r(5.8rem)
    display inline-block
    vertical-align middle
    padding r(0.5rem) r(1.2rem) 0 0
    +below(940px)
        padding 0
        col(1/10)
    +below(620px)
        col(2/10)
        padding 0 r(1.2rem) 0 r(0.5rem)
    +below(420px)
        col(2/10)
    +below(360px)
        col(3/10)

.lt-ie10 .headline-list__item-title-img
    height r(5.8rem)
    
.headline-list__item-title
    fs(2.8rem)
    font-family proxReg
    line-height 1
    display inline-block
    vertical-align top
    h3
        display none
        padding-top r(0.2rem)
        padding-bottom r(0.5rem)
    +between(1024px, 940px)
        fs(2.4rem)
    +below(940px)
        br
            display none
        h3
            display block
    +below(620px)
        col(8/10)
        fs(2.2rem)
        h3
            fs(1.3rem)
    +below(420px)
        col(7/10)
        

.headline-list__item-content
    col(6/10)
    min-height r(9rem)
    position relative
    p
        color darkgray
        align(vertical)
    +below(940px)
        col(8/10, offset: 1/10)
        margin-top r(2rem)
    +below(620px)
        stack()

.headline-list__item-CTA
    height 100%
    position relative
    col(1/10)
    float right
    position absolute
    top 0
    bottom 0
    right 0
    color blue
    img, svg
        width r(3.5rem)
        height r(2.5rem)
        position absolute
        top 0
        bottom 0
        margin auto
        left 0
        right 0
    +below(620px)
        display none
    
.headline-list__footer
    margin-top r(3rem)
    text-align center
    