// HEADERS ////////////////////////////////////

/*!**
  title: Main Header
  section: Headers
  example: |
    <div class="header--main gradient1--horizontal">
      <h1>Latest Thinking</h1>
      <p>Explore our industry-leading insight. Tailored to solve your unique business challenges.</p>
      <p class="subheader">Enhance with <i class="icon"><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#logo_linkedin"></use></svg></i></p>
      <div>
      <a href="" class="button--primary icon--left icon--floating--right"><i class="icon"><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_linkedin"></use></svg></i>Sign In with Linkedin
      <i class="icon question-mark"><svg viewbox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_info"></use></svg></i>
      </a>
      <div>
      <a href="" class="button--silent">Or tell us about yourself</a>
    </div>
***/
.header--main
    height 50rem
    color white
    padding 7rem 0
    text-align center
    position relative
    @media screen and (max-width: 1140px)
      height auto
      padding 3rem 0 1rem 0
    p
        color blue
        padding 2rem 0 0 0
        font-family proxLight
        display block
        max-width 46rem
        margin auto
    .subheader
        color white
        padding-bottom 9.5rem
        line-height 1.35
        i
            height 2.4rem
            width 9.1rem
            vertical-align top
    .search-module--main
      position absolute
      bottom -9.2rem
      @media screen and (max-width: 1140px)
        position: relative
        bottom -5.6rem
        
    @media screen and (max-width: 420px)
      .question-mark
        display none

.header--section
  padding 6rem 0
  h1
    color blue
  h1, h2, h3, h4, h5, h6, p
    text-align center
  p
    color gray