/*!**
  title: Profile Box Desktop
  section: Profile Box
  description: The box that appears when the user logs in.
  example: |
    <div class="profile-box-module">
      <div class="profile-box">
      <div class="profile-box">
        <div class="profile-box__indicator"></div>
        <div class="profile-box__default">
          <div class="profile-box__profile-pic"><img data-src="holder.js/110x110/" alt=""/></div><i class="profile-box__profile-icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
            </svg></i>
        </div>
        <div class="profile-box__aside"><i data-flyout="settings" class="icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_settings"></use>
            </svg></i>
          <div class="profile-box__notification"><span>3</span></div>
          <i data-flyout="notifications" class="icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_folders"></use>
            </svg></i>
        </div>
        <div class="profile-box__text">
          <h3>Good Morning</h3>
          <h2>Kyla Medina</h2>
          <p>VP, Healthcare IT Services</p>
        </div>
        <div class="profile-box__data">
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_location"></use>
              </svg></i><small>Dallas Fort Worth Area  </small></div>
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_industry"></use>
              </svg></i><small>Information Technology & Services.</small></div>
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_workplace"></use>
              </svg></i><small>United Healthcare</small></div>
        </div>
      </div>
      <div class="profile-box-flyout profile-box-flyout--settings">
        <header>
          <p>Settings</p>
          <hr/>
        </header>
        <div class="profile-box__button">
          <button class="button--silent">Edit Info</button>
        </div>
        <div class="profile-box__button">
          <button class="button--silent">Log Out</button>
        </div>
      </div>
      <div class="profile-box-flyout profile-box-flyout--notifications">
        <header>
          <p>Recent Activity</p>
          <hr/>
        </header>
        <div class="profile-box__list">
          <div class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong><a href="">Industry Friends</a></strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i>
          </div>
          <div class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong><a href="">Industry Friends</a></strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i>
          </div>
          <div class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong><a href="">Industry Friends</a></strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i>
          </div>
        </div>
        <button class="button--silent">View All</button>
      </div>
    </div>
***/
.profile-box-module
  position relative
  float left
  +below(1024px)
    display none
  
.profile-box
  position relative
  width 34rem
  height 39rem
  background-color: white
  padding 2rem 0 4rem
  overflow hidden
  z-index 2
  
.profile-box__default
  align(horizontal)
  
.profile-box__profile-pic
  overflow hidden
  border-radius 50%
  size 11rem

.profile-box__profile-icon
  size 2.6rem
  background-color gray
  color white
  border-radius 0.2rem
  position absolute
  top 8.4rem
  left 8.4rem
  svg
    size 1.8rem
    align()

.profile-box__text
  padding 0 5.4rem
  margin-top 14rem
  text-align left
  color black
  h3
    color gray
  p
    padding 2rem 0
  
.profile-box__data
  padding 0 3.2rem
  color black
  text-align left
  > div
    padding 0.3rem 0
  small
    display inline-block
    vertical-align middle
  .icon
    size 1.1rem
    margin-right 2rem
    vertical-align middle

.profile-box__aside
  position absolute
  right 2rem
  top 2rem
  .icon
    size 4.5rem
    padding 1rem
    color blue
    display block
    cursor pointer
    transition 0.3s ease
    &:hover
      color darkblue

.profile-box__notification
  @extend $notification-circle
  position absolute
  top 5rem
  left 0rem
  z-index: 1


// FLYOUT SECTION ///////////////////////////////

.compact-profile-box-module,
.profile-box-flyout
  header
    text-align left
  p
    fs(1.4rem)
  hr
    border-bottom 1px solid gray
    margin-bottom 2rem
    padding-top 0.2rem
  .button--silent
    color blue
    padding 0
    margin 1rem 0
    
.profile-box-flyout
  background-color backgray
  position absolute
  padding 2.6rem 1.8rem 1.8rem 4rem
  width 33rem
  top 0
  left 34rem
  max-height 39rem
  text-align center
  transform-origin 0% 50%
  animation slideshufflereverse 1s cubic-bezier(.73,.49,.28,1.21) 0s 1 
  animation-fill-mode forwards
  will-change: transform
  color black
  &.is-active
    animation slideshuffle 1.1s cubic-bezier(.73,.49,.28,1.21) 0s 1 
    animation-fill-mode forwards
  &.is-holding
    transform scale(1) translateX(0rem)
    animation none
    box-shadow: 2px 0px 1px 0px rgba(black,.7)
    z-index: 999
  &.is-closed
    animation none
    transform scale(0.9) translateX(-110%)
    z-index 0

.lt-ie10,
.no-csstransforms
  .profile-box-flyout
    display none
    z-index: 10
    &.is-active,
    &.is-holding
      display block
    &.is-closed
      display none
    

.profile-box__button
  text-align left

.profile-box__list-item
  position relative
  margin-top 0.4rem
  margin-bottom 1.4rem
  text-align left
  a
    color black
    border-bottom none
    &:hover
      color heavymustard
      border-bottom none
  p
    color gray
    line-height 1.2

.profile-box__list-notification
  @extend $notification-circle
  position absolute
  left -2.7rem
  top 0.3rem
  
.profile-box__list-CTA
  align(vertical)
  right 0
  size 2rem
  color blue


.profile-box__indicator
  position absolute
  width: 0
  height: 0
  border-style: solid
  border-width: 1.3rem 1.3rem 1.3rem 0
  border-color: transparent backgray transparent transparent
  left -1.2rem
  
.profile-box-flyout--settings
  .profile-box__indicator
    top 2.9rem
    
.profile-box-flyout--notifications
  .profile-box__indicator
    top 7.5rem
    
/////////////////////////////////////////////////
// HEADLINE NEXT TO PROFILE BOX ON DESKTOP //////
/////////////////////////////////////////////////
.profile-box__headline-push
  col(7/12, offset: 1/12)
  position relative
  z-index 0
  h4
    text-align left
  h5
    text-align left
    font-family proxReg
  +between(1140px, 1024px)
    col(7/12)
    float right
    .headline-push__center
      align(vertical)
  +below(1024px)
    stack()
    height 30rem !important
    h4, h5
      text-align center
    .headline-push__center
      align(vertical)
  