/*!**
  title: Profile Box Desktop
  section: Profile Box
  description: The box that appears when the user logs in.
  example: |
    <component class="profile-box-module js-equal-height">
      <div class="profile-box">
        <div class="profile-box__default">
          <div class="profile-box__profile-pic"><img src="http://placehold.it/110x110" alt=""></div><i class="profile-box__profile-icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
            </svg></i>
        </div>
        <div class="profile-box__aside"><i data-flyout="settings" class="icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_settings"></use>
            </svg></i>
          <div class="profile-box__notification"><span>3</span></div><i data-flyout="notifications" class="icon">
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_folders"></use>
            </svg></i>
        </div>
        <div class="profile-box__text">
          <h3>Good Morning</h3>
          <h2>Kyla Medina</h2>
          <p>VP, Healthcare IT Services</p>
        </div>
        <div class="profile-box__data">
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_location"></use>
              </svg></i><small>Dallas Fort Worth Area </small></div>
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_industry"></use>
              </svg></i><small>Information Technology &amp; Services.</small></div>
          <div><i class="icon">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_workplace"></use>
              </svg></i><small>United Healthcare</small></div>
        </div>
      </div>
      <subcomponent class="profile-box-flyout profile-box-flyout--settings">
        <div class="profile-box__indicator"></div>
        <header>
          <p>Settings</p>
          <hr>
        </header>
        <div class="profile-box__button">
          <button class="button--silent js-edit-profile">Edit Info</button>
        </div>
        <div class="profile-box__button"><a href="/" class="button--silent">Log Out</a></div>
      </subcomponent>
      <subcomponent class="profile-box-flyout profile-box-flyout--notifications">
        <div class="profile-box__indicator"></div>
        <header>
          <p>Recent Activity</p>
          <hr>
        </header>
        <div class="profile-box__list"><a class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong>Industry Friends</strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i></a><a class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong>Industry Friends</strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i></a><a class="profile-box__list-item">
            <div class="profile-box__list-notification"><span>1</span></div>
            <p><strong>Industry Friends</strong></p>
            <p>Invited by Larry</p><i class="icon profile-box__list-CTA">
              <svg viewbox="0 0 100 100">
                <use xlink:href="includes/symbols.svg#icon_caret"></use>
              </svg></i></a>
        </div>
        <button class="button--silent">View All</button>
      </subcomponent>
    </component>
***/
.profile-box-module
  position relative
  float left
  +below(1024px)
    display none
  
.profile-box
  position relative
  width r(34rem)
  height r(39rem)
  background-color: white
  padding r(2rem) 0 r(4rem)
  overflow hidden
  z-index 2
  
.profile-box__default
  align(horizontal)
  
.profile-box__profile-pic
  overflow hidden
  border-radius 50%
  size r(11rem)

.profile-box__profile-icon
  size r(2.6rem)
  background-color gray
  color white
  border-radius r(0.2rem)
  position absolute
  top r(8.4rem)
  left r(8.4rem)
  svg
    size r(1.8rem)
    align()

.profile-box__text
  padding 0 r(5.4rem)
  margin-top r(14rem)
  text-align left
  color black
  h3
    color gray
  p
    padding r(2rem) 0
  
.profile-box__data
  padding 0 r(3.2rem)
  color black
  text-align left
  > div
    padding r(0.3rem) 0
  small
    display inline-block
    vertical-align middle
  .icon
    size r(1.1rem)
    margin-right r(2rem)
    vertical-align middle

.profile-box__aside
  position absolute
  right r(2rem)
  top r(2rem)
  .icon
    size r(4.5rem)
    padding r(1rem)
    color blue
    display block
    cursor pointer
    transition 0.3s ease
    &:hover
      color darkblue

.profile-box__notification
  @extend $notification-circle
  position absolute
  top r(5rem)
  left 0
  z-index: 1


// FLYOUT SECTION ///////////////////////////////

.compact-profile-box-module,
.profile-box-flyout
  header
    text-align left
  p
    fs(1.8rem)
  hr
    border-bottom r(0.1rem) solid gray
    margin-bottom r(1rem)
    padding-top r(0.2rem)
  .button--silent
    color blue
    padding 0
    margin r(1rem) 0
    
.profile-box-flyout
  background-color backgray
  position absolute
  padding r(2.6rem) r(1.8rem) r(1.8rem) r(4rem)
  width r(33rem)
  top 0
  left r(34rem)
  max-height r(39rem)
  text-align center
  transform-origin 0% 50%
  animation slideshufflereverse 1s cubic-bezier(.73,.49,.28,1.21) 0s 1 
  animation-fill-mode forwards
  will-change: transform
  color black
  &.is-active
    animation slideshuffle 1.1s cubic-bezier(.73,.49,.28,1.21) 0s 1 
    animation-fill-mode forwards
  &.is-holding
    transform scale(1) translateX(0)
    animation none
    box-shadow: 1px 2px 2px -1px rgba(black,.2)
    z-index: 999
  &.is-closed
    animation none
    transform scale(0.9) translateX(-110%)
    z-index 0

.lt-ie10,
.no-csstransforms
  .profile-box-flyout
    display none
    z-index: 10
    &.is-active,
    &.is-holding
      display block
    &.is-closed
      display none
    
.profile-box__button
  text-align left

.profile-box__list-item
  position relative
  padding-top r(1rem)
  padding-bottom r(1rem)
  text-align left
  display block
  border-bottom none
  strong
    color black
    border-bottom none
  &:hover
    border-bottom none
    strong
      color heavymustard
      border-bottom none
  a
    border-bottom 0px solid transparent 
  p
    color gray
    line-height 1.2

.profile-box__list-notification
  @extend $notification-circle
  position absolute
  left r(-2.7rem)
  top r(1rem)
  
.profile-box__list-CTA
  top 0
  bottom 0
  position absolute
  right 0
  size r(2rem)
  color blue
  transition 0.3s ease-out

.profile-box__indicator
  position absolute
  left r(-1.2rem)
  
.profile-box-flyout--settings
  .profile-box__indicator
    top r(2.9rem)
    
.profile-box-flyout--notifications
  .profile-box__indicator
    top r(7.5rem)
    
/////////////////////////////////////////////////
// HEADLINE NEXT TO PROFILE BOX ON DESKTOP //////
/////////////////////////////////////////////////
.profile-box__headline-push
  col(7/12, offset: 1/12)
  position relative
  z-index 0
  h4
    text-align left
  h5
    text-align left
    font-family proxReg
  +between(1024px,1140px)
    col(7/12)
    float right
    .headline-push__center
      align(vertical)
  +below(1024px)
    stack()
    height r(30rem) !important
    h4, h5
      text-align center
    .headline-push__center
      align(vertical)
  