.search-module--main
  col(1/1)
  color white
  position relative
  // overflow hidden
  cf()

input,
input[type=text],
div
  &.search__input
    padding 0 r(9.4rem)
    height r(6.4rem)
    fs(1.8rem)
    color darkgray
    font-family proxReg
    background-color white
    width 100%
    text-align left
    +below(768px)
      fs(1.4rem)
      padding 0 r(8.6rem)
      margin-right r(-8.6rem)
    +below(341px)
      padding-right r(1rem)
      margin-right r(-1rem)

div.search__input
  text-align left
  color gray
  font-family proxRegIt
  line-height r(6.4rem)
          
+above(768px)
  .has-dropdown
    input,
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=number],
    input[type=password],
    textarea,
    div
      &.search__input
        padding-left r(33rem)

.search__input::-webkit-input-placeholder
  font-family proxRegIt
  color gray

.search__input::input-placeholder
  font-family proxRegIt
  color gray


.search__icon,
.search__share .share-flyout__trigger,
.search__share
  size r(6.4rem)
  display: block
  position absolute
  top 0
  z-index 1
  
.search__icon__wrapper
  overflow: hidden
  width r(7.6rem)
  height r(6.4rem)
  display: block
  position absolute
  top 0
  z-index 1

.search__icon
  left 0
  z-index 11
  background green hgradient66
  transition all 0.4s ease-out
  transform translate(0%)
  color white
  &.is-blue
    background-color darkblue
  &:hover
    color white
  svg
    size r(3rem)
    align()
    z-index: 1
    
.ios5,
.ios6
  .search__icon:before
    display none !important
    
.gradient
  .search__icon
    &:before
      content ''
      display block
      position absolute
      right r(-1.3rem)
      z-index: -1
      top 0
      bottom 0
      margin auto
      width 0
      height 0
      border-style solid
      border-width r(1.3rem) 0 r(1.3rem) r(1.5rem)
      border-color transparent transparent transparent #6db33f
    &.is-blue
      background-color darkblue
      background darkblue vgradient3flat
      &:before
        border-color transparent transparent transparent lightblue
    
.no-gradient,
.lt-ie10
  .search__icon:before
    display none

.search__share
  position absolute
  height r(6.4rem)
  right 0
  width r(6.4rem)
  background-color lightblue
  .share-flyout__trigger
    position relative
    background-color blue
    transition background-color 0.2s ease
    &:hover
      background-color lightblue
      transition background-color 0.3s ease
    svg
      size r(4.2rem)
      top r(1.1rem)
      position absolute
      right r(1.1rem)
      z-index: 1

.search__share-flyout__wrapper
  overflow hidden
  width r(33rem)
  top 0
  display inline-block
  position absolute
  right 0
  height r(6.4rem)
  transition all 0.4s ease-in
  &.has-padding
    padding-right r(6.4rem)
  .is-filled
    opacity 0
  
.search__share-flyout.share-flyout
  transform translateX(100%)
  width r(33rem)
  height r(6.4rem)
  top 0
  display inline-block
  position absolute
  right 0
  cf()
  transition: transform .4s cubic-bezier(.4, -.17, .33, 1) 0.1s
  .share-flyout__icon
    size r(6.6rem) r(6.4rem)
    float left
    border-right 1px solid rgba(darkblue, 0.2)

.search__share-flyout__wrapper.flyout-is-active
  .is-filled
    opacity 1
  .share-flyout__trigger:hover
    .is-filled
      opacity 0.5
  .share-flyout__trigger
    background-color transparent
    transition background-color 0.3s ease 0.3s
  .search__share-flyout
    transform translateX(0)

.search__smart-search
  cursor pointer
  width r(16rem)
  height r(2rem)
  color blue
  position: absolute
  left r(8rem)
  top 0
  bottom 0
  margin auto
  fs(1.6rem)
  border-right 1px solid gray
  p
    line-height 1.3
  +below(540px)
    display none
    
+above(540px)
  .has-smartsearch 
    input,
    input[type=text],
    div
      &.search__input
        padding-left r(26rem)

.search__icon--right
  right r(2rem)
  size r(2.8rem)
  top 0
  bottom 0
  margin auto
  z-index 1
  color gray
  &.push-left
    right r(9rem)
  &.search__icon-filter
    top r(-6.4rem)

.search__CTA
  align(vertical)
  right r(3rem)
  opacity 0
  transition 0.3s ease-out
  color gray
  +below(768px)
    display none
    
  &.is-active
    right r(2rem)
    opacity 1
    &.push-left
      right r(9rem)
  svg
    position absolute
    transition 0.3s ease
  .is-empty
    z-index 1
      
.cogv1_search__right-icon
  cursor pointer
  position absolute
  size r(11rem) r(6.4rem)
  top 0
  transition 0.2s ease-out
  svg
    size r(2.8rem)
    align()
    z-index: 1
    
.cogv1_search__list-notification
  left r(-1.9rem)
  top r(0.1rem)
  
.cogv1_search__list-item
  padding 0 0 r(2rem) r(1rem)
  
.cogv1_search__indicator
  top r(-1.8rem)
  transform rotate(90deg)
  transform-origin 50% 50%
  border-color: transparent white transparent transparent
  left auto

.cogv1_search__flyout__indicator
  top r(-1.8rem)
  right r(26.9rem)
  position absolute
  transform rotate(90deg)
  transform-origin 50% 50%
  border-color: transparent white transparent transparent
  +below(768px)
    right r(9rem)

.cogv1_search__flyout__add
  position relative
  color gray
  text-align left
  padding-left r(4rem)
  position relative
  svg
    position absolute
    size r(2rem)
    left r(-0.5rem)
    top 0
    bottom 0
    margin auto
     
.cogv1_search__flyout__list
  color black
  text-align left
  padding 0 r(4rem)
  margin r(1.5rem) 0
  position relative
  &:before
    content ''
    display inline-block
    background-color blue
    position absolute
    top r(-0.1rem)
    bottom 0
    margin auto
    left 0
    size r(1rem)
  