/*!**
  title: Main Search with Share Flyout
  section: Search
  example: |
    <component class="search-module search-module--main has-dropdown">
      <div class="search__icon__wrapper">
        <div class="search__icon gradient6reverse--horizontal">
          <i>
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_search"></use>
            </svg>
          </i>
        </div>
      </div>
      <div class="search__dropdown js-dropdown-option-parent">
        <span data-default="All Industries" class="search__dropdown__active-selection js-dropdown-option-holder js-dropdown-trigger">All Industries
        </span>
        <i class="search__dropdown__icon js-dropdown-trigger">
          <svg viewbox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_caret"></use>
          </svg>
        </i>
        <i class="icon search__icon--right search__icon-filter js-dropdown-trigger">
          <svg viewbox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_filter"></use>
          </svg>
        </i>
        <subcomponent class="contenteditable-dropdown">
          <ul>
            <li class="js-dropdown-option">All Industries</li>
            <li class="js-dropdown-option">Search Suggestion</li>
            <li class="js-dropdown-option">Another Suggestion</li>
            <li class="js-dropdown-option">Yet Anonther Suggestion</li>
            <li class="js-dropdown-option">Alternative Suggestion</li>
            <li class="js-dropdown-option">Possible Suggestion</li>
            <li class="js-dropdown-option">Consider this Suggestion</li>
            <li class="js-dropdown-option">One More Suggestion</li>
          </ul>
        </subcomponent>
      </div>
      <i class="icon search__icon--right search__CTA">
        <svg viewbox="0 0 100 100">
          <use xlink:href="includes/symbols.svg#icon_triangle"></use>
        </svg>
      </i>
      <input type="text" placeholder="Search Within Folders" class="search__input">
      <subcomponent class="search__share">
        <div class="share-flyout__trigger js-share-flyout__trigger">
        <svg width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg"><title>share</title><path d="M14.22 19.716l17.25-8.784-17.25 8.784zm-.32 5.886l17.25 8.784-17.25-8.784zM43.08 8.11c0 3.374-2.735 6.11-6.11 6.11-3.374 0-6.11-2.736-6.11-6.11 0-3.375 2.736-6.11 6.11-6.11 3.375 0 6.11 2.735 6.11 6.11zM14.22 22.677c0 3.375-2.736 6.11-6.11 6.11-3.375 0-6.11-2.735-6.11-6.11 0-3.373 2.735-6.11 6.11-6.11 3.374 0 6.11 2.737 6.11 6.11zM43.08 37.224c0 3.376-2.735 6.11-6.11 6.11-3.374 0-6.11-2.734-6.11-6.11 0-3.373 2.736-6.11 6.11-6.11 3.375 0 6.11 2.737 6.11 6.11z" stroke="#000" stroke-width="2.813" fill="none" fill-rule="evenodd"/></svg>
        </div>
      <div class="search__share-flyout gradient5--horizontal share-flyout js-share-flyout is-right">
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_email"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_twitter"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_facebook"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
          </svg>
        </div>
      </subcomponent>
    </component>
***/
.search-module--main
  col(1/1)
  color white
  position relative
  // overflow hidden
  cf()

input,
input[type=text],
input[type=email],
input[type=tel],
input[type=url],
input[type=search],
input[type=number],
input[type=password],
textarea,
div
  &.search__input
    padding 0 r(9.4rem)
    height r(6.4rem)
    fs(1.8rem)
    color darkgray
    font-family proxReg
    background-color white
    width 100%
    +below(768px)
      fs(1.4rem)
      padding 0 r(8.6rem)

div.search__input
  text-align left
  color gray
  font-family proxRegIt
  line-height r(6.4rem)
          
+above(768px)
  .has-dropdown
    input,
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=number],
    input[type=password],
    textarea,
    div
      &.search__input
        padding-left r(33rem)

.search__input::-webkit-input-placeholder
  font-family proxRegIt
  color gray

.search__input::input-placeholder
  font-family proxRegIt
  color gray

.search__icon,
.search__icon__wrapper,
.search__share
  size r(6.4rem)
  display: block
  position absolute
  top 0
  z-index 1
  
.search__icon
  svg
    size r(2.8rem)
    align()
    z-index: 1

.search__icon__wrapper
  overflow: hidden
  width r(7.6rem)
  
.search__icon
  left 0
  z-index 11
  background green hgradient66
  transition all 0.4s ease-out
  transform translate(0%)
  &:before
    content ''
    display block
    position absolute
    right r(-1.3rem)
    z-index: -1
    top 0
    bottom 0
    margin auto
    width 0
    height 0
    border-style solid
    border-width r(1.3rem) 0 r(1.3rem) r(1.5rem)
    border-color transparent transparent transparent #6db33f
  &.is-blue
    background-color darkblue
    background darkblue vgradient3flat
    &:before
      border-color transparent transparent transparent lightblue
    
.no-gradient,
.lt-ie10
  .search__icon:before
    display none

.search__share
  position absolute
  height r(6.4rem)
  right 0
  width r(6.4rem)
  background-color lightblue
  .share-flyout__trigger
    size r(6.4rem)
    position relative
    background-color blue
    transition background-color 0.2s ease 
    &:hover
      background-color lightblue
    svg
      size r(2.8rem)
      align(vertical)
      right r(2rem)
      z-index: 1
    &.is-active
      background-color transparent !important
      svg
        path 
          fill white
    svg
      path 
        fill transparent
        stroke white
        transition 0.2s linear 0.1s
  
  // &.is-active
  //   background-color rgba(blue,0.4)
  //   width r(33rem)
  //   overflow visible
  //   svg
  //     path 
  //       fill white
  //       stroke white
  //   &:hover
  //     background-color rgba(blue,0.6)

.search__share-flyout__wrapper
  overflow hidden
  width r(33rem)
  top 0
  display inline-block
  position absolute
  right 0
  padding-right r(6.4rem)
  height r(6.4rem)
  
.search__share-flyout
  transform translateX(100%)
  width r(33rem)
  height r(6.4rem)
  top 0
  display inline-block
  position absolute
  right 0
  .share-flyout__icon
    size r(6.4rem) r(6.2rem)
    border-right 1px solid rgba(darkblue, 0.2)
.search__share.is-active
  .search__share-flyout
    width r(33rem)
    transform translateX(0%)

.search__smart-search
  width r(16rem)
  height r(2rem)
  color blue
  position: absolute
  left r(8rem)
  top 0
  bottom 0
  margin auto
  fs(1.6rem)
  border-right 1px solid gray
  p
    line-height 1.3
  +below(540px)
    display none
    
+above(540px)
  .has-smartsearch 
    input,
    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=url],
    input[type=search],
    input[type=number],
    input[type=password],
    textarea,
    div
      &.search__input
        padding-left r(26rem)

.search__icon--right
  right r(2rem)
  size r(2.8rem)
  position absolute

.search__CTA
  align(vertical)
  right r(3rem)
  opacity 0
  transition 0.3s ease-out
  color blue
  +below(1024px)
    display none
  &.is-active
    right r(2rem)
    opacity 1
  svg
    position absolute
    transition 0.3s ease
  .is-empty
    z-index 1
  .is-filled
    opacity 0
  &:hover
    .is-filled
      opacity 1
      
.cogv1_search__right-icon
  position absolute
  size r(6.4rem)
  background-color blue
  top 0
  svg
    size r(2.8rem)
    align()
    z-index: 1

.cogv1_search__download
  right r(6.4rem)
      
.cogv1_search__favorites
  right r(6.4rem * 2)

.cogv1_search__flyout
  background-color: white
  position: absolute
  padding: r(2.6rem) r(3rem) r(1.8rem)
  width: r(33rem)
  top: r(5.9rem)
  right: 0
  max-height: r(39rem)
  text-align: center
  z-index: 1
  opacity 1
  z-index 99
  bottom -2rem
  transform translateY(-100%)
  transition transform 0s linear 0.1s, opacity 0.1s linear
  border 1px solid gray
  cf()
  +below(420px)
    width: 100%
  .profile-box__indicator
    top r(-1.8rem)
    transform rotate(90deg)
    transform-origin 50% 50%
    border-color: transparent white transparent transparent
    left auto
  &.is-active
    opacity 1
    transform translateY(0%)
    transition transform 0.4s cubic-bezier(.73,.88,0,1.1) 0.1s, opacity 0.1s linear 0.1s, z-index 0s linear 0.45s
    z-index: 501
  .cogv1_search__list-notification
    left r(-1.9rem)
    top r(0.1rem)
  .cogv1_search__list-item
    padding 0 0 r(2rem) r(1rem)
  .cogv1_search__indicator
    top r(-1.8rem)
    transform rotate(90deg)
    transform-origin 50% 50%
    border-color: transparent white transparent transparent
    left auto
  &.cogv1_search__flyout--settings
    .cogv1_search__indicator
      right r(4rem)
  &.cogv1_search__flyout--notifications
    .profile-box__indicator
      right r(9em)