+above(768px)
	.search-module.is-active
		.search__icon
			transform translate(-200%)
			transition all 0.6s cubic-bezier(.73,.49,.28,1.21)
		.search__dropdown__active-selection
			left r(2rem)
			transition all 0.6s cubic-bezier(.73,.49,.28,1.21) 0.1s
		
.search__dropdown
	display inline-block
	width r(30rem)
	background-color rgba(lightblue,0.2)
	color blue
	position: absolute
	top 0
	bottom 0
	left 0
	border-right 1px solid lightgray
	.contenteditable-dropdown
		top r(6.5rem)
	+below(768px)
		// bottom auto
		top r(6.4rem)
		left auto
		right 0
		background-color rgba(lightblue,0)
		.contenteditable-dropdown
			top r(0.1rem)
	+below(540px)
		left 0
		width 100%
	
.search__dropdown__active-selection
	cursor: pointer
	align(vertical)
	left r(7rem)
	fs(1.8rem)
	font-family proxLight
	transition all 0.5s cubic-bezier(.73,.49,.28,1.21)
	white-space nowrap
	max-width r(15.6rem)
	overflow hidden
	+below(768px)
		visibility hidden
		
.search__dropdown__icon
	position: absolute
	right r(2rem)
	top 0
	bottom 0
	margin auto
	size r(2.2rem)
	color darkblue
	transition all 0.3s cubic-bezier(.73,.49,.28,1.21) 0.1s
	z-index: 1
	transform rotate(90deg)
	transform-origin 50% 50%
	cursor: pointer
	&.is-active
		transform rotate(-90deg)
	+below(768px)
		display none

.search__icon-filter
	display none
	position absolute
	top r(-4.8rem)
	color gray
	transition color 0.3s ease
	+below(768px)
		display inline-block
		
.is-filled .search__icon-filter
	color lightblue