/*!**
  title: Main Search with Share Flyout
  section: Search
  example: |
    <div class="search-module search-module--main">
      <div class="search__icon">
        <i>
        <svg viewBox="0 0 100 100">
          <use xlink:href="includes/symbols.svg#icon_search"></use>
        </svg>
        </i>
      </div>
      <input type="text" class="search__input" placeholder='Search Within Folders'>
      <div class="search__share share-flyout__trigger js-share-flyout__trigger">
        <svg width="46" height="46" viewBox="0 0 46 46" xmlns="http://www.w3.org/2000/svg"><title>share</title><path d="M14.22 19.716l17.25-8.784-17.25 8.784zm-.32 5.886l17.25 8.784-17.25-8.784zM43.08 8.11c0 3.374-2.735 6.11-6.11 6.11-3.374 0-6.11-2.736-6.11-6.11 0-3.375 2.736-6.11 6.11-6.11 3.375 0 6.11 2.735 6.11 6.11zM14.22 22.677c0 3.375-2.736 6.11-6.11 6.11-3.375 0-6.11-2.735-6.11-6.11 0-3.373 2.735-6.11 6.11-6.11 3.374 0 6.11 2.737 6.11 6.11zM43.08 37.224c0 3.376-2.735 6.11-6.11 6.11-3.374 0-6.11-2.734-6.11-6.11 0-3.373 2.736-6.11 6.11-6.11 3.375 0 6.11 2.737 6.11 6.11z" stroke="#000" stroke-width="2.813" fill="none" fill-rule="evenodd"/></svg>
      </div>
      <div class="search__share-flyout gradient5--horizontal share-flyout js-share-flyout is-right">
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_email"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_twitter"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_facebook"></use>
          </svg>
        </div>
        <div class="share-flyout__icon">
          <svg viewBox="0 0 100 100">
            <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
          </svg>
        </div>
      </div>
    </div>
***/
.search-module--main
  col(1/1)
  color white
  position relative
  overflow hidden
  cf()

.search__input
  padding 0 9.4rem
  height 6.4rem
  fs(2.5rem)
  padding-top 0.5%
  color black
  font-family proxReg
  
.search__input::-webkit-input-placeholder
  font-family proxRegIt
  color gray

.search__input::input-placeholder
  font-family proxRegIt
  color gray

.search__icon,
.search__share
  size 6.4rem
  display: block
  position absolute
  top 0
  z-index 1
  svg
    size 50%
    align()
  
.search__icon
  left 0
  z-index 1
  background hgradient66
  &:before
    content ''
    display block
    position absolute
    right -12px
    z-index: -1
    top 0
    bottom 0
    margin auto
    width 0
    height 0
    border-style solid
    border-width 13px 0 13px 15px
    border-color transparent transparent transparent #6db33f

.search__share
  background-color blue
  right 0
  svg
    path 
      fill transparent
      stroke white
      transition 0.2s linear 0.1s
  &:hover
    transition background-color 0.2s ease
    background-color darkblue
  &.is-active
    background-color rgba(blue,0.4)
    svg
      path 
        fill white
        stroke white
    &:hover
      background-color rgba(blue,0.6)

.search__share-flyout
  padding-right 6.4rem
  top 0
  display inline-block
  position absolute
  right 0
  transform translateX(100%)
  .share-flyout__icon
    size 6.4rem
    border-right 1px solid rgba(darkblue, 0.2)

@media screen and (max-width: 540px)
  .search__icon,
  .search__share,
  .search__share-flyout .share-flyout__icon
    size (6.4rem / 1.2)
  .search__share-flyout
    padding-right (6.4rem / 1.2)
  .search__input
    padding 0 (9.4rem / 1.2)
    height (6.4rem / 1.2)
  .search__icon
    &:after
      right -7px
      border-width 6px 0 6px 7px