/////////////////////////////////////////////////////////////////////////////
// This is somewhat of a shame.css file http://csswizardry.com/2013/04/shame-css/
/////////////////////////////////////////////////////////////////////////////
.section
  padding 5rem 0 4rem 0
 
.backgray-bg
	background-color backgray
	border-bottom 1px solid rgba(gray,0.2)
	.header--section
		h1
			color blue
		p
			color darkgray

.black-bg
	background-color #000
	color white
	
.white-bg
	background-color white
	

.color-bg
	color white

// Beyond here is styles that are section specific		
.scrolling-photo-offset-bg
	padding 0
	position static
	// background-attachment: scroll !important
	background-attachment: fixed !important
	background-size: cover !important
	background-position: 0% 0% !important

	.header--section
		color white
		h1,
		p
			color inherit
	.container.white-bg
		&:before
			content ''
			display block
			width 100%
			height 1.9rem
			background: url(svg/ui/bar_polygon.svg) no-repeat
			background-size 100% 1.9rem
			background-position 50% 0%
			+above(540px)			
				position relative
				top -1.7rem
			+below(1140px)
				position absolute
				left 0
				background-size auto 1.9rem
	.mkbl-form
		padding-top 10rem
		padding-bottom 10rem
	

			
.height-overflow-section.has-container-overflow
	+above(1620px)
		height 57rem
		overflow visible
		position: relative
		background-attachment: fixed !important
		background-size: cover !important
		background-position: 0% 0% !important
		.container.white-bg
			left 0
			right 0
			margin auto
			width 100%
			position absolute
			top 24rem
		+ .section
			padding-top 30rem
	+below(1619px)
		background-attachment: scroll !important
		background-size: 100% auto !important
		background-position: 0% 0% !important
	+below(420px)
		background-attachment: fixed !important
		background-size: cover !important
		background-position: 0% 100% !important