/////////////////////////////////////////////////////////////////////////////
// This is somewhat of a shame.css file http://csswizardry.com/2013/04/shame-css/
/////////////////////////////////////////////////////////////////////////////
.section
  padding r(5rem) 0 

.generic-section
  .header--section
  	padding-top 0
  	
.backgray-bg
	background-color backgray
	border-bottom 1px solid rgba(gray,0.2)

.black-bg
	background-color #000
	color white
	
.white-bg
	background-color white

.color-bg
	color white
	.header--section
		color white
		h1,
		p
			color inherit
			
// Beyond here is styles that are section specific 
.scrolling-photo-offset-bg
	padding 0
	// position static
	// background-attachment: scroll !important
	background-attachment: fixed !important
	background-size: cover !important
	background-position: 50% 0% !important

	.header--section
		color white
		h1,
		p
			color inherit
	.container.white-bg
		&:before
			content ''
			display block
			width 100%
			height r(1.9rem)
			background: url(../svg/ui/bar_polygon.svg) no-repeat
			background-size 100% r(1.9rem)
			background-position 50% 0%
			+above(540px)			
				position relative
				top -1.7rem
			+below(1140px)
				position absolute
				left 0
				background-size auto r(1.9rem)
	.mkbl-form
		padding-top r(10rem)
		padding-bottom r(10rem)
	

			
.height-overflow-section.has-container-overflow
	height r(57rem)
	overflow visible
	position: relative
	background-attachment: fixed !important
	background-size: cover !important
	background-position: 50% 0% !important
	margin-bottom r(30rem)
	.container.white-bg
		left 0
		right 0
		margin auto
		width 100%
		position absolute
		top r(24rem)
	
	+below(960px)
		height auto
		margin-bottom r(3rem)
		.container.white-bg
			position relative
			top 0
	// 	background-attachment: scroll !important
	// 	background-size: 100% auto !important
	// 	background-position: 0% 0% !important
	// +below(1024px)
	// 	background-attachment: fixed !important
	// 	background-size: cover !important
	// 	background-position: 0% 100% !important