.share-icons-list
	position relative
	margin-top r(4rem)
	p
		color gray
		display inline-block
		vertical-align bottom
		line-height r(3.2rem)
		margin-right 6%
		padding-bottom 0
		fs(1.7rem)
		upcase()
		position relative
		top r(-0.5rem)
		// +below(540px)
		// 	display block
	.share-icon
		opacity 0
		transform translateX(r(-4rem))
		transition transform 0.4s cubic-bezier(.73,.49,.28,1.21), opacity 0.1s linear 0.2s
	&.is-active
		.share-icon
			transition transform 0.3s cubic-bezier(.73,.49,.28,1.21), opacity 0.1s linear 0.1s
			opacity 1
			transform translateX(0)
			
.share-icon
	display inline-block
	vertical-align top
	size r(3.5rem)
	max-width r(4rem)
	margin 0% 2.5% 0% 2.5%
	color blue
	transition 0.3s ease
	position relative
	&.interactive-svg	
		margin-left 0
		opacity 1 !important
		transform translateX(0) !important
		position relative
		z-index 99
	&:last-child
		margin-right 0