/*!**
  title: Share Flyout
  section: Share Flyout
  example: |
      <i class="flow-box__CTA--share share-flyout__trigger js-share-flyout__trigger" style='color:#50b3cf;'>
      <svg viewbox="0 0 100 100" class="is-empty">
        <use xlink:href="includes/symbols.svg#icon_share"></use>
      </svg>
      <svg viewbox="0 0 100 100" class="is-filled">
        <use xlink:href="includes/symbols.svg#icon_share-filled"></use>
      </svg></i>
      <component class="flow-box__share-flyout-wrapper js-share-flyout">
        <div class="flow-box__share-flyout share-flyout">
          <div class="flow-box-flyout__icon share-flyout__icon" style='color:#50b3cf;'>
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_email"></use>
            </svg>
          </div>
          <div class="flow-box-flyout__icon share-flyout__icon" style='color:#50b3cf;'>
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_twitter"></use>
            </svg>
          </div>
          <div class="flow-box-flyout__icon share-flyout__icon" style='color:#50b3cf;'>
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_facebook"></use>
            </svg>
          </div>
          <div class="flow-box-flyout__icon share-flyout__icon" style='color:#50b3cf;'>
            <svg viewbox="0 0 100 100">
              <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
            </svg>
          </div>
        </div>
      </component>
***/
.share-flyout
    // z-index: 0
    transition transform 0.4s cubic-bezier(.4,-0.17,.33,1)
    
    &:hover
        .icon
            opacity 0.7
            

.share-flyout__trigger
    z-index 10
    transition 0.05s linear 0s
    color white
    &:hover
      .fill
        fill white

.share-flyout__icon
    display inline-block
    position relative
    color white
    .icon
        align()
        size 50%
        transition opacity 0.2s ease
    &:hover
        color white
        .icon
            opacity 1

  