.share-icons-list
	position relative
	p
		color gray
		display inline-block
		vertical-align bottom
		line-height r(3.2rem)
		margin-right r(1rem)
		
.share-icon
	display inline-block
	vertical-align top
	size 3.2rem
	margin 0 1rem
	color gray
	transition 0.3s ease
	&:hover
		color blue
	