.cogv1_page-header
	padding r(10rem) 0 r(6rem)
	background-size cover !important
	background-position 50% 50% !important
	position relative
	h1
		text-align left
	hr
		margin-bottom r(2rem)
		padding-top r(1.6rem)
	.button--tertiary
		margin-top r(3rem)
		
.cogv1_inline-photo-list
	margin-top r(2rem)
	img
		size r(4.4rem)
		border-radius 50%
		display inline-block
		margin 0 r(0.5rem)