.cogv1-smart-search__results
	background-color white
	padding-bottom r(10rem)
	cf()
	position relative
	
.cogv1-smart-search__input-container
	position relative
	+above(1024px)
		col(10/12, offset: 1/12)

input[type=text].cogv1-smart-search__input
	background-color backgray
	padding r(1.9rem) r(6rem)
	border-radius r(0.2rem)
	fs(2.2rem)
	font-family proxLight		
	
.cogv1-smart-search__icon
	size r(2.8rem)
	color gray
	position absolute
	top 0
	bottom 0
	margin auto
.cogv1-smart-search__icon--left
	left r(2rem)
.cogv1-smart-search__icon--right
	right r(2rem)
	opacity 0
	transition 0.3s ease
	&.is-active
		opacity 1

.contenteditable-module.smart-search__option
	.contenteditable__text
		margin-bottom r(1rem)
		
.cogv1-smart-search__result
	position relative
	border-bottom 1px solid gray
	padding r(2rem) 0 r(2rem) r(8.2rem)
	cf()
	+above(1024px)
		col(10/12, offset: 1/12)
	+below(1024px)
		padding r(2rem) 0 r(2rem) r(4rem)
	p
		color gray
		&:first-of-type
			upcase()
	h3
		color darkblue
		text-transform capitalize
		fs(1.8rem)
		padding-right r(4rem)
		
.cogv1-smart-search__result-type
	size r(2.8rem)
	position absolute
	left r(1.8rem)
	top r(2rem)
	+below(1024px)
		left 0
	
.cogv1-smart-search__result-CTA
	position absolute
	right r(2rem)
	size r(2.8rem)
	margin auto
	color blue
	top 0
	bottom 0
	+below(1024px)
		right 0

.cogv1-smart-search__result-message
	text-align center
	margin-top r(2.8rem)
	.button--primary
		margin-top r(2.8rem)
	p
		display inline-block
		max-width r(42rem)
		line-height 1