// SOCIAL GROUP MODULE ////////////////////////////////////

/*!**
  title: Social Group Module
  section: Group Modules
  example: |
    <div class='social-group-module'>
     
     <div class='row'>
     <div class='social-group__groups social-group__groups--icons'>
     
      <i class='social-group__icon facebook is-active'>
        <div class='social-group__icon-slide'></div>
        <svg viewBox="0 0 100 100">
          <use xlink:href="includes/symbols.svg#icon_facebook"></use>
        </svg>
      </i>
      
      <i class='social-group__icon twitter'>
        <div class='social-group__icon-slide'></div>
        <svg viewBox="0 0 100 100">
          <use xlink:href="includes/symbols.svg#icon_twitter"></use>
        </svg>
      </i>
      
      <i class='social-group__icon linkedin'>
        <div class='social-group__icon-slide'></div>
        <svg viewBox="0 0 100 100">
          <use xlink:href="includes/symbols.svg#icon_linkedin"></use>
        </svg>
      </i>
      
     </div>
     </div>
     <div class='row'>
       <div class='social-group__hr'></div>
       <i id='js-social-caret' class='social-group__hr-caret is-left'>
       <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 21 12.2'><path fill='currentColor' d='M21 0h-1.3l-9.2 10.7L1.3 0H0l10.5 12.2'/><path fill='#FFF' d='M19.7 0H1.3l9.2 10.7'/></svg>
       </i>
     </div>
     <div class='row social-group__groups--texts'>
        
       <div class='social-group__groups social-group__groups--text is-active'>
        
         <div class='social-group__group'>
           <div class='social-group__content'>
           	 <small>Cognizant @Cognizant<span> - 34s ago</span></small>	
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
           	 <small>Cognizant @Cognizant<span> - 34s ago</span></small>	
             <h2>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. </h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
           	 <small>Cognizant @Cognizant<span> - 34s ago</span></small>	
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
       </div>
       <div class='social-group__groups social-group__groups--text'>
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. </h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
       </div>
       <div class='social-group__groups social-group__groups--text'>
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand.</h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__group'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small>  
             <h2>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. </h2>
           </div>
           
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
       </div>
       <div class='social-group__groups--mobile'>
        
         <div class='social-group__groups social-group__groups--text is-active'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small> 
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__groups social-group__groups--text'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small> 
             <h2>Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. </h2>
           </div>
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
         
         <div class='social-group__groups social-group__groups--text'>
           <div class='social-group__content'>
             <small>Cognizant @Cognizant<span> - 34s ago</span></small> 
             <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
           </div>
           
           <div class='social-group__CTA-container'>
           <a href=' class='button--silent'>Read More</a>
           </div>
         </div>
       </div>
      </div>
    </div>
***/
// Media Queries 540, 670, 940, 1024, 1140

.social-group-module
  position relative
  text-align center
  .button--silent
    text-align center

.social-group__hr
  height 1px
  // @extend .gradient5--horizontal
  background-color blue
  position relative
  top 30px
  z-index 0
  width 100%

.social-group__hr-caret
  size 2.6rem
  position: absolute
  top 30px
  left 0
  right 0
  margin auto
  color blue
  transform translateX(0rem)
  transition 0.5s cubic-bezier(.73,.49,.28,1.21)
  &.is-long-distance
    transition 0.5s cubic-bezier(.73,.88,0,1.1) 0.02s
  &.is-left
    transform translateX(-780%)
  &.is-right
    transform translateX(780%)
  +below(1024px)
    &.is-left
      transform translateX(-815%)
    &.is-right
      transform translateX(815%)
  +below(940px)
    transition 0.6s cubic-bezier(.73,.88,0,1.02)
    &.is-left
      transform translateX(-530%)
    &.is-right
      transform translateX(530%)
  +below(768px)
    transition 0.6s cubic-bezier(.73,.88,0,1.02)
    &.is-left
      transform translateX(-482%)
    &.is-right
      transform translateX(482%)
  +below(540px)
    &.is-left
      transform translateX(-230%)
    &.is-right
      transform translateX(230%)
.social-group__icon
  text-align center
  height 8.2rem
  width 24.6rem
  position relative
  overflow hidden
  color gray
  transition 0.1s linear 0.25s
  cursor: pointer
  svg
    display none
  &.facebook
    background transparent url(svg/social-slider/social__facebook.svg) no-repeat
    background-size 24.6rem 8.2rem
    background-position 50% 50%
  &.twitter
    background transparent url(svg/social-slider/social__twitter.svg) no-repeat
    background-size 24.6rem 8.2rem
    background-position 50% 50%
  &.linkedin
    background transparent url(svg/social-slider/social__linkedin.svg) no-repeat
    background-size 24.6rem 8.2rem
    background-position 50% 50%
  +below(940px)
    height 8.2rem * 0.7
    width 24.6rem * 0.7
    &.facebook
      background transparent url(svg/social-slider/social__facebook.svg) no-repeat
      background-size (24.6rem * 0.7) (8.2rem * 0.7)
      background-position 50% 50%
    &.twitter
      background transparent url(svg/social-slider/social__twitter.svg) no-repeat
      background-size (24.6rem * 0.7) (8.2rem * 0.7)
      background-position 50% 50%
    &.linkedin
      background transparent url(svg/social-slider/social__linkedin.svg) no-repeat
      background-size (24.6rem * 0.7) (8.2rem * 0.7)
      background-position 50% 50%
  +below(768px)
    height 8.2rem * 0.6
    width 24.6rem * 0.6
    &.facebook
      background transparent url(svg/social-slider/social__facebook.svg) no-repeat
      background-size (24.6rem * 0.6) (8.2rem * 0.6)
      background-position 50% 50%
    &.twitter
      background transparent url(svg/social-slider/social__twitter.svg) no-repeat
      background-size (24.6rem * 0.6) (8.2rem * 0.6)
      background-position 50% 50%
    &.linkedin
      background transparent url(svg/social-slider/social__linkedin.svg) no-repeat
      background-size (24.6rem * 0.6) (8.2rem * 0.6)
      background-position 50% 50%
  +below(540px)
    height auto
    width 4rem
    margin 0 1rem
    &.facebook,
    &.twitter,
    &.linkedin
      background none
      svg
        display block

  &:nth-child(1)
    left 5%
    +below(540px)
      left 0
    .social-group__icon-slide
      left 5%
  &:nth-child(3)
    right 5%
    +below(540px)
      right 0
    .social-group__icon-slide
      right 5%
      transform translateX(-8.2rem)
      +below(940px)
        transform translateX(-8.2rem * 0.7)
      +below(768px)
        transform translateX(-8.2rem * 0.6)
  &.is-active 
    color blue
    transition 0.3s linear 0.25s
    .social-group__icon-slide
      transform translateX(0rem)
      transition all 0.32s ease 0.15s

.social-group__icon.is-active
  + .social-group__icon
    .social-group__icon-slide
      transform translateX(-8.2rem)
      +below(940px)
        transform translateX(-8.2rem * 0.7)
      +below(768px)
        transform translateX(-8.2rem * 0.6)
  
.social-group__icon-slide
  height 8.2rem 
  width 24.6rem
  position absolute
  z-index -1
  bottom 0
  left 0
  right 0
  top -0.1rem
  margin auto
  background url(svg/social-slider/social__bg--middle.svg) no-repeat
  background-size 24.6rem 8.2rem
  background-position 50% 50%
  transform translateX(8.2rem)
  transition all 0.35s ease 0s
  +below(940px)
    height 8.2rem * 0.69
    width 24.6rem * 0.69
    background-size (24.6rem * 0.69) (8.2rem * 0.69)
    transform translateX((8.2rem * 0.69))
  +below(768px)
    height 8.2rem * 0.59
    width 24.6rem * 0.59
    background-size (24.6rem * 0.59) (8.2rem * 0.59)
    transform translateX((8.2rem * 0.59))
  +below(540px)
    display none
.is-active
  .is-long-distance 
    .social-group__icon-slide
      transition all 0.2s ease 0.2s
    &:nth-child(2)
      transition all 0.2s ease 0.1s
  
.social-group__groups
  col(10/12, offset: 1/12)
  +below(1024px)
    col(1/1, offset: 0/12)
    overflow hidden
    
.social-group__group
  col(4/12)
  
.social-group__content
  padding 8rem 0rem 2rem
  color darkgray
  background transparent
  text-align left
  +below(1140px)
    padding 8rem 0.5rem 0rem
  small
    color gray
    fs(1.4rem)
    line-height 1.8
  h2
    color darkgray
    fs(2.4rem)
    overflow hidden
    height 22rem
    +below(1220px)
      height 14rem
    +below(1140px)
      height 22rem
    +below(940px)
      height 16rem
    
  +below(940px)
    small
      fs(1.2rem)
      span
        display none
    h2
      fs(1.9rem)
  +below(680px)
    padding 1rem 0rem 2rem
    h2
      height auto

.social-group__groups--texts
  overflow hidden

.social-group__groups--mobile
  position relative
  margin-top 7rem
  min-height 25rem
  +above(680px)    
    display none
  .social-group__groups
    margin-bottom 1rem
    transform translateX(40rem)
    +below(680px)
      stack(pad: 16%)
      position absolute
      opacity 0
      top 0
      &.is-active
        position relative
        opacity 1
        transform translateX(0rem)
        transition opacity 0.2s linear 0.05s, transform 0.68s cubic-bezier(.73,.88,0,1.02) 0s
        ~ .social-group__groups
          transform translateX(-40rem)
    +below(420px)
      stack(pad: 0)
      padding 0
      
.social-group__groups--text
  +below(680px)
    display none
  +above(680px)
    position absolute
    top 0
    left 0
    .social-group__group
      transform translateX(30rem)
      opacity 0
      transition opacity 0.3s linear, transform 0.5s cubic-bezier(.73,.88,0,1.1)
  &.is-active
    position relative
    .social-group__group
      opacity 1
      transform translateX(0rem)
      transition opacity 0.2s linear 0.2s, transform 0.45s cubic-bezier(.73,.88,0,1.1) 0.12s
    ~ .social-group__groups--text
      .social-group__group
        transform translateX(-30rem)
    &.is-long-distance
      .social-group__group
        transition opacity 0.2s linear 0.2s, transform 0.5s cubic-bezier(.73,.88,0,1.1) 0.05s

.chrome,
.safari
  .social-group__content
    h2
      background: hreversegradient5
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent


.social-group__CTA-container
  text-align center
  
  