// SOCIAL GROUP MODULE ////////////////////////////////////

/*!**
  title: Social Group Module
  section: Group Modules
  example: |
    <div class="social-group-module">
     <div class="row">
       <div class="social-group__hr"></div>
     </div>
     <div class="social-group__groups">
       <div class="social-group__group">
         <i class="social-group__icon">
           <img data-src="holder.js/82x82/size:10vi/#72cdf1:#fff"z alt="">
         </i>
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago<small>	
           <h3>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h3>
         </div>
         <a href="" class='button--silent'>Visit Site</a>
       </div>
       <div class="social-group__group">
         <i class="social-group__icon">
           <img data-src="holder.js/82x82/size:10vi/#72cdf1:#fff"z alt="">
         </i>
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago<small>	
           <h3>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h3>
         </div>
         <a href="" class='button--silent'>Visit Site</a>
       </div>
       <div class="social-group__group">
         <i class="social-group__icon">
           <img data-src="holder.js/82x82/size:10vi/#72cdf1:#fff"z alt="">
         </i>
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago<small>	
           <h3>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h3>
         </div>
         <a href="" class='button--silent'>Visit Site</a>
       </div>
     </div>
    </div>
***/
.social-group-module
	position relative
	text-align left
	.button--silent
		text-align center
		
.social-group__hr
	height 1px
	// @extend .gradient5--horizontal
	background-color blue
	position relative
	margin 0 11%
	top 45px
	z-index -1
	
.social-group__groups
	cf()

.social-group__group
	col(4/12)

.social-group__icon
	size 8.2rem
	text-align center
	// position relative

.social-group__content
	padding 3rem 3rem 4rem
	color darkgray
	margin-bottom 4rem
	background transparent
	small
		color gray
	h3
		background: hreversegradient5
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;