// SOCIAL GROUP MODULE ////////////////////////////////////

/*!**
  title: Social Group Module
  section: Group Modules
  example: |
    <div class="social-group-module">
     <div class="row">
       <div class="social-group__hr"></div>
     </div>
     <div class="social-group__groups">
      <i class="social-group__icon facebook is-active">
        <div class='social-group__icon-slide'>
          <div class='social-group__icon-slide--on'></div>
          <div class='social-group__icon-slide--off'></div>
        </div>
      </i>
      <i class="social-group__icon twitter">
        <div class='social-group__icon-slide'>
          <div class='social-group__icon-slide--on'></div>
          <div class='social-group__icon-slide--off'></div>
        </div>
      </i>
      <i class="social-group__icon linkedin">
        <div class='social-group__icon-slide'>
          <div class='social-group__icon-slide--on'></div>
          <div class='social-group__icon-slide--off'></div>
        </div>
      </i>
     </div>
     <div class="social-group__groups">
       <div class="social-group__group">
         
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago</small>	
           <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
         </div>
         <div class='social-group__CTA-container'>
         <a href="" class='button--silent'>Read More</a>
         </div>
       </div>
       <div class="social-group__group">
         
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago</small>	
           <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
         </div>
         <div class='social-group__CTA-container'>
         <a href="" class='button--silent'>Read More</a>
         </div>
       </div>
       <div class="social-group__group">
         
         <div class="social-group__content">
         	 <small>Cognizant @Cognizant - 34s ago</small>	
           <h2>80% surveyed agree that the speed of your #MobileApp determines its success! #UX #Mobility</h2>
         </div>
         <div class='social-group__CTA-container'>
         <a href="" class='button--silent'>Read More</a>
         </div>
       </div>
     </div>
    </div>
***/
.social-group-module
  position relative
  text-align center
  .button--silent
    text-align center
    
.social-group__hr
  height 1px
  // @extend .gradient5--horizontal
  background-color blue
  position relative
  top 116px
  z-index 0
  width 100%

.social-group__icon
  text-align center
  col(4/12)
  &.facebook
    background transparent url(svg/symbols/social_facebook.svg) no-repeat
    background-size 100% 100%
    background-position 50% 50%
  &.twitter
    background transparent url(svg/symbols/social_twitter.svg) no-repeat
    background-size 100% 100%
    background-position 50% 50%
  &.linkedin
    background transparent url(svg/symbols/social_linkedin.svg) no-repeat
    background-size 100% 100%
    background-position 50% 50%
  img, svg
    margin auto
    display block
    size 100% 8.2rem
    position relative
    z-index 1
  path
    width 100%
  &:nth-child(1) img
    float right
  &:nth-child(3) img
    float left

.social-group__icon-slide
  size 16.4rem 8rem
  position absolute
  z-index -1
  top 2px
  bottom 0
  left 0
  right 0
  margin auto
  transform translateX(-40px)
.is-active .social-group__icon-slide
    transform translateX(40px)

.social-group__icon
  height 8.2rem
  position relative

.social-group__icon-slide--on,
.social-group__icon-slide--off
  display block
  size 8.2rem 8rem
  margin 0
  group()

.social-group__icon-slide--off
  background-color gray
  float right

.social-group__icon-slide--on
  background-color blue  
  float left

.social-group__groups
  col(10/12, offset: 1/12)

.social-group__group
  col(4/12)
      
.social-group__content
  padding 8rem 3rem 4rem
  color darkgray
  margin-bottom 4rem
  background transparent
  text-align left
  small
    color gray
    fs(1.6rem)
    line-height 1.8
  h2
    color blue
    fs(2.4rem)

.chrome,
.safari
  .social-group__content
    h2
      background: hreversegradient5
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

.social-group__CTA-container
  text-align center