/*!**
  title: Video Component
  section: Video
  example: |
    <component class="video-section">
      <div class="container">
        <div class="video-module">
          <div class="video-module__radial-overlay">
            <div class="video-module__center js-video-play">
              <!-- The class .video__message can be an SVG, IMG, or TEXT. The class handles all these situations.--><img src="svg/coderules.svg" alt="" class="video__message"/>
              <svg viewbox="0 0 100 100" class="play-button">
                <use xlink:href="includes/symbols.svg#icon_playbutton"></use>
              </svg>
            </div>
          </div>
          <iframe width="650" height="400" data-aload="https://www.youtube.com/embed/XYwiDJ7UWHo?rel=0&amp;enablejsapi=1" src="javascript:false" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </component>
***/
/*!**
  title: Video Component With Text
  section: Video
  example: |
    <component class="video-section">
      <div class="container">
        <div class="video-module">
          <div class="video-module__radial-overlay">
            <div class="video-module__center js-video-play">
              <!-- The class .video__message can be an SVG, IMG, or TEXT. The class handles all these situations.--><div class="video__message">Aenean lacinia bibendum nulla sed consec tetur isa Etiam porta sem malesuad magna mollis euismod.</div>
              <svg viewbox="0 0 100 100" class="play-button">
                <use xlink:href="includes/symbols.svg#icon_playbutton"></use>
              </svg>
            </div>
          </div>
          <iframe width="650" height="400" data-aload="https://www.youtube.com/embed/XYwiDJ7UWHo?rel=0&amp;enablejsapi=1" src="javascript:false" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </component>
***/
/*!**
  title: Video Component Alternative Theme
  section: Video
  example: |
    <component style="background: url('img/FPO-image.jpg') no-repeat" class="section video-section photo-theme">
      <div class="container">
        <div class="video-module">
          <div class="video-module__radial-overlay">
            <div class="video-module__center js-video-play"><img src="svg/coderules.svg" alt="" class="video__message"/>
              <svg viewbox="0 0 100 100" class="play-button">
                <use xlink:href="#icon_playbutton"></use>
              </svg>
            </div>
          </div>
          <iframe width="650" height="400" data-aload="https://www.youtube.com/embed/XYwiDJ7UWHo?rel=0&amp;enablejsapi=1" src="javascript:false" frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
    </component>
***/
.video-section
    padding 0 !important
    background-color deepblack
    background-size cover !important
    background-position 50% 50%
    position relative
    &.photo-theme
        @extend .cogv1_has-overlay
        .video-module__radial-overlay
            background none
        &:before
            background-color rgba(0,0,0,0.8)
    
.video-module
    position: relative
    padding-bottom: 56.25%
    padding-top: r(3rem)
    height: 0
    overflow: hidden
    iframe, 
    object, 
    embed
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity 0
        z-index: 0
        transition z-index 0s linear
        
.lt-ie10
    .video-section
        background #000 !important
        
.video-section.is-active
    background #000 !important
    .video-module
        iframe, 
        object, 
        embed
            opacity 1
            z-index 999
        .play-button
            opacity 0
            transition opacity 0.6s ease-out
            
        .video__message
            transition top 0.3s ease-out, opacity 0.3s ease-out 0.1s
            opacity 0
            top r(-6rem)
        
        .video-module__overlay
            opacity 0
            transition opacity 0.3s ease-out 1s, z-index 0s linear 1s
            z-index -999

.video-module__radial-overlay
    position: absolute
    top: 0
    left: 0
    right 0
    bottom 0
    width: 100%
    height: 100%
    opacity 1
    z-index: 1
    transition opacity 0.1s ease-out
    background: black radial-gradient(at top, #ffffff 0%, #00031C 30%, #000000 50%) no-repeat
    background-position 50% -20%
    

.video-module__center
    align()
    max-width r(71.6rem)
    padding 0 r(2rem)
    width 100%
    text-align center
    z-index: 1
    min-height r(10rem)
    color white
    .video__message
        transition top 0.3s ease-out 0.3s, opacity 0.3s ease-out 0.3s
        top 0
        position: relative
        fs(4rem)
        line-height 1.2
        font-family proxLight
        min-height r(10rem)
        color white
        +below(1024px)
            fs(2.8rem)
        +below(640px)
            fs(2rem)
            
    .play-button
        size 12%
        min-height r(4rem)
        margin auto
        margin-top 3%
        color white
        opacity 1
        transition opacity 0.3s ease-out 0.3s
        