.video-section
	padding 0 !important
.video-module
	position: relative
	padding-bottom: 56.25%
	padding-top: 30px
	height: 0
	overflow: hidden
	iframe, 
	object, 
	embed
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity 0
		z-index: 0
		transition z-index 0s linear
	&.is-active
		iframe, 
		object, 
		embed
			opacity 1
			
		.play-button
			opacity 0
			transition opacity 0.6s ease-out
			
		.video__message
			transition transform 0.3s ease-out, opacity 0.3s ease-out 0.1s
			opacity 0
			transform translateY(-6rem)
		
		.video-module__overlay
			opacity 0
			z-index: 0
			transition opacity 0.3s ease-out 1s, z-index 0s linear 1s

.video-module__overlay
	position: absolute
	top: 0
	left: 0
	right 0
	bottom 0
	width: 100%
	height: 100%
	opacity 1
	z-index: 1
	background: black radial-gradient(at top, #ffffff 0%, #00031C 30%, #000000 50%) no-repeat
	background-position 50% -10%
	transition opacity 0.1s ease-out

.video-module__center
	align()
	max-width 71.6rem
	padding 0 2rem
	width 100%
	text-align center
	z-index: 1
	.video__message
		transition transform 0.3s ease-out 0.3s, opacity 0.3s ease-out 0.3s
		transform translateY(0rem)
	.play-button
		size 14%
		margin auto
		margin-top 2%
		color white
		opacity 1
		transition opacity 0.3s ease-out 0.3s
		