component#modal-1.modal-module.is-hidden
	.modal-tip
	.row
		.modal__six-col
			p.subheader
				| Enhance with 
				i.icon.icon-linkedin
					//- svg(viewbox='0 0 91 24')
						use(xlink:href='#logo_linkedin')
					img(src="img/logo_linkedin.png", alt="")
			p Signing in with LinkedIn automates the process of building your Latest Thinking experience by using the information from your LinkedIn profile.
			p We never post on your behalf or communicate with your connections without a request from you to do&nbsp;so.
	.row
		.modal__three-col
			i.icon
				//- <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="icon_save-articles" gradientUnits="userSpaceOnUse" x1="39.803" y1="97.059" x2="57.41" y2="-2.793"><stop offset="0" stop-color="#6DB344"/><stop offset="1" stop-color="#73CCF3"/></linearGradient><path fill="url(#icon_save-articles)" d="M97.5 66c-.5-1.3-1.8-2.3-3.1-2.3h-15L74 48.6c-.5-1.3-1.8-2.3-3.1-2.3s-2.6 1-3.1 2.3l-5.4 15.1h-15c-1.5 0-2.6 1-3.1 2.3s0 2.8 1 3.6l12.5 9.7-5.4 16.1c-.5 1.3 0 2.8 1.3 3.8 1 .8 2.8.8 3.8 0l13.3-9.7 13.3 9.7c.5.5 1.3.5 2 .5.8 0 1.3-.3 2-.5 1.3-.8 1.5-2.3 1.3-3.8L84 79.3l12.5-9.7c1-.8 1.6-2.3 1-3.6zM78.6 77.7L83.7 93l-12.8-9.5L58.1 93l5.1-15.3-12-9.5h14.3l5.1-14.8 5.1 14.8h14.6l-11.7 9.5zM8.8 76.2V4.6h59.8v36.6h4.6V0h-69v80.8h44.2l-6.9-4.6H8.8zM17 12.5h43.5v4.6H17v-4.6zm0 15.4h43.5v4.6H17v-4.6zm0 15.3h32.5v4.6H17v-4.6z"/></svg>
				img(src="img/icon_save-articles.png", alt="")
			span Save Articles
		.modal__three-col
			i.icon
				//- <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="icon_create-folders" gradientUnits="userSpaceOnUse" x1="41.343" y1="87.875" x2="55.062" y2="10.075"><stop offset="0" stop-color="#6DB344"/><stop offset="1" stop-color="#73CCF3"/></linearGradient><path fill="url(#icon_create-folders)" d="M74.4 44.2c-13.5 0-24.6 11.1-24.6 24.6S61 93.3 74.4 93.3 99 82.3 99 68.8 87.9 44.2 74.4 44.2zm0 45c-11.3 0-20.2-9.1-20.2-20.2s9.1-20.2 20.2-20.2S94.7 57.9 94.7 69s-9.2 20.2-20.3 20.2zm2.2-29.8h-4.3v7.5h-7.5v4.3h7.5v7.5h4.3v-7.5h7.5v-4.3h-7.5v-7.5zM24.1 34.6h61.6l-2.6 6.5 4.1 1.7 5.1-12.5H72.5V13.2H30.4l-4.6-6.5H1v66.5h43.3v-4.3H7.5l16.6-34.3zM23.6 11l4.6 6.5h40v12.8H21.5L5.3 63.5V11h18.3z"/></svg>
				img(src="img/icon_create-folders.png", alt="")
			span Create Folders
		.modal__three-col
			i.icon
				//- <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="icon_searches" gradientUnits="userSpaceOnUse" x1="45.98" y1="77.963" x2="57.712" y2="11.431"><stop offset="0" stop-color="#6DB344"/><stop offset="1" stop-color="#73CCF3"/></linearGradient><path fill="url(#icon_searches)" d="M5.5 56.8h33.6v4.5H1V14.9h76.4v10.8h-4.5v-6.3H5.5v37.4zm92.2 30.3L79.9 69.5c-4 3.3-9 5.3-14.5 5.3-13 0-23.6-10.5-23.6-23.6s10.5-23.6 23.6-23.6S89 38.2 89 51.3c0 5.8-2 11-5.5 15.3L101 84.1l-3.3 3zM65.4 70c10.5 0 19-8.5 19-19s-8.5-19-19-19-19 8.5-19 19 8.5 19 19 19z"/></svg>
				img(src="img/icon_searches.png", alt="")
			span <strong>Smart</strong>Search&reg;