doctype html
html.no-js(lang='')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='apple-touch-icon', href='apple-touch-icon.png')
		//- Place favicon.ico in the root directory
		link(rel='stylesheet', href='main.css')
		script(src='http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js')
		script.
			// Register custom html tags
			(function(){if(!/*@cc_on!@*/0)return;var e = "component, subcomponent".split(','),i=e.length;while(i--){document.createElement(e[i])}})()
			
			// Async Image Loading
			function aload(t){"use strict";t=t||window.document.querySelectorAll("[data-aload]"),void 0===t.length&&(t=[t]);var a,e=0,r=t.length;for(e;r>e;e+=1)a=t[e],a["LINK"!==a.tagName?"src":"href"]=a.getAttribute("data-aload"),a.removeAttribute("data-aload");return t}
		block head

	body(style='opacity:0')
		div.cognizant-container

			div.hidden
				include ./includes/symbols.svg
			//if lt IE 8
				p.browserupgrade
					| You are using an 
					strong outdated
					|  browser. Please 
					a(href='http://browsehappy.com/') upgrade your browser
					|  to improve your experience.
			nav(style='position:relative; z-index:99')
				img(src="img/tmp/nav.jpg")

			block content
			
			block footer
			footer
				.footer--top
					.container
						.row
							.footer__social-list
								.container
									.row
										each val, index in [{name: 'linkedin'},{name: 'twitter'},{name: 'facebook'},{name: 'rss'}]
											a(href="")
												svg(viewbox='0 0 100 100')
													use(xlink:href='#icon_#{val.name}')
							.footer__subnav
								.container
									.row
										a(href="#", target="_blank") Legal
										a(href="#", target="_blank") Privacy Policy
										a(href="#", target="_blank") Cookie Policy
										a(href="#", target="_blank") Safe Harbor
										span ©2015 Cognizant, all rights reserved
				.footer--bottom
					img(src="img/tmp/footer.jpg")

			block scripts
			script.
				head.load(
					{ app: 'main.js' }, 
					function() {
					// Async Image Loading
					aload();
				});