section.section.color-bg
	component.banner-module(style='background: url("img/bg-diamonds.jpg") repeat')
		.banner__text
			.banner__center
				h4 Join Cognizant Connections
				p An exclusive online community for technology and business leaders.
		.banner__CTA
			.banner__center
				.button__container
					a(href="").button--primary Sign In
				.button__container
					a(href="").button--silent Learn More