section.section.color-bg
	component.banner-module#banner-unique-ID2
		.banner__text.js-equal-height
			.banner__center
				h4 Join Cognizant Connections
				p An exclusive online community for technology and business leaders.
		.banner__CTA.js-equal-height
			.banner__center
				.button__container
					a(href="").button--primary Sign In
				.button__container
					a(href="").button--silent Learn More