section.section.color-bg
	component.banner-module(style='background: url("img/banner-bg@2x.png") repeat')
		.banner__text
			.banner__center
				h4 Stay Agile with our 
					wbr
					| Industry-Leading&nbsp;Insight.
				img(src="img/perspectives-ad.png", alt="")
		.banner__CTA
			.banner__center
				h4 Download our new 
					br
					| Perspectives&nbsp;App
				a(href="")
					img.app-store-button(src="svg/apple_app_icon.svg", alt="")
				a(href="")
					img.app-store-button(src="svg/googleplay_app_icon.svg", alt="")