section.section.generic-section
	component.banner-module
		.banner__text.js-equal-height
			h4 STAY AGILE WITH OUR INDUSTRY-LEADING INSIGHT.
			img(src="img/perspectives-ad.png", alt="")
		.banner__CTA.js-equal-height
			h4 DOWNLOAD OUR NEW PERSPECTIVES APP 
			img.app-store-button(src="img/apple-store.png", alt="")
			img.app-store-button(src="img/play-store.png", alt="")