section.section.generic-section
	component.banner-module
		.banner__text
			h2 Join Cognizant Connections
			p An exclusive online community for technology and business leaders.
		.banner__CTA
			div
				button.button--primary Sign In
				a.button--silent Learn More