component.container.compact-profile-box__container
	.compact-profile-box-module
		.compact-profile-box-bar
			p.compact-profile-box__details.hide-small
				| Get the most of your Latest Thinking experience by connecting to LinkedIn.
			p.compact-profile-box__details.show-for-small
				| Get Connected
			
			a.button--primary.icon--left(href='/folder-logged-in.html')
				i.icon.icon-linkedin
					//- img(src="img/symbols/icon_linkedin-2x.png", alt="")
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_linkedin')
						image(src='img/symbols/icon_linkedin-2x.png' width='20px' height='20px')
				| Sign In with Linkedin

			