component.container.compact-profile-box__container
	.compact-profile-box-module
		.compact-profile-box-bar
			a.compact-profile-box__profile-pic(href='/index-logged-in.html')
				img(src="http://placehold.it/20x20", alt="")
			p.compact-profile-box__details.hide-small
				b: a(href='/index-logged-in.html') Kyla Medina
				span.hide-small &nbsp; | &nbsp;Information Technology &amp; Services
			.compact-profile-box__aside
				.compact-profile-box__notification
					span 3
				i.icon(data-flyout='notifications')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_folders')
				i.icon(data-flyout='settings')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_settings')
			.compact-profile-box__button.js-smart-search
				.search__smart-search
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_search')
					p <strong>Smart</strong>Search&reg;

			
		subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--settings
			.profile-box__indicator.triangle
			header
				p Settings
				hr
			.profile-box__button
				button.button--silent.js-edit-profile Edit Info
			.profile-box__button
				a(href="/").button--silent Log Out
		subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--notifications
			.profile-box__indicator.triangle
			header
				p Recent Activity
				hr
			.profile-box__list
				each val, index in [1,2,3]
					.profile-box__list-item
						.profile-box__list-notification
							span 1
						p
							strong
								a(href='') Industry Friends
						p Invited by Larry
						i.icon.profile-box__list-CTA
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_caret')
			button.button--silent View All