section.section.generic-section.white-bg
	.container
		.content-list
			header.content-list__header
				h2 Digital Business
				//- h3 Social Mobile Analytics Cloud
				p: small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat qui est minima quae, velit modi eos earum! Adipisci sunt, doloremque quisquam sint doloribus ullam debitis. Esse placeat voluptate temporibus excepturi.
			.content-list__header-border
			each val, index in [1,2,3]
				article.content-list__items
					.content-list__item
						h4
							| Article | 
							i.icon
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_share-filled')
							| 25k
						p: strong It’s Time for Learning to Go Back to School
						i.content-list__item-CTA
							svg(viewbox='0 0 100 100'): use(xlink:href='#icon_triangle-filled')
			footer.content-list__footer
				a.button--silent(href='#') View Digital Business
		.content-list
			header.content-list__header
				h2 Code Halos&trade;
				//- h3 Social Mobile Analytics Cloud
				p: small  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat qui est minima quae, velit modi eos earum! Adipisci sunt, doloremque quisquam sint doloribus ullam debitis. Esse placeat voluptate temporibus excepturi.
			.content-list__header-border
			each val, index in [1,2,3]
				article.content-list__items
					.content-list__item
						h4
							| Article | 
							i.icon
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_share-filled')
							| 25k
						p: strong It’s Time for Learning to Go Back to School
						i.content-list__item-CTA
							svg(viewbox='0 0 100 100'): use(xlink:href='#icon_triangle-filled')
			footer.content-list__footer
				a.button--silent(href='#') View Code Halos