.fullscreen-overlay.edit-profile-overlay
	i.icon.fullscreen-overlay__icon.js-edit-profile
		svg(viewbox='0 0 100 100')
			use(xlink:href='#icon_close')
	.fullscreen-overlay__center
		.container
			
			header.header--section
				h1 Edit Your Profile
				p Information about editing your profile infromation. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		component.contenteditable-module
			.container
				.contenteditable__text
					h2
						div.noneditable I'm a(n) 
						div.is-editable.js-dropdown-option-parent.has-dropdown
							.contenteditable__wrapper
								div.js-dropdown-option-holder(contenteditable data-placeholder='Occupation') Occupation
							i.icon.js-dropdown-trigger
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_caret')
							subcomponent.contenteditable-dropdown
								ul
									li.js-dropdown-option Search Suggestion
									li.js-dropdown-option Another Suggestion
									li.js-dropdown-option Yet Anonther Suggestion
									li.js-dropdown-option Alternative Suggestion
									li.js-dropdown-option Possible Suggestion
									li.js-dropdown-option Consider this Suggestion
									li.js-dropdown-option One More Suggestion

						div.noneditable  interested in the
						
						div.is-editable.js-dropdown-option-parent.has-dropdown
							.contenteditable__wrapper
								div.js-dropdown-option-holder(contenteditable data-placeholder='Industry') Industry
							i.icon.js-dropdown-trigger
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_caret')
							subcomponent.contenteditable-dropdown
								ul
									li.js-dropdown-option Search Suggestion
									li.js-dropdown-option Another Suggestion
									li.js-dropdown-option Yet Anonther Suggestion
									li.js-dropdown-option Alternative Suggestion
									li.js-dropdown-option Possible Suggestion
									li.js-dropdown-option Consider this Suggestion
									li.js-dropdown-option One More Suggestion
						div.noneditable  Industry. I work for 
						div.is-editable
							.contenteditable__wrapper
								div(contenteditable data-placeholder='Workplace') Workplace
					
						div.noneditable  in 
						div.is-editable
							.contenteditable__wrapper
								div(contenteditable data-placeholder='Zip Code / City') Zip Code / City
						span.noneditable .
				.contenteditable__button-box
					a.button--primary(href='') Continue