section.section.folder-headline-section.color-bg
	.container
		div.folder-headline-section__callout
			.folder-headline-section__callout-center
				h1 Organize your thinking
				p Organize your insight. Share with colleagues. Collaborate and inspire results.
				div
					a.button--primary.icon--left(href='/index-logged-in.html')
						i.icon
							//- img(src="img/symbols/icon_linkedin-2x.png", alt="")
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_linkedin')
								image(src='img/symbols/icon_linkedin-2x.png' width='20px' height='20px')
						| Sign In with Linkedin
		component.folder-module
			.folder__overlay
			.folder__content
				//- p.folder__alert
				//- 	span.folder__alert-number
				//- 		span 1
				//- 	span New Video Added

				.folder__profile-pic
					svg(viewbox='0 0 100 100'): use(xlink:href='#icon_default')
				.folder__data
					p: strong Favorites
					i.icon
						svg(viewbox='0 0 100 100'): use(xlink:href='#icon_files')
					span 0
					i.icon
						svg(viewbox='0 0 100 100'): use(xlink:href='#icon_collaborators')
					span 0
				.folder__CTA
					a.folder__CTA-icon.folder__CTA--right.interactive-svg(href='/my-folders.html')
						svg.is-empty(viewbox='0 0 100 100')
							use(xlink:href='#icon_triangle')
						svg.is-filled(viewbox='0 0 100 100')
							use(xlink:href='#icon_triangle-filled')
						span.folder__CTA__alt-text View
