.fullscreen-overlay.smart-search-overlay
	i.icon.fullscreen-overlay__icon.js-smart-search
		svg(viewbox='0 0 100 100')
			use(xlink:href='#icon_close')
	.container
		header.header--section
			h1.inline-block.is-center.capitalize
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_search')
				b Smart
				| Search
				sup &reg;
	component.contenteditable-module.smart-search__option
		.container
			.contenteditable__text
				h2
					div.noneditable Search Latest Thinking&nbsp;in
					div.is-editable.js-dropdown-option-parent.has-dropdown
						.contenteditable__wrapper
							div.js-dropdown-option-holder(contenteditable data-placeholder='All Industries') Healthcare
							input.hidden.js-dropdown-option-holder
						i.icon.js-dropdown-trigger
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_caret')
						subcomponent.contenteditable-dropdown
							ul
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option Another Suggestion
								li.js-dropdown-option Yet Anonther Suggestion
								li.js-dropdown-option Alternative Suggestion
								li.js-dropdown-option Possible Suggestion
								li.js-dropdown-option Consider this Suggestion
								li.js-dropdown-option One More Suggestion
	component.cogv1-smart-search
		.container
			.cogv1-smart-search__input-container
				i.icon.cogv1-smart-search__icon.cogv1-smart-search__icon--left
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_search')
				input.cogv1-smart-search__input(type="text")
				i.icon.cogv1-smart-search__icon.cogv1-smart-search__icon--right
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
		.container
			.cogv1-smart-search__dropdown
				.content-list__items
					each val, index in [1,2,3]
						a.content-list__item(href='/article.html')
							div
								h4
									i.icon
										img(src='img/icon_data-science.png')

									| Article
							div
								p.content-list__item-title.js-search-text The  
									span blue
									|  is for letters matches for the search input value
							div
								p
									| Hank Mardukkas   |   12.23.2014
							a.content-list__item-CTA(href='/article.html')
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_triangle')

	component.cogv1-smart-search__results
		.container
			.row
				each val, index in [1,2,3,4]
					.cogv1-smart-search__result
						i.icon.cogv1-smart-search__result-type
							img(src='img/icon_pdf.png')

						p Article
						h3: a.js-search-text(href='') The Way to a True End-to-End Digital Experience  
						p Hank Mardukkas   |   12.23.2014
						a.icon.cogv1-smart-search__result-CTA(href='/article.html')
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_triangle--right')
			.cogv1-smart-search__result-message
				p: small Not what you're looking for? Leave Smart Search to see all of our Latest Thinking.
				div
					a.button--primary(href='/search-results.html') View All


