.fullscreen-overlay.smart-search-overlay
	i.icon.fullscreen-overlay__icon.js-smart-search
		svg(viewbox='0 0 100 100')
			use(xlink:href='#icon_close')
	.container
		header.header--section
			h1.inline-block.is-center.capitalize
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_search')
				b Smart
				| Search
				sup &reg;
	component.contenteditable-module.smart-search__option
		.container
			.contenteditable__text
				h2
					div.noneditable Search Latest Thinking in
					div.is-editable.js-dropdown-option-parent.has-dropdown
						.contenteditable__wrapper
							div.js-dropdown-option-holder(contenteditable data-placeholder='All Industries') Healthcare
						i.icon.js-dropdown-trigger
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_caret')
						subcomponent.contenteditable-dropdown
							ul
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option Another Suggestion
								li.js-dropdown-option Yet Anonther Suggestion
								li.js-dropdown-option Alternative Suggestion
								li.js-dropdown-option Possible Suggestion
								li.js-dropdown-option Consider this Suggestion
								li.js-dropdown-option One More Suggestion
	component.cogv1-smart-search
		.container
			.cogv1-smart-search__input-container
				i.icon.cogv1-smart-search__icon.cogv1-smart-search__icon--left
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_search')
				input.cogv1-smart-search__input(type="text")
				i.icon.cogv1-smart-search__icon.cogv1-smart-search__icon--right
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
		.container
			.cogv1-smart-search__dropdown
				.content-list__items
					each val, index in [1,2,3]
						a.content-list__item(href='/article.html')
							div
								h4
									i.icon
										| <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="icon_pdf" gradientUnits="userSpaceOnUse" x1="-296.751" y1="298.16" x2="-293.696" y2="315.488" gradientTransform="matrix(6.12 0 0 -6.12 1856.4 1929.84)"><stop offset=".093" stop-color="#72CDF4"/><stop offset=".897" stop-color="#6DB33F"/></linearGradient><path fill="url(#icon_pdf)" d="M64.3 0h-53v100h77.3V24.3L64.3 0zm1.6 22.7V9l13.7 13.7H65.9zM83.4 28v66.7H16.6V5.3h44V28h22.8z"/><linearGradient id="icon_pdf2" gradientUnits="userSpaceOnUse" x1="-295.714" y1="301.409" x2="-293.962" y2="311.343" gradientTransform="matrix(6.12 0 0 -6.12 1856.4 1929.84)"><stop offset=".093" stop-color="#72CDF4"/><stop offset=".897" stop-color="#6DB33F"/></linearGradient><path fill="url(#icon_pdf2)" d="M50 24.1c-.7-.9-1.7-1.4-2.9-1.4-.5 0-1 .1-1.5.3-1.3.4-2.3 1.3-2.8 2.7-1.6 3.7.6 10.1 2.8 15-1.9 7.6-5.1 16.8-8.5 24.2-8.5 3.9-13.1 7.7-13.5 11.4-.1 1.3.2 3.3 2.5 5 .6.5 1.4.7 2.2.7 2 0 4-1.5 6.3-4.7 1.7-2.4 3.5-5.6 5.4-9.6 6-2.6 13.5-5 19.9-6.4 3.6 3.4 6.7 5.1 9.5 5.1 2 0 3.7-.9 5-2.7s1.6-3.5.9-4.9c-.9-1.7-3-2.5-6.5-2.5-2.1 0-4.6.3-7.6.8-4.1-4.4-8.4-10.8-11.5-17 3-12.6 1-15.2.3-16zm-21.6 54c-1.1-.8-1-1.4-1-1.6.1-1.3 2.1-3.5 6.9-6.2-3.7 6.8-5.5 7.7-5.9 7.8zm40.3-18c2 0 2.8.3 3.1.4-.1.2-.2.5-.5.9-.7 1-1.4 1.1-1.9 1.1-1.2 0-2.8-.8-4.7-2.2 1.5-.1 2.9-.2 4-.2zm-22.5-33c.2-.4.3-.5.5-.5.1 0 .2 0 .2-.1.3.5.7 2.5 0 7.3-.7-2.8-1.1-5.4-.7-6.7zm10.6 31c-4.8 1.1-9.9 2.7-14.6 4.5 2.3-5.4 4.4-11.5 6-17 2.6 4.5 5.6 8.9 8.6 12.5z"/></svg>
									| Article
							div
								p.content-list__item-title.js-search-text The  
									span blue
									|  is for letters matches for the search input value
							div
								p
									| Hank Mardukkas   |   12.23.2014
							i.content-list__item-CTA
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_triangle')

	component.cogv1-smart-search__results
		.container
			.row
				each val, index in [1,2,3,4]
					.cogv1-smart-search__result
						i.icon.cogv1-smart-search__result-type
							| <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="icon_pdf" gradientUnits="userSpaceOnUse" x1="-296.751" y1="298.16" x2="-293.696" y2="315.488" gradientTransform="matrix(6.12 0 0 -6.12 1856.4 1929.84)"><stop offset=".093" stop-color="#72CDF4"/><stop offset=".897" stop-color="#6DB33F"/></linearGradient><path fill="url(#icon_pdf)" d="M64.3 0h-53v100h77.3V24.3L64.3 0zm1.6 22.7V9l13.7 13.7H65.9zM83.4 28v66.7H16.6V5.3h44V28h22.8z"/><linearGradient id="icon_pdf2" gradientUnits="userSpaceOnUse" x1="-295.714" y1="301.409" x2="-293.962" y2="311.343" gradientTransform="matrix(6.12 0 0 -6.12 1856.4 1929.84)"><stop offset=".093" stop-color="#72CDF4"/><stop offset=".897" stop-color="#6DB33F"/></linearGradient><path fill="url(#icon_pdf2)" d="M50 24.1c-.7-.9-1.7-1.4-2.9-1.4-.5 0-1 .1-1.5.3-1.3.4-2.3 1.3-2.8 2.7-1.6 3.7.6 10.1 2.8 15-1.9 7.6-5.1 16.8-8.5 24.2-8.5 3.9-13.1 7.7-13.5 11.4-.1 1.3.2 3.3 2.5 5 .6.5 1.4.7 2.2.7 2 0 4-1.5 6.3-4.7 1.7-2.4 3.5-5.6 5.4-9.6 6-2.6 13.5-5 19.9-6.4 3.6 3.4 6.7 5.1 9.5 5.1 2 0 3.7-.9 5-2.7s1.6-3.5.9-4.9c-.9-1.7-3-2.5-6.5-2.5-2.1 0-4.6.3-7.6.8-4.1-4.4-8.4-10.8-11.5-17 3-12.6 1-15.2.3-16zm-21.6 54c-1.1-.8-1-1.4-1-1.6.1-1.3 2.1-3.5 6.9-6.2-3.7 6.8-5.5 7.7-5.9 7.8zm40.3-18c2 0 2.8.3 3.1.4-.1.2-.2.5-.5.9-.7 1-1.4 1.1-1.9 1.1-1.2 0-2.8-.8-4.7-2.2 1.5-.1 2.9-.2 4-.2zm-22.5-33c.2-.4.3-.5.5-.5.1 0 .2 0 .2-.1.3.5.7 2.5 0 7.3-.7-2.8-1.1-5.4-.7-6.7zm10.6 31c-4.8 1.1-9.9 2.7-14.6 4.5 2.3-5.4 4.4-11.5 6-17 2.6 4.5 5.6 8.9 8.6 12.5z"/></svg>

						p Article
						h3: a.js-search-text(href='') The Way to a True End-to-End Digital Experience  
						p Hank Mardukkas   |   12.23.2014
						i.icon.cogv1-smart-search__result-CTA
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_triangle--right')
			.cogv1-smart-search__result-message
				p: small Not what you're looking for? Leave Smart Search to see all of our Latest Thinking.
				div
					a.button--primary(href='/search-results.html') View All


