extends layouts/layout-primary

block content
	include modules/compact-profile-box

	header.cogv1_article-header.color-bg.cogv1_has-overlay(style='background: url("http://lorempixel.com/1250/500/technics") no-repeat;')
		.cogv1_article-header__overlay
		.container
			.row
				.cogv1_article-header__tag 
					h4 Perspective

				h3 Healthcare Consumerism: 
				h1 The Rise of the Empowered Healthcare Consumer
				p.cogv1_article-header__meta
					| Hank Mardukkas   |   01.29.2014
				hr.blue
				p.cogv1_article-header__description
					strong A shift to individual healthcare. 
					| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars.Curabitur blandit tempus porttitor vestibulum id ligul.
				
				.row
					i.article-mobile__share.share-flyout__trigger.js-article-mobile__share-flyout__trigger.interactive-svg
						svg.is-empty(viewbox='0 0 100 100')
							use(xlink:href='#icon_share')
							
						svg.is-filled(viewbox='0 0 100 100')
							use(xlink:href='#icon_share-filled')
							
					component.article-mobile__share-flyout-wrapper.js-share-flyout
						.article-mobile__share-flyout.share-flyout
							.article-mobile__share__icon.share-flyout__icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_email')
							.article-mobile__share__icon.share-flyout__icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_twitter')
							.article-mobile__share__icon.share-flyout__icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_facebook')
							.article-mobile__share__icon.share-flyout__icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_linkedin')

		component.container.main-header__search-container
			.search-module.search-module--main
				.search__icon__wrapper
					a.search__icon.gradient6reverse--horizontal
						i.icon
							img(src="icon_search-article.png", alt="")
							//- svg(viewbox='0 0 100 100')
							//- 	use(xlink:href='#icon_search-article')
				
				i.icon.search__icon--right.search__CTA.push-left
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
				input.search__input(type='text', placeholder='Search Article for Keywords')

				subcomponent.search__share-flyout__wrapper
					.search__share
						.share-flyout__trigger.js-share-flyout__trigger
							svg.is-empty(viewbox='0 0 100 100')
								use(xlink:href='#icon_share')
							svg.is-filled(viewbox='0 0 100 100')
								use(xlink:href='#icon_share-filled')
						.search__share-flyout.gradient5--vertical.share-flyout.js-share-flyout
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_email')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_twitter')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_facebook')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_linkedin')

	main
		section.cogv1_article-subhead
			.container
				.row
					.cogv1_article-subhead__column.right
						.row
							.cogv1_article-subhead__CTA.cogv1_article-subhead__save-article.js-save-article
								i.icon.interactive-svg
									svg.is-empty(viewbox='0 0 100 100')
										use(xlink:href='#icon_star')
										
									svg.is-filled(viewbox='0 0 100 100')
										use(xlink:href='#icon_star-filled')
										
								span Save Article
							.cogv1_article-subhead__CTA.cogv1_article-subhead__download
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_download')
										
								span Download
						.row
							// THIS IS THE LOGGED IN FLYOUT
							subcomponent.cogv1_article__save.is-signed-in
								.cogv1_article__save__indicator.triangle
								.cogv1_article__save__add
									.add-action.is-active
										i.icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_add')
										h6 Create New Folder
									.add-action
										i.icon.icon_save-article
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_check')
										input(type='text').cogv1_article__save__input
								ul
									li.cogv1_article__save__list
										p: b Folder Title
									li.cogv1_article__save__list.is-active
										p: b Folder Title
									li.cogv1_article__save__list
										p: b Folder Title

							// THIS IS THE LOGGED OUT FLYOUT
							// subcomponent.cogv1_article__save.is-signed-out
								.cogv1_article__save__indicator.triangle
								p: small: b Article marked as favorite
								p: small 
									a.link(href="") Sign in with LinkedIn
									|  to organize your favourites and share them with colleagues in your network. 
					.cogv1_article-subhead__column.left
						h2 Executive Highlights
						each val, index in [1,2]
							.cogv1_article-subhead__highlight
								i.icon.share-flyout__trigger.js-share-flyout__trigger
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_share-filled')
										
								component.cogv1_article-subhead-flyout-wrapper.js-share-flyout.share-flyout__wrapper
									.cogv1_article-subhead-flyout.share-flyout
										.cogv1_article-subhead__icon.share-flyout__icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_email')
										.cogv1_article-subhead__icon.share-flyout__icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_twitter')
										.cogv1_article-subhead__icon.share-flyout__icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_facebook')
										.cogv1_article-subhead__icon.share-flyout__icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_linkedin')
								p 140 character max You probably already know. In 2012, the U.S. spent 20% of its gross domestic product (or $3 trillion)
			
		article.cogv1_article
			.cogv1_article-nav.cogv1_article-nav--prev
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret--left')
				span Prev
			.cogv1_article-nav.cogv1_article-nav--next
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret--right')
					span Next
			.container
				h2 Six Ways Analytics Can Improve Healthcare
				hr
			.container.cogv1_article-body__container
				h3 Better Collaboration
				p Big data benefits healthcare, too. But only if medical providers know how to capture all patient data in a single place which helps them better interpret what the information is telling them. In other words, evidence-based medical decisions related to recent practitioner research, technical reports, clinical trial studies, expert views and patient characteristics (including those from their social Web site and app usage) to enable appropriate intervention at the point and time of care. Like all industries, healthcare-related data is growing at a rate of 35% per year. Analytics are required to effectively mine this data to improve health outcomes.
				ul.unorder-list
					each val, index in [1,2,3,4,5]
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p We are a friendly firm of Financial Advisors who are happy to meet with you face to face or liaise with you via the phone or email to provide a service that’s right for you. Our Services included offering advice and solutions on Mortgages, Insurance, Financial Protection, Investments and Pensions. Our aim is to leave you worry free about your finances because you know they are in safe hands.
 

				h3 Smarter Outcomes
				p We have specialist advisors in all areas of our business as well as fantastic support staff who will be able to help you if your advisor is unavailable when you make contact.
 

			.container
				h2 Proportional Data Infographics
				hr
				img(src="img/server-side-generated-charts.png", alt="")
			.container.cogv1_article-body__container
				p Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. Most of our clients use our Data Analysis service to inform their strategic decision making and their targets for the immediate, mid-term and long-term future. The data sources that we use for this type of analysis include customer enquiry data, sales figures, costs, market data and customer feedback.
				h3 Better Collaboration
				p We are authorised and regulated by the Financial Services Authority (FSA).
				p Brands may find out who their friends are through social media, but it's predictive analytics that lets them build lasting — and more profitable — relationships.
	
				p With analytics, brands get to know and communicate with their customers as individuals. They discover their likes, dislikes, preferences and habits. Analytics imbues the engagement with immediacy: Brands can communicate with consumers within hours and days and sometimes even as they shop.

				p Immediacy alters the conversation, however, changing the quantity and quality of brand messaging. The more that marketers know about consumers, the more they can effectively communicate with them — and the more personalized and relevant the messaging can be. In a world gone social, the most compelling narrative to advance relationships isn't always a "buy" message; it's often a value exchange.

			include modules/video-module2

			.container.cogv1_article-body__container
				h3 Better Collaboration
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore molestias earum vero iste exercitationem. Accusamus Dolore molestias earum vero iste exercitationem. Accusamus deserunt consequuntur vitae quidem ex, non assumenda nihil reprehenderit vero aut maxime. nostrum, deleniti!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore molestias earum vero iste exercitationem. Accusamus deserunt consequuntur vitae quidem ex, non assumenda nihil reprehenderit vero aut maxime. nostrum, deleniti!
				

	
		component.cogv1_article__footer-nav.backgray-bg
			a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--prev
				a.icon(href='')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret--left')
			.container
				.row
					a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--prev(href='')
						p
							strong Prev
								span ious Search Result &ldquo;Server Storage&rdquo;
							strong How Digital Is Quickly Reshaping Customer
					.cogv1_article__footer-nav__divider
					a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--next(href='')
						p
							strong Next
								span  Search Result &ldquo;Server Storage&rdquo;
							strong How Digital Is Quickly Reshaping Customer
			a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--next
				a.icon(href='')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret--right')
	footer
		.cogv1_article__related.color-bg
			.header--section
				h2 Related Thinking
			.cogv1_article__related--large
				.container
					.row
						each val, index in [1,2,3]
							.flow-box
								.flow-box__folder-save
									.flow-box__folder-save-wrapper
										p: small Save this article to your folders
										hr
										subcomponent.cogv1_article__save.is-signed-in
											
											.cogv1_article__save__add
												.add-action.is-active
													i.icon
														svg(viewbox='0 0 100 100')
															use(xlink:href='#icon_add')
													h6 Create New Folder
												.add-action
													i.icon.icon_save-article.js-toggle-save-overlay
														svg(viewbox='0 0 100 100')
															use(xlink:href='#icon_check')
													input(type='text').cogv1_article__save__input
											ul
												each val, index in [1,2,3]
													li.cogv1_article__save__list.js-toggle-save-overlay
														p: b Folder Title
						
										.flow-box__CTA
											i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg.is-active
												svg.is-empty(viewbox='0 0 100 100')
													use(xlink:href='#icon_star')
													
												svg.is-filled(viewbox='0 0 100 100')
													use(xlink:href='#icon_star-filled')
													
												span.flow-box__CTA__alt-text Save
								.flow-box__gradient-bg
									h4.flow-box__tag
										i.icon
											svg(viewbox='0 0 100 100'): use(xlink:href='#icon_pdf')
										strong Article

									.flow-box__content
										a.flow-box__title(href='/article.html')
											h2 A Systematic Approach To Optimizing Collateral Damage Control
										.flow-box__CTA-description.truncate
											p: small Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui impedit provident aut ipsa, dolore perferendis blanditiis natus numquam! Qui cupiditate possimus odit dolor, in ea quasi culpa ad aut sint?
										.flow-box__CTA
											i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg.js-toggle-save-overlay
												svg.is-empty(viewbox='0 0 100 100')
													use(xlink:href='#icon_star')
													
												svg.is-filled(viewbox='0 0 100 100')
													use(xlink:href='#icon_star-filled')
													
												span.flow-box__CTA__alt-text Save
											a.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg(href='/article.html')
												svg.is-empty(viewbox='0 0 100 100')
													use(xlink:href='#icon_triangle')
													
												svg.is-filled(viewbox='0 0 100 100')
													use(xlink:href='#icon_triangle-filled')
													
												span.flow-box__CTA__alt-text View
			.cogv1_article__related--small
				.container
					each val, index in [1,2,3]
						article.content-list__items
							.content-list__item
								div
									h4
										i.icon
											| <svg id="data_science" xmlns="http://www.w3.org/2000/svg" viewBox="8.8 -14.6 75.4 50.4"><linearGradient id="data-science" gradientUnits="userSpaceOnUse" x1="76.168" y1="-74.456" x2="95.128" y2="33.071" gradientTransform="matrix(.563 0 0 -.563 2.31 .145)"><stop offset="0" stop-color="#6DB33F"/><stop offset="1" stop-color="#72CDF4"/></linearGradient><path fill="url(#data-science)" d="M82.9 33.2h-3.7v-46.5c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v46.5h-5V9.3c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v23.9h-5V1.7C44 1 43.3.4 42.7.4h-10c-.7 0-1.3.7-1.3 1.3v31.5h-5V19.3c0-.7-.7-1.3-1.3-1.3h-10c-.7 0-1.3.7-1.3 1.3v13.9h-3.7c-.7 0-1.3.7-1.3 1.3 0 .7.7 1.3 1.3 1.3H82.9c.7 0 1.3-.7 1.3-1.3 0-.8-.4-1.3-1.3-1.3zm-66.5 0V20.6H24v12.6h-7.6zm17.6 0V3h7.6v30.2H34zm17.6 0V10.6h7.6v22.6h-7.6zm17.6 0V-12h7.6v45.2h-7.6z"/></svg>
										| Article
								p: strong: a(href='/article.html') It’s Time for Learning to Go Back to School
								i.content-list__item-CTA
									a(href='/article.html')
										svg(viewbox='0 0 100 100'): use(xlink:href='#icon_triangle-filled')