extends layouts/layout-primary

block content
	component.container.compact-profile-box__container
		.compact-profile-box-module
			.compact-profile-box-bar
				.compact-profile-box__profile-pic
					img(src="http://placehold.it/20x20", alt="")
				p.compact-profile-box__details
					b Kyla Medina
					span.hide-small &nbsp; | &nbsp;Information Technology &amp; Services
				.compact-profile-box__aside
					.compact-profile-box__notification
						span 3
					i.icon(data-flyout='notifications')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_folders')
					i.icon(data-flyout='settings')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_settings')
				
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--settings
				.profile-box__indicator.triangle
				header
					p Settings
					hr
				.profile-box__button
					button.button--silent.js-edit-profile Edit Info
				.profile-box__button
					a(href="/").button--silent Log Out
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--notifications
				.profile-box__indicator.triangle
				header
					p Recent Activity
					hr
				.profile-box__list
					each val, index in [1,2,3]
						.profile-box__list-item
							.profile-box__list-notification
								span 1
							p
								strong
									a(href='') Industry Friends
							p Invited by Larry
							i.icon.profile-box__list-CTA
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_caret')
				button.button--silent View All

	header.cogv1_article-header.color-bg.cogv1_has-overlay(style='background: url("http://lorempixel.com/1250/500/technics") no-repeat;')
		.cogv1_article-header__overlay
		.container
			.row
				.cogv1_article-header__tag 
					h4 Perspective

				h3 Healthcare Consumerism: 
				h1 The Rise of the Empowered Healthcare Consumer
				p.cogv1_article-header__meta
					| Hank Mardukkas   |  01.29.2014
				hr
				p.cogv1_article-header__description
					strong A shift to individual healthcare. 
					| Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars.Curabitur blandit tempus porttitor vestibulum id ligul.
				//- .cogv1_article-header__CTA
				//- 	.cogv1_article-header__favorites.cogv1_article-header-icon.interactive-svg
				//- 		svg.is-empty(viewbox='0 0 100 100')
				//- 			use(xlink:href='#icon_star')
				//- 		svg.is-filled(viewbox='0 0 100 100')
				//- 			use(xlink:href='#icon_star-filled')
				//- 		span Save
				//- 	.cogv1_article-header__download.cogv1_article-header-icon
				//- 		svg(viewbox='0 0 100 100')
				//- 			use(xlink:href='#icon_download')
				//- 		span Download
		component.container.main-header__search-container
			.search-module.search-module--main
				.search__icon__wrapper
					a.search__icon.gradient6reverse--horizontal
						i.icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_search-article')
				
				i.icon.search__icon--right.search__CTA
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
				input.search__input(type='text', placeholder='Search Article for Keywords')
				.cogv1_search__section-right.is-blue
					.cogv1_search__favorites.cogv1_search__right-icon.interactive-svg
						svg.is-empty(viewbox='0 0 100 100')
							use(xlink:href='#icon_star')
						svg.is-filled(viewbox='0 0 100 100')
							use(xlink:href='#icon_star-filled')
					.cogv1_search__download.cogv1_search__right-icon
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_download')
					.cogv1_search__share.cogv1_search__right-icon.js-search-share-flyout__trigger.interactive-svg
						svg.is-empty(viewbox='0 0 100 100')
							use(xlink:href='#icon_share')
						svg.is-filled(viewbox='0 0 100 100')
							use(xlink:href='#icon_share-filled')
					subcomponent.search__share-flyout__wrapper
						.search__share
							.search__share-flyout.gradient5--vertical.share-flyout.js-share-flyout
								.share-flyout__icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_email')
								.share-flyout__icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_twitter')
								.share-flyout__icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_facebook')
								.share-flyout__icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_linkedin')

				//- subcomponent.search__share-flyout__wrapper
				//- 	.search__share
				//- 		.share-flyout__trigger.js-share-flyout__trigger
				//- 			svg(width='46', height='46', viewbox='0 0 46 46', xmlns='http://www.w3.org/2000/svg')
				//- 				title share
				//- 				path(d='M14.22 19.716l17.25-8.784-17.25 8.784zm-.32 5.886l17.25 8.784-17.25-8.784zM43.08 8.11c0 3.374-2.735 6.11-6.11 6.11-3.374 0-6.11-2.736-6.11-6.11 0-3.375 2.736-6.11 6.11-6.11 3.375 0 6.11 2.735 6.11 6.11zM14.22 22.677c0 3.375-2.736 6.11-6.11 6.11-3.375 0-6.11-2.735-6.11-6.11 0-3.373 2.735-6.11 6.11-6.11 3.374 0 6.11 2.737 6.11 6.11zM43.08 37.224c0 3.376-2.735 6.11-6.11 6.11-3.374 0-6.11-2.734-6.11-6.11 0-3.373 2.736-6.11 6.11-6.11 3.375 0 6.11 2.737 6.11 6.11z', stroke='currentColor', stroke-width='2.813', fill='none', fill-rule='evenodd')
				//- 		.search__share-flyout.gradient5--vertical.share-flyout.js-share-flyout
				//- 			.share-flyout__icon
				//- 				svg(viewbox='0 0 100 100')
				//- 					use(xlink:href='#icon_email')
				//- 			.share-flyout__icon
				//- 				svg(viewbox='0 0 100 100')
				//- 					use(xlink:href='#icon_twitter')
				//- 			.share-flyout__icon
				//- 				svg(viewbox='0 0 100 100')
				//- 					use(xlink:href='#icon_facebook')
				//- 			.share-flyout__icon
				//- 				svg(viewbox='0 0 100 100')
				//- 					use(xlink:href='#icon_linkedin')
				
				// THIS IS THE LOGGED IN FLYOUT
				// subcomponent.cogv1_search__flyout.is-signed-in
					.cogv1_search__flyout__indicator.triangle
					header
						p: small Save this article to your folders
						hr
					.cogv1_search__flyout__add
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_add')
						h6 Create New Folder
					ul
						li.cogv1_search__flyout__list
							p: b Folder Title
						li.cogv1_search__flyout__list
							p: b Folder Title

				// THIS IS THE LOGGED OUT FLYOUT
				subcomponent.cogv1_search__flyout.is-signed-out
					.cogv1_search__flyout__indicator.triangle
					.cogv1_search__flyout__section1
						p: b Article marked as favorite
						p: small Sign in with LinkedIn to organize your favourites and share them with colleagues in your network.
					.cogv1_search__flyout__section2
						a.button--primary.icon--left(href='/index-logged-in.html')
							i.icon.icon-linkedin
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_linkedin')
							| Sign In with Linkedin
							

	main
		section.cogv1_article-data
			.container
				.row
					.cogv1_article-data__column
						h2 Executive Highlights
						.cogv1_article-data__highlight
							i.icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_share-filled')
							p 140 character max You probably already know. In 2012, the U.S. spent 20% of its gross domestic product (or $3 trillion)
						.cogv1_article-data__highlight
							i.icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_share-filled')
							p 140 character max. shareable highlights. Despite its world-class medical technology, the U.S. is grossly inefficient in terms of controlling costs
					//- .cogv1_article-data__column
					//- 	h2 Popularity
					//- 	img.cogv1_article-data__graph(src="img/server-side-generated-graph.png", alt="")
			
		article.cogv1_article
			.cogv1_article-nav.cogv1_article-nav--prev
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret')
				span Prev
			.cogv1_article-nav.cogv1_article-nav--next
				i.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_caret')
					span Next
			.container
				h2 Six Ways Analytics Can Improve Healthcare
				hr
			.container.cogv1_article-body__container
				h3 Better Collaboration
				p Big data benefits healthcare, too. But only if medical providers know how to capture all patient data in a single place which helps them better interpret what the information is telling them. In other words, evidence-based medical decisions related to recent practitioner research, technical reports, clinical trial studies, expert views and patient characteristics (including those from their social Web site and app usage) to enable appropriate intervention at the point and time of care. Like all industries, healthcare-related data is growing at a rate of 35% per year. Analytics are required to effectively mine this data to improve health outcomes.
				ul.unorder-list
					each val, index in [1,2,3,4,5]
						li Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				p We are a friendly firm of Financial Advisors who are happy to meet with you face to face or liaise with you via the phone or email to provide a service that’s right for you. Our Services included offering advice and solutions on Mortgages, Insurance, Financial Protection, Investments and Pensions. Our aim is to leave you worry free about your finances because you know they are in safe hands.
 

				h3 Smarter Outcomes
				p We have specialist advisors in all areas of our business as well as fantastic support staff who will be able to help you if your advisor is unavailable when you make contact.
 

			.container
				h2 Proportional Data Infographics
				hr
				img(src="img/server-side-generated-charts.png", alt="")
			.container.cogv1_article-body__container
				p Our clients range from FTSE 300 companies, to large charitable organisations and some small local businesses who are striving to expand. Most of our clients use our Data Analysis service to inform their strategic decision making and their targets for the immediate, mid-term and long-term future. The data sources that we use for this type of analysis include customer enquiry data, sales figures, costs, market data and customer feedback.
				h3 Better Collaboration
				p We are authorised and regulated by the Financial Services Authority (FSA).
				p Brands may find out who their friends are through social media, but it's predictive analytics that lets them build lasting — and more profitable — relationships.
	
				p With analytics, brands get to know and communicate with their customers as individuals. They discover their likes, dislikes, preferences and habits. Analytics imbues the engagement with immediacy: Brands can communicate with consumers within hours and days and sometimes even as they shop.

				p Immediacy alters the conversation, however, changing the quantity and quality of brand messaging. The more that marketers know about consumers, the more they can effectively communicate with them — and the more personalized and relevant the messaging can be. In a world gone social, the most compelling narrative to advance relationships isn't always a "buy" message; it's often a value exchange.

			include modules/video-module2

			.container.cogv1_article-body__container
				h3 Better Collaboration
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore molestias earum vero iste exercitationem. Accusamus Dolore molestias earum vero iste exercitationem. Accusamus deserunt consequuntur vitae quidem ex, non assumenda nihil reprehenderit vero aut maxime. nostrum, deleniti!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore molestias earum vero iste exercitationem. Accusamus deserunt consequuntur vitae quidem ex, non assumenda nihil reprehenderit vero aut maxime. nostrum, deleniti!
				footer.cogv1_article__footer
					.row.share-icons-list
						a.share-icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_email')
						a.share-icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_twitter')
						a.share-icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_facebook')
						a.share-icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_linkedin')

	
			.cogv1_article__footer-nav
				a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--prev
					i.icon
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_caret')
				.container
					.row
						a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--prev
							p
								strong Prev
									span ious Search Result &ldquo;Server Storage&rdquo;
								strong How Digital Is Quickly Reshaping Customer
						.cogv1_article__footer-nav__divider
						a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--next
							p
								strong Next
									span  Search Result &ldquo;Server Storage&rdquo;
								strong How Digital Is Quickly Reshaping Customer
				a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--next
					i.icon
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_caret')
	footer.cogv1_article__related.color-bg
			h2 Related Thinking
			.container
				.row
					each val, index in [1,2,3]
						a.flow-box(href='/article.html')
							.flow-box__gradient-bg
								h4.flow-box__tag
									i.icon
										svg(viewbox='0 0 100 100'): use(xlink:href='#icon_pdf')
									strong Article

								.flow-box__content
									.flow-box__title
										h2 A Systematic Approach To Optimizing Collateral
									.flow-box__CTA-description
										p: small Added for you on 11.22.14
									.flow-box__CTA
										i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_star')
												image(src='img/symbols/icon_star-2x.png' width='20px' height='20px')
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_star-filled')
												image(src='img/symbols/icon_star-filled-2x.png' width='20px' height='20px')
											span.flow-box__CTA__alt-text Save
										i.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_triangle')
												image(src='img/symbols/icon_triangle-2x.png' width='20px' height='20px')
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_triangle-filled')
												image(src='img/symbols/icon_triangle-filled-2x.png' width='20px' height='20px')
											span.flow-box__CTA__alt-text View