extends layouts/layout-primary

block content
	include modules/compact-profile-box

	header.cogv1_mini-header.color-bg.cogv1_has-overlay(style='background: url("http://lorempixel.com/1250/500/technics") no-repeat')
		.container
			.center
				h1.upcase All Cognizanti Issues
	main
		section.alternating-rows-section
			each val, index in [1,2,3,4,5,6]
				article.cogv1_cognizanti-list__item
					.container
						.row
							.cogv1_cognizanti-list__item_left-col
								img.cognizanti-list__img(src="http://lorempixel.com/210/330/technics", alt="")
							.cogv1_cognizanti-list__item_right-col
								.row
									img.cognizanti-list__img(src="http://lorempixel.com/210/330/technics", alt="")
									h1 2014
									p: strong Cognizanti Volume 7, Issue 1
									h4: a Seeing the Digital Future through a 2020 Lens
								.row
									.gradient-hr
									p This issue of Cognizanti Journal focuses on successfully transitioning to the Future of Work. Article topics include "everything as a service", the emerging world of Code Halos, anytime/anyplace models of work and how to harness social, mobile, analytics and cloud technologies or the SMAC Stack.
								.row
									i.icon.cogv1_cognizanti-list__item__icon.cogv1_cognizanti-list__item__icon--left
										svg(viewbox='0 0 100 100')
											use(xlink:href='#icon_download')
									.share-icons-list
										.share-icon.interactive-svg
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_share')
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_share-filled')
										a.share-icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_email')
										a.share-icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_twitter')
										a.share-icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_facebook')
										a.share-icon
											svg(viewbox='0 0 100 100')
												use(xlink:href='#icon_linkedin')
									i.icon.cogv1_cognizanti-list__item__icon.cogv1_cognizanti-list__item__icon--right
										svg(viewbox='0 0 100 100')
											use(xlink:href='#icon_caret--right')
