extends layouts/layout-secondary

block content
	header.header--section
		h1 Tell Us About Yourself
		p You don't need to Sign In with LinkedIn to enjoy personalized results. Tell us about yourself to get started.
	div
		a.button--primary(href='') Continue