extends layouts/layout-secondary

block content
	header.header--section
		h1 Edit Your Profile
		p Information about editing your profile infromation. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
		div
			a.button--primary(href='') Continue