extends layouts/layout-secondary

block content
	.container
		i.icon.modal-close
			svg(viewbox='0 0 100 100')
				use(xlink:href='#icon_x')
		header.header--section
			h1 Edit Your Profile
			p Information about editing your profile infromation. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	component.contenteditable-module
		.container
			section.contenteditable__text
				h2
					div.noneditable I'm an 
					div.is-editable.js-dropdown-option-parent.has-dropdown
						div.js-dropdown-option-holder(contenteditable data-placeholder='Occupation') Occupation
						i.icon.js-dropdown-trigger
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_caret')
						.dropdown-module
							ul
								li.js-dropdown-option Seach Suggestion
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option: span Seach Suggestion
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option Seach Suggestion
								li.js-dropdown-option Seach Suggestion
								li.js-dropdown-option Seach Suggestion

					div.noneditable  interested in the
					
					div.is-editable.js-dropdown-option-parent.has-dropdown
						div.js-dropdown-option-holder(contenteditable data-placeholder='Industry') Industry
						i.icon.js-dropdown-trigger
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_caret')
						.dropdown-module
							ul
								li.js-dropdown-option Seach Suggestion
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option: span Seach Suggestion
								li.js-dropdown-option Search Suggestion
								li.js-dropdown-option Seach Suggestion
								li.js-dropdown-option Seach Suggestion
					br 
					div.noneditable  Industry. I work for 
					div.is-editable
						div(contenteditable data-placeholder='Workplace') Workplace
				
					div.noneditable  in 
					div.is-editable
						div(contenteditable data-placeholder='Zip Code') Zip Code
					span.noneditable .
			.contenteditable__button-box
				a.button--primary(href='') Continue