extends layouts/layout-primary

block content
	include modules/compact-profile-box

	header.cogv1_article-header.color-bg.cogv1_has-overlay(style='background: url("http://lorempixel.com/1250/500/technics") no-repeat;')
		.cogv1_article-header__overlay
		.container
			.row
				fieldset.cogv1_article-header__edit-title
					label Edit Folder Name
					input(type='text' value='The Rise of the Empowered Healthcare Consumer')
				fieldset.cogv1_article-header__edit-desc
					label Edit Folder Description
					textarea(value='&ldquo;Healthcare consumers are gaining control over how and with whom — they spend their healthcare dollars.Curabitur blandit tempus porttitor vestibulum id ligul.&rdquo;')
				div
					a.button--silent.has-icon--left(href='/folder.html')
						i.icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_check')
						| Ok
				hr.green
				p: strong 14 Collaborators
				.cogv1_inline-photo-list
					each val, index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14]
						img(src="http://api.randomuser.me/portraits/thumb/women/#{val}.jpg", alt="")
				
			
		component.container.main-header__search-container
			.search-module.search-module--main
				.search__icon__wrapper
					a.search__icon.gradient6reverse--horizontal
						i.icon
							img(src="img/icon_search-folders.png", alt="")
							//- svg(viewbox='0 0 100 100')
							//- 	use(xlink:href='#icon_search-folders')
				
				i.icon.search__icon--right.search__CTA
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
				input.search__input(type='text', placeholder='Search Article for Keywords')

				subcomponent.search__share-flyout__wrapper
					.search__share
						.share-flyout__trigger.js-share-flyout__trigger
							svg.is-empty(viewbox='0 0 100 100')
								use(xlink:href='#icon_share')
							svg.is-filled(viewbox='0 0 100 100')
								use(xlink:href='#icon_share-filled')
						.search__share-flyout.gradient5--vertical.share-flyout.js-share-flyout
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_email')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_twitter')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_facebook')
							a.share-flyout__icon
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_linkedin')

	main
		section.cogv1_three-column-section.backgray-bg.section
			.container
				each val, index in [1,2,3,4,5]
					component.flow-box__container
						subcomponent.flow-box-header
							a.compact-profile-box__profile-pic(href='/index-logged-in.html')
								img(src="http://placehold.it/20x20", alt="")
							p.inline-block
								b: a(href='/index-logged-in.html') Added by Kyla Medina
						subcomponent.flow-box(data-aload style='background: url(http://placehold.it/350x350) no-repeat')
							.flow-box__folder-save
								.flow-box__folder-save-wrapper
									p: small Save this article to your folders
									hr
									subcomponent.cogv1_article__save.is-signed-in
										
										.cogv1_article__save__add
											.add-action.is-active
												i.icon
													svg(viewbox='0 0 100 100')
														use(xlink:href='#icon_add')
												h6 Create New Folder
											.add-action
												i.icon.icon_save-article.js-toggle-save-overlay
													svg(viewbox='0 0 100 100')
														use(xlink:href='#icon_check')
												input(type='text').cogv1_article__save__input
										ul
											each val, index in [1,2,3]
												li.cogv1_article__save__list.js-toggle-save-overlay
													p: b Folder Title
									.flow-box__CTA
										i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg.is-active
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_star')
												
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_star-filled')
												
											span.flow-box__CTA__alt-text Save
							.flow-box__gradient-bg
								h4.flow-box__tag
									i.icon
										svg(viewbox='0 0 100 100')
											use(xlink:href='#icon_pdf')
											
									strong Article

								.flow-box__content
									a.flow-box__title(href='/article.html')
										h2 A Systematic Approach To Optimizing Collateral
									.flow-box__CTA-description.truncate
										p A Systematic Approach To Optimizing Collateral
									.flow-box__CTA
										i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg.js-toggle-save-overlay
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_star')
												
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_star-filled')
												
											span.flow-box__CTA__alt-text Save
										a.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg(href='/article.html')
											svg.is-empty(viewbox='0 0 100 100')
												use(xlink:href='#icon_triangle')
												
											svg.is-filled(viewbox='0 0 100 100')
												use(xlink:href='#icon_triangle-filled')
												
											span.flow-box__CTA__alt-text View