extends layouts/layout-primary

block content
	component.container.compact-profile-box__container
		.compact-profile-box-module.show-for-small
			.compact-profile-box-bar
				.compact-profile-box__profile-pic
					img(src="http://placehold.it/20x20", alt="")
				p.compact-profile-box__details
					b Kyla Medina
					span.hide-small &nbsp; | &nbsp;Information Technology &amp; Services
				.compact-profile-box__aside
					.compact-profile-box__notification
						span 3
					i.icon(data-flyout='notifications')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_folders')
					i.icon(data-flyout='settings')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_settings')
				
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--settings
				.profile-box__indicator
				header
					p Settings
					hr
				.profile-box__button
					button.button--silent.js-edit-profile Edit Info
				.profile-box__button
					a(href="/").button--silent Log Out
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--notifications
				.profile-box__indicator
				header
					p Recent Activity
					hr
				.profile-box__list
					each val, index in [1,2,3]
						.profile-box__list-item
							.profile-box__list-notification
								span 1
							p
								strong
									a(href='') Industry Friends
							p Invited by Larry
							i.icon.profile-box__list-CTA
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_caret')
				button.button--silent View All

	header.main-header.color-bg(style='background: url("http://placehold.it/2250x1000") no-repeat;')
		.container
			.row
				component.profile-box-module.js-equal-height
					.profile-box
						.profile-box__default
							.profile-box__profile-pic
								img(src='http://placehold.it/110x110', alt='')
							i.profile-box__profile-icon
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_linkedin')
						.profile-box__aside
							i.icon(data-flyout='settings')
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_settings')
							.profile-box__notification
								span 3
							i.icon(data-flyout='notifications')
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_folders')
						.profile-box__text
							h3 Good Morning
							h2 Kyla Medina
							p VP, Healthcare IT Services
						.profile-box__data
							div
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_location')
								small Dallas Fort Worth Area	
							div
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_industry')
								small Information Technology &amp; Services.
							div
								i.icon
									svg(viewbox='0 0 100 100')
										use(xlink:href='#icon_workplace')
								small United Healthcare
					subcomponent.profile-box-flyout.profile-box-flyout--settings
						.profile-box__indicator
						header
							p Settings
							hr
						.profile-box__button
							button.button--silent.js-edit-profile Edit Info
						.profile-box__button
							a(href="/").button--silent Log Out
					subcomponent.profile-box-flyout.profile-box-flyout--notifications
						.profile-box__indicator
						header
							p Recent Activity
							hr
						.profile-box__list
							each val, index in [1,2,3]
								a.profile-box__list-item
									.profile-box__list-notification
										span 1
									p
										strong Industry Friends
									p Invited by Larry
									i.icon.profile-box__list-CTA
										svg(viewbox='0 0 100 100')
											use(xlink:href='#icon_caret')
								
						button.button--silent View All
				.profile-box__headline-push.js-equal-height
					.headline-push__center
						h4 Did you know?
						h5 This is a fact related to the user’s industry populated by demandbase.
		.container.main-header__search-container
			component.search-module.search-module--main.has-smartsearch
				.search__icon__wrapper
					.search__icon.is-blue
						i.icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_search')
				.icon.search__smart-search
					p <strong>Smart</strong>Search&reg;
				i.icon.search__icon--right.search__CTA
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle')
				div.search__input Latest Thinking
	
	include modules/flowbox-slider
	include modules/banner-perspectives-app
	include modules/video-module
	include modules/content-list
	include modules/folders-module
	include modules/three-group
	include modules/headline-list
	include modules/banner-cognizant-connections
	include modules/social-slider
	include modules/form
	include includes/linkedin-modal
	include modules/edit-profile-overlay