extends layouts/layout-primary

block content
	header.main-header.gradient1--horizontal.color-bg(style='background: url("img/bg-latest-thinking.jpg") no-repeat')
		.container
			h1 Explore our 
				span.nowrap industry-leading
				|  insight. 
			p.main-header__body-copy Tailored to solve your unique business challenges.
			//- .subheader
			//- 	| Enhance with 
			//- 	i.icon.icon-linkedin
			//- 		svg(viewbox='0 0 91 24')
			//- 			use(xlink:href='#logo_linkedin')
			div.main-header__button-container
				a.button--primary.icon--left(href='')
					i.icon.icon-linkedin
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_linkedin')
					| Sign In with Linkedin
				i.js-open-modal-module.icon.question-mark(data-modal-id='#modal-1')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_info')

			//- div
			//- 	a.button--silent(href='') Or tell us about yourself
		.container.main-header__search-container
			component.search-module.search-module--main
				.search__icon.gradient6reverse--horizontal
					i
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_search')
				input.search__input(type='text', placeholder='Search Within Folders')

	include includes/index-include
	include includes/linkedin-modal
						

