extends layouts/layout-primary

block content
	// You can add the class .cogv1_has-overlay to give the header a dark overlay to make text more readable against a light background.
	header.main-header.gradient1--horizontal.color-bg(style='background: white url("http://lorempixel.com/1250/500/technics") no-repeat')
		.container
			h1 Explore our 
				span.nowrap industry-leading
				|  insights. 
			p.main-header__body-copy Tailored to solve your unique business challenges.
			//- .subheader
			//- 	| Enhance with 
			//- 	i.icon.icon-linkedin
			//- 		svg(viewbox='0 0 91 24')
			//- 			use(xlink:href='#logo_linkedin')
			div.main-header__button-container
				a.button--primary.icon--left(href='/index-logged-in.html')
					i.icon.icon-linkedin
						img(src="img/icon_linkedin.png", alt="")
						//- svg(viewbox='0 0 100 100')
						//- 	use(xlink:href='#icon_linkedin')
					| Sign In with Linkedin
				i.js-open-modal-module.icon.question-mark(data-modal-id='#modal-1')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_info')

			//- div
			//- 	a.button--silent(href='') Or tell us about yourself
		component.container.main-header__search-container
			div.search-module.search-module--main.has-dropdown
				.search__icon__wrapper
					a.search__icon.gradient6reverse--horizontal
						i.icon
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_search')
								image(src='img/symbols/icon_search-2x.png' width='30px' height='30px')
				.search__dropdown.js-dropdown-option-parent
					span.search__dropdown__active-selection.js-dropdown-option-holder.js-dropdown-trigger.truncated(data-default='All Industries') All Industries
					i.search__dropdown__icon.js-dropdown-trigger
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_caret--right')
					i.icon.search__icon--right.search__icon-filter.js-dropdown-trigger
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_filter')
					
					subcomponent.contenteditable-dropdown
						ul
							li.js-dropdown-option All Industries
							li.js-dropdown-option Search Suggestion
							li.js-dropdown-option Another Suggestion
							li.js-dropdown-option Yet Anonther Suggestion
							li.js-dropdown-option Alternative Suggestion
							li.js-dropdown-option Possible Suggestion
							li.js-dropdown-option Consider this Suggestion
							li.js-dropdown-option One More Suggestion
				
				input.search__input(type='text', placeholder='Search Latest Thinking')
				i.icon.search__icon--right.search__CTA
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle--right')


	include modules/flowbox-slider
	include modules/banner-perspectives-app
	include modules/video-module
	include modules/content-list
	include modules/folder-headerline
	include modules/three-group
	include modules/headline-list
	include modules/banner-cognizant-connections
	include modules/social-slider
	include modules/form
	include includes/linkedin-modal
