extends layouts/layout-primary

block content
	header.main-header.gradient1--horizontal.color-bg
		.container
			h1 Latest Thinking
			p.main-header__body-copy
				| Explore our industry-leading insight. Tailored to solve your unique business challenges.
			.subheader
				| Enhance with 
				i.icon.icon-linkedin
					svg(viewbox='0 0 91 24')
						use(xlink:href='#logo_linkedin')
			div
				a.button--primary.icon--left(href='')
					i.icon.icon-linkedin
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_linkedin')
					| Sign In with Linkedin
				i.js-open-modal-module.icon.question-mark(data-modal-id='#modal-1')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_info')

			div
				a.button--silent(href='') Or tell us about yourself
			.search-module.search-module--main
				.search__icon.gradient6reverse--horizontal
					i
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_search')
				input.search__input(type='text', placeholder='Search Within Folders')

	include includes/index-include
	include includes/linkedin-modal
						

