extends layouts/layout-primary

block content
	header.main-header.gradient1--horizontal.color-bg(style='background: url("img/bg-latest-thinking.jpg") no-repeat')
		.container
			h1 Explore our 
				span.nowrap industry-leading
				|  insight. 
			p.main-header__body-copy Tailored to solve your unique business challenges.
			//- .subheader
			//- 	| Enhance with 
			//- 	i.icon.icon-linkedin
			//- 		svg(viewbox='0 0 91 24')
			//- 			use(xlink:href='#logo_linkedin')
			div.main-header__button-container
				a.button--primary.icon--left(href='')
					i.icon.icon-linkedin
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_linkedin')
					| Sign In with Linkedin
				i.js-open-modal-module.icon.question-mark(data-modal-id='#modal-1')
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_info')

			//- div
			//- 	a.button--silent(href='') Or tell us about yourself
		.container.main-header__search-container
			component.search-module.search-module--main.has-dropdown
				.search__icon__wrapper
					.search__icon.gradient6reverse--horizontal
						i
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_search')
				.search__dropdown.js-dropdown-option-parent
					span.search__dropdown__active-selection.js-dropdown-option-holder All Industries
					.search__dropdown__icon.js-dropdown-trigger
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_caret')
					subcomponent.contenteditable-dropdown
						ul
							li.js-dropdown-option Search Suggestion
							li.js-dropdown-option Another Suggestion
							li.js-dropdown-option Yet Anonther Suggestion
							li.js-dropdown-option Alternative Suggestion
							li.js-dropdown-option Possible Suggestion
							li.js-dropdown-option Consider this Suggestion
							li.js-dropdown-option One More Suggestion
				input.search__input(type='text', placeholder='Search Within Folders')
	
	include modules/flowbox-slider
	include modules/banner-perspectives-app
	include modules/video-module
	include modules/content-list
	include modules/folder-headerline
	include modules/three-group
	include modules/headline-list
	include modules/banner-cognizant-connections
	include modules/social-slider
	include modules/form
	include includes/linkedin-modal
						

