extends layouts/layout-primary

block content
	include modules/compact-profile-box

	header.cogv1_mini-header.color-bg.gradient2--vertical--reverse
		.container
			.cogv1_mini-header__center
				h1.upcase Latest Strategies
				p This is a subhead describing the Latest Strategies section
	main
		section.cogv1_three-column-section.cogv1_overhang-section.backgray-bg
			.container
				each val, index in [1,2,3,4,5,6,7,8,9]
					component.flow-box.headline-box
						.flow-box__gradient-bg
							.flow-box__content
								a.icon.headline-box__icon(href='/latest-strategy.html')
									| <svg id="data_science" xmlns="http://www.w3.org/2000/svg" viewBox="19.7 -14.9 53.5 50.6"><linearGradient id="smart-sourcing" gradientUnits="userSpaceOnUse" x1="423.211" y1="614.75" x2="538.251" y2="-37.674" gradientTransform="matrix(.082 0 0 .082 7.235 -12.037)"><stop offset="0" stop-color="#6DB33F"/><stop offset="1" stop-color="#72CDF4"/></linearGradient><path fill="url(#smart-sourcing)" d="M50.8-14.9h-.9c-11.1.5-19.7 8.4-21.3 18.8.3 0 .6-.2.8-.2s.6 0 .8.2c.3-1.8.8-3.5 1.5-5.1h10c-.8 2.9-1.1 5.8-1.1 8.9h-2.9c.5.5.9 1.1 1.2 1.5h1.8c.3 2.9.9 5.8 2 8.9h-2.6c-.2.6-.3 1.1-.6 1.5h3.8c1.2 2.9 2.8 5.8 4.8 8.8-4.3-.6-8-2.5-11.1-5.1l-.3.3c-.3.3-.6.6-.6 1.1 4 3.5 9.1 5.7 14.6 5.7 12.5 0 22.5-10 22.5-22.5 0-12.8-10.1-22.8-22.4-22.8zm18 12h-9.4c-1.2-3.5-3.1-6.9-5.7-10.2 6.3 1 11.8 4.9 15.1 10.2zM50.2-13.2h1.2c2.9 3.2 5.1 6.6 6.3 10.3H43.8c1.4-3.6 3.4-7 6.4-10.3zM32.5-2.9c3.1-5.5 8.6-9.2 15.4-10.2-2.6 3.1-4.5 6.6-5.7 10.2h-9.7zm10.7 1.6h14.9c.9 2.9 1.2 5.8 1.1 8.9h-17c-.2-3.1.3-6 1-8.9zm-.9 10.4h16.9c-.3 2.9-.9 5.8-2.2 8.9H44.3c-1.1-3-1.8-5.9-2-8.9zm8.5 19.3h-.5c-2.2-2.9-3.8-5.8-5.1-8.8h11.4c-1.2 2.9-3.1 5.8-5.1 8.8h-.7zm2.6-.2c2-2.8 3.7-5.7 4.8-8.6h9.5c-3.2 4.6-8.5 7.9-14.3 8.6zm15.4-10.3h-10c1.1-2.9 1.8-5.8 2-8.9h10.8c-.4 3.4-1.3 6.5-2.8 8.9zM60.9 7.6c.2-2.9-.3-6-1.1-8.9h9.7c1.2 2.6 2 5.7 2 8.8l-10.6.1zM25.2 26.2c-.5 0-.8-.5-.8-.8 0 0 0-1.8-1.4-3.1-2.2-1.8-3.4-4.6-3.4-7.4 0-5.4 4.3-9.7 9.7-9.7S39 9.5 39 14.9c0 2.8-1.2 5.5-3.2 7.2-1.4 1.2-1.4 3.1-1.4 3.1 0 .5-.3.8-.8.8s-.8-.3-.8-.8c0-.2 0-2.6 2-4.3 1.8-1.5 2.8-3.8 2.8-6.2 0-4.5-3.7-8-8-8s-8.3 3.7-8.3 8.2c0 2.3 1.1 4.5 2.8 6 2 1.8 2 4.3 2 4.3-.1.7-.4 1-.9 1zm-2.1-10.7c-.5 0-.8-.3-.8-.8 0-4 3.2-7.2 7.2-7.2.5 0 .8.3.8.8 0 .4-.3.7-.8.7-3.1 0-5.5 2.5-5.5 5.5-.2.5-.6 1-.9 1zm2.1 15.6c-.3 0-.6-.2-.8-.5-.2-.5.2-.9.5-1.1l3.5-1.1h-3.2c-.5-.2-.8-.5-.8-.9 0-.5.3-.8.8-.8h8.3c.5 0 .8.3.8.6s-.2.8-.6.9L25.5 31c-.1.1-.1.1-.3.1zm8.3 2.2h-8.3c-.5 0-.8-.3-.8-.6-.2-.3.2-.8.6-.9l8.3-2.6c.3-.2.8 0 1.1.5.2.5-.2.9-.5 1.1l-3.5 1.1h3.2c.5 0 .8.3.8.8.1.3-.4.6-.9.6zm-2.9 2.5h-2.8c-.5 0-.8-.3-.8-.8s.2-.8.8-.8h2.8c.5 0 .8.3.8.8s-.3.8-.8.8z"/></svg>
								a.flow-box__title(href='/latest-strategy.html')
									h4 Latest Strategy #2
									h3 Mass
										br
										| Empowerment
								.flow-box__CTA-description
									p There’s outsourcing, then there’s Smart Sourcing. Over the last two decades, Cognizant has built its business doing the latter.
								.flow-box__CTA
									//- i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg.flow-box__share
									i.flow-box__CTA-icon.flow-box__CTA--left.share-flyout__trigger.js-flow-box-flyout__trigger.interactive-svg
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_share')
											image(src='img/symbols/icon_share-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_share-filled')
											image(src='img/symbols/icon_share-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text Share
									component.flow-box__share-flyout-wrapper.js-share-flyout
										.flow-box__share-flyout.share-flyout
											.flow-box-flyout__icon.share-flyout__icon
												svg(viewbox='0 0 100 100')
													use(xlink:href='#icon_email')
											.flow-box-flyout__icon.share-flyout__icon
												svg(viewbox='0 0 100 100')
													use(xlink:href='#icon_twitter')
											.flow-box-flyout__icon.share-flyout__icon
												svg(viewbox='0 0 100 100')
													use(xlink:href='#icon_facebook')
											.flow-box-flyout__icon.share-flyout__icon
												svg(viewbox='0 0 100 100')
													use(xlink:href='#icon_linkedin')
									a.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg(href='/latest-strategy.html')
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle')
											image(src='img/symbols/icon_triangle-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle-filled')
											image(src='img/symbols/icon_triangle-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text View