extends layouts/layout-primary

block content
	component.container.compact-profile-box__container
		.compact-profile-box-module
			.compact-profile-box-bar
				.compact-profile-box__profile-pic
					img(src="http://placehold.it/20x20", alt="")
				p.compact-profile-box__details
					b Kyla Medina
					span.hide-small &nbsp; | &nbsp;Information Technology &amp; Services
				.compact-profile-box__aside
					.compact-profile-box__notification
						span 3
					i.icon(data-flyout='notifications')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_folders')
					i.icon(data-flyout='settings')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_settings')
				.compact-profile-box__button
					.icon.search__smart-search
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_search')
						p <strong>Smart</strong>Search&reg;

				
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--settings
				.profile-box__indicator.triangle
				header
					p Settings
					hr
				.profile-box__button
					button.button--silent.js-edit-profile Edit Info
				.profile-box__button
					a(href="/").button--silent Log Out
			subcomponent.compact-profile-box__flyout.compact-profile-box__flyout--notifications
				.profile-box__indicator.triangle
				header
					p Recent Activity
					hr
				.profile-box__list
					each val, index in [1,2,3]
						.profile-box__list-item
							.profile-box__list-notification
								span 1
							p
								strong
									a(href='') Industry Friends
							p Invited by Larry
							i.icon.profile-box__list-CTA
								svg(viewbox='0 0 100 100')
									use(xlink:href='#icon_caret')
				button.button--silent View All

	main
		section.white-bg.section
			article
				.container
					header.cogv1_icon-header
						.row

							i.icon.cogv1_icon-header__icon
								| <svg id="future_of_work2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40.1 53.6"><path fill="#6DB33F" d="M20.1 45.8c-1.2 0-2.2 1-2.2 2.2 0 1.2 1 2.2 2.2 2.2 1.2 0 2.2-1 2.2-2.2 0-1.2-1-2.2-2.2-2.2z"/><path fill="#72CDF4" d="M20.1 3.2c-.6 0-1.1.5-1.1 1.1 0 .6.5 1.1 1.1 1.1.6 0 1.1-.5 1.1-1.1 0-.6-.5-1.1-1.1-1.1z"/><linearGradient id="latest-thinking" gradientUnits="userSpaceOnUse" x1="15.023" y1="55.333" x2="25.091" y2="-1.767"><stop offset="0" stop-color="#6DB33F"/><stop offset="1" stop-color="#72CDF4"/></linearGradient><path fill="none" stroke="url(#latest-thinking)" stroke-width="2" stroke-linejoin="round" stroke-miterlimit="10" d="M39.1 48.1c0 2.5-2 4.5-4.5 4.5H5.5c-2.5 0-4.5-2-4.5-4.5V5.5C1 3 3 1 5.5 1h29.1c2.5 0 4.5 2 4.5 4.5v42.6zM34.6 7.7H5.5v35.9h29.1V7.7zM29 13.6H10.8v6H29v-6zm-.2 11.2H10.6m18.2 6H10.6m18.2 6.6H10.6"/></svg>

							.cogv1_icon-header__title
								h3 Latest Strategy #3
								h5 Decisive Infrastructure
							.gradient-hr

				.container.cogv1_article-body__container.cogv1_article
					each val, index in [1,2,3,4,5,6]
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam veniam nesciunt, quae inventore omnis vitae illo beatae facere, illum ab possimus eveniet. Laborum hic consequatur sequi quam praesentium temporibus dignissimos!

		section.cogv1_three-column-section.backgray-bg
			.container
				each val, index in [1,2,3,4,5,6]
					component.flow-box(style='background: url(http://placehold.it/350x350) no-repeat')
						.flow-box__gradient-bg
							.flow-box__content
								a.flow-box__title(href='/article.html')
									h2 A Systematic Approach To Optimizing Collateral
								.flow-box__CTA-description.truncate
									p A Systematic Approach To Optimizing Collateral
								.flow-box__CTA
									i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_star')
											image(src='img/symbols/icon_star-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_star-filled')
											image(src='img/symbols/icon_star-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text Save
									i.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle')
											image(src='img/symbols/icon_triangle-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle-filled')
											image(src='img/symbols/icon_triangle-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text View
	component.cogv1_article__footer-nav
		a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--prev.has-background
			i.icon
				svg(viewbox='0 0 100 100')
					use(xlink:href='#icon_caret--left')
					image(src='img/symbols/icon_caret--left.png' width='30px' height='30px')
		.container
			.row
				a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--prev
					p
						strong Previous Latest Strategy
						strong Latest Strategy #3: Value Webs
				.cogv1_article__footer-nav__divider
				a.cogv1_article__footer-nav__text.cogv1_article__footer-nav__text--next
					p
						strong Next Latest Strategy
						strong Latest Strategy #3: Value Webs
		a.cogv1_article__footer-nav__button.cogv1_article__footer-nav__button--next.has-background
			i.icon
				svg(viewbox='0 0 100 100')
					use(xlink:href='#icon_caret--right')
					image(src='img/symbols/icon_caret--right.png' width='30px' height='30px')