extends layouts/layout-primary

block content
	include modules/compact-profile-box

	header.cogv1_mini-header.color-bg.gradient3--vertical
		.container
			.cogv1_mini-header__center
				h1 Latest Strategies
				p This is a subhead describing the Latest Strategies section
	main
		section.cogv1_three-column-section.cogv1_overhang-section.backgray-bg
			.container
				each val, index in [1,2,3,4,5,6]
					component.flow-box
						.flow-box__gradient-bg
							.flow-box__content
								a.flow-box__title
									h2 A Systematic Approach To Optimizing Collateral
								.flow-box__CTA-description.truncate
									p A Systematic Approach To Optimizing Collateral
								.flow-box__CTA
									i.flow-box__CTA-icon.flow-box__CTA--left.interactive-svg
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_star')
											image(src='img/symbols/icon_star-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_star-filled')
											image(src='img/symbols/icon_star-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text Save
									i.flow-box__CTA-icon.flow-box__CTA--right.interactive-svg
										svg.is-empty(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle')
											image(src='img/symbols/icon_triangle-2x.png' width='20px' height='20px')
										svg.is-filled(viewbox='0 0 100 100')
											use(xlink:href='#icon_triangle-filled')
											image(src='img/symbols/icon_triangle-filled-2x.png' width='20px' height='20px')
										span.flow-box__CTA__alt-text View