extends layouts/layout-primary

block content
	include modules/compact-profile-box
	
	header.cogv1_mini-header.color-bg.gradient3--vertical
		.container
			.cogv1_mini-header__center
				h1 My Folders
				p This is a subhead describing the My Folders section
	main
		section.cogv1_three-column-section.cogv1_overhang-section.alternating-color-section
			.container
				component.folder-module(style='background:url(http://www.cognizant.com/dotcom-images/Perspectives/twelve_ways_SMAC_hp.jpg) no-repeat')
						.folder__overlay
						.folder__content
							p.folder__alert
								span.folder__alert-number
									span 1
								span New Video Added

							.folder__profile-pic
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_default')
							.folder__data
								p: strong Favorites
								i.icon
									svg(viewbox='0 0 100 100'): use(xlink:href='#icon_files')
								span: strong 0
								i.icon
									svg(viewbox='0 0 100 100'): use(xlink:href='#icon_collaborators')
								span: strong 0
							.folder__CTA
								a.folder__CTA-icon.folder__CTA--right.interactive-svg(href='/folder.html')
									svg.is-empty(viewbox='0 0 100 100')
										use(xlink:href='#icon_triangle')
									svg.is-filled(viewbox='0 0 100 100')
										use(xlink:href='#icon_triangle-filled')
									span.folder__CTA__alt-text View
				each val, index in [1,2,3,4,5,6,7]
					component.folder-module(style='background:url(http://www.cognizant.com/dotcom-images/Perspectives/twelve_ways_SMAC_hp.jpg) no-repeat')
						.folder__overlay
						.folder__content
							p.folder__alert
								span.folder__alert-number
									span 1
								span New Video Added

							.folder__profile-pic
								svg(viewbox='0 0 100 100'): use(xlink:href='#icon_default')
							.folder__data
								p Favorites
								i.icon
									svg(viewbox='0 0 100 100'): use(xlink:href='#icon_files')
								span: strong 22
								i.icon
									svg(viewbox='0 0 100 100'): use(xlink:href='#icon_collaborators')
								span: strong 100
							.folder__CTA
								i.folder__CTA-icon.folder__CTA--left
									svg.is-empty(viewbox='0 0 100 100')
										use(xlink:href='#icon_exit')
									span.folder__CTA__alt-text Leave
								a.folder__CTA-icon.folder__CTA--right.interactive-svg(href='/folder.html')
									svg.is-empty(viewbox='0 0 100 100')
										use(xlink:href='#icon_triangle')
									svg.is-filled(viewbox='0 0 100 100')
										use(xlink:href='#icon_triangle-filled')
									span.folder__CTA__alt-text View