extends layouts/layout-primary

block content

	section.section.search-results-section
		.container
			h2 Search Results
			.button--silent.js-smart-search.has-icon--left Back to Smart Search
				.icon
					svg(viewbox='0 0 100 100')
						use(xlink:href='#icon_triangle-filled--left')
			.gradient-hr
		component.cogv1-smart-search__results
			.container
				each val, index in [1,2,3,4,5,6,7,8,9]
					.cogv1-smart-search__result
						i.icon.cogv1-smart-search__result-type
							img(src='img/icon_pdf.png')

						p Article
						h3: a.js-search-text(href='') The Way to a True End-to-End Digital Experience  
						p Hank Mardukkas   |   12.23.2014
						i.icon.cogv1-smart-search__result-CTA
							svg(viewbox='0 0 100 100')
								use(xlink:href='#icon_triangle--right')
		footer.search-results-footer
			.container
				p Pages
				.search-results__nav
					.icon.search-results__nav-icon.search-results__nav-icon--left
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_triangle-filled--left')
					a.icon.search-results__nav-icon.search-results__nav-icon--right(href='/article.html')
						svg(viewbox='0 0 100 100')
							use(xlink:href='#icon_triangle-filled--right')
				ul.inline-list
					li: a.is-active(href='') 1
					each val, index in [2,3,4,5,6,7,8,9]
						li: a(href='')= val