// FORM ANIMATIONS //////////////////////////////

@keyframes sparkle
	0%
		fill darkblue
	50%
		fill lightblue
	100%
		fill darkblue
	
@-webkit-keyframes sparkle
	0%
		fill darkblue
	50%
		fill lightblue
	100%
		fill darkblue

@keyframes wiggle
	0%
		transform translateX(3px)
	25%
		transform translateX(-3px)
	50%
		transform translateX(-3px)
	100%
		transform translateX(3px)
	
@-webkit-keyframes wiggle
	0%
		transform translateX(3px)
	25%
		transform translateX(-3px)
	50%
		transform translateX(-3px)
	100%
		transform translateX(3px)
		

// ANIMATION FOR FLYOUT /////////////////////////

@keyframes slideshuffle
	0%
		transform scale(0.9) translateX(-110%)
		animation-timing-function: ease-out-back
		z-index: 0
	10%
		z-index: 0
	40%
		z-index: 10
		transform scale(0.9) translateX(0rem)
		animation-timing-function: ease-out-back
	100%
		z-index: 10
		animation-timing-function: ease-out-back
		transform scale(1) translateX(0rem)
	

@keyframes slideshufflereverse
	0%
		transform scale(1) translateX(0rem)
		animation-timing-function: linear
		opacity 1
		z-index: 10
	15%
		opacity 0
		transform scale(1) translateX(0rem)
		animation-timing-function: linear
	100%
		z-index: 0
		opacity 0
		transform scale(0.9) translateX(-110%)
		animation-timing-function: ease-in-back