a
	border-bottom 1px solid rgba(gray,0.2)
	padding-bottom 0
	font-family proxSbold
	fs(1.6rem)
	transition all 0.2s ease
	&:link
		color blue
	&:hover
		color darkblue
	&:active
		color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color blue
		
/*!**
  title: Primary Button
  section: Buttons & Links
  example: |
    <button class='button--primary'>button</button>
    <button class='button--primary' disabled>Disabled</button>
***/
$button
	line-height 4.2rem
	upcase()
	min-width 20.8rem
	fs(1.6rem)
	border none
	color white
	background-color blue
	text-align center
	transition background-color 0.3s ease, transform 0.1s linear, color 0.1s ease
	text-decoration none
	transform scale(1)
	border-bottom transparent
	font-family proxReg
	display inline-block
	white-space: nowrap
	letter-spacing 0.03em
	+ .icon.question-mark
		margin 0 -3.3rem 0 1rem
		
.button--primary
	@extend $button
	padding 0 5.1rem
	&:hover
		color white
		background-color darkblue
		transition background-color 0.3s ease, transform 0.1s linear, color 0.3s ease
	&:active
		color white
		background-color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray
		background-color darkgray
		transform scale(1) !important
	&:visited
		color white
		background-color border-left
	&.icon--left
		padding-left 7.5rem
		padding-right 1.6rem
		i:first-of-type
			size 4.5rem 2.75rem
			position absolute
			top 0
			bottom 0
			left 1.5rem
			color white
			margin auto
			padding 0.2rem 0.9rem 0.2rem 0
			border-right 1px solid rgba(white,0.2)
.color-bg
	.button--primary:hover
		color blue
		background-color white
		&.icon--left 
			i:first-of-type
				color blue
				border-right 1px solid rgba(gray,0.2)
			
.icon.question-mark
	color blue
	position: relative
	size 2.3rem
	background-color transparent
	transition color 0.2s ease
	&:hover
		color white
		
/*!**
  title: Silent Button
  section: Buttons & Links
  example: |
    <button class='button--silent'>button</button>
    <button class='button--silent' disabled>Disabled</button>
***/
.button--silent
	@extend $button
	background-color transparent
	color blue
	border-bottom 1px solid rgba(blue,0.2)
	line-height 1.2
	min-width 0
	padding 0
	margin 2.4rem 0rem
	display inline-block
	&:link
		color blue
	&:hover
		color darkblue
		border-bottom 1px solid rgba(blue,0.2)
	&:active
		color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		border-bottom 1px solid rgba(gray,0.2) !important
		transform scale(1) !important
	&:visited
		color blue

/*!**
  title: Linkedin Button
  section: Buttons & Links
  example: |
    <a href="" class="button--primary icon--left icon--floating--right"><i class="icon"><svg viewBox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_linkedin"></use></svg></i>Sign In with Linkedin
    <i class="icon question-mark"><svg viewbox="0 0 100 100"><use xlink:href="includes/symbols.svg#icon_info"></use></svg></i>
    </a>
***/