// CTA LINKS ////////////////////////////////////

a
	border-bottom 1px solid gray
	padding-bottom 1px
	&:hover
		color darkblue
	&:active
		color darkblue
	&[disabled]
		color gray
	&:link
		color blue
	&:visited
		color blue
		

/* #Primary Button
```
<button class='button--primary'>Button</button>
```
*/
button
	min-width 20.8rem
	&:hover
		color white
		background-color darkblue
	&:active
		color white
		background-color darkblue
	&[disabled]
		color gray
		background-color darkgray
	&:link
		color white
		background-color blue
	&:visited
		color white
		background-color blue
	