z
a
	border-bottom 1px solid gray
	padding-bottom 1px
	transition color 0.2s linear
	font-family proxSbold
	fs(1.6rem)
	transition all 0.2s ease
	&:link
		color blue
	&:hover
		color darkblue
	&:active
		color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color blue
		
/*!**
  title: Primary Button
  section: Buttons & Links
  example: |
    <button class='button--primary'>button</button>
    <button class='button--primary' disabled>Disabled</button>
***/
$button
	line-height 4.2rem
	upcase()
	min-width 20.8rem
	fs(1.6rem)
	border none
	color white
	background-color blue
	text-align center
	transition background-color 0.1s ease, transform 0.1s linear, color 0.1s ease
	text-decoration none
	transform scale(1)
	border-bottom transparent
	
.button--primary
	@extend $button
	&:hover
		color white
		background-color darkblue
		transition background-color 0.2s ease, transform 0.1s linear
	&:active
		color white
		background-color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray
		background-color darkgray
		transform scale(1) !important
	&:visited
		color white
		background-color blue

/*!**
  title: Silent Button
  section: Buttons & Links
  example: |
    <button class='button--silent'>button</button>
    <button class='button--silent' disabled>Disabled</button>
***/
.button--silent
	@extend $button
	background-color transparent
	color blue
	border-bottom 1px solid rgba(blue,0.2)
	line-height 1
	&:link
		color blue
	&:hover
		color darkblue
	&:active
		color darkblue
		transform scale(0.98)
		transform-origin 50% 50%
	&[disabled]
		color gray !important
		transform scale(1) !important
	&:visited
		color blue