// GRADIENTS ////////////////////////////////////
/*!**
  title: Vertical Gradients
  section: Colors
  example: |
    <div class='gradient1--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient2--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient3--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient4--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient5--vertical' style='border: 2px solid white; height:200px;'></div>
***/

.gradient1--vertical
	background: linear-gradient(35deg, darkblue 0%,black 100%)

.gradient2--vertical
	background: linear-gradient(35deg, darkgreen 0%, black 100%)

.gradient3--vertical
	background: linear-gradient(35deg, darkblue 0%, lightblue 100%)

.gradient4--vertical
	background: linear-gradient(35deg, green 0%, darkblue 100%)

.gradient5--vertical
	background: linear-gradient(35deg, green 0%, lightblue00 100%)


/*!**
  title: Horizontal Gradients
  section: Colors
  example: |
    <div class='gradient1--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient2--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient3--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient4--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient5--horizontal' style='border: 2px solid white; height:200px;'></div>
***/
		
.gradient1--horizontal
	background: linear-gradient(0deg, darkblue 0%,black 100%)

.gradient2--horizontal
	background: linear-gradient(0deg, darkgreen 0%, black 100%)

.gradient3--horizontal
	background: linear-gradient(0deg, darkblue 0%, lightblue 100%)

.gradient4--horizontal
	background: linear-gradient(0deg, green 0%, darkblue 100%)

.gradient5--horizontal
	background: linear-gradient(0deg, green 0%, lightblue00 100%)