// GRADIENTS ////////////////////////////////////
/*!**
  title: Vertical Gradients
  section: Colors
  example: |
    <div class='gradient1--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient2--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient3--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient4--vertical' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient5--vertical' style='border: 2px solid white; height:200px;'></div>
***/
vgradient1 = linear-gradient(35deg, darkblue 0%,black 100%)
vgradient2 = linear-gradient(35deg, darkgreen 0%, black 100%)
vgradient3 = linear-gradient(35deg, darkblue 0%, lightblue 100%)
vgradient4 = linear-gradient(35deg, green 0%, darkblue 100%)
vgradient5 = linear-gradient(35deg, green 0%, lightblue 100%)

.gradient1--vertical
	background: vgradient1

.gradient2--vertical
	background: vgradient2

.gradient3--vertical
	background: vgradient3

.gradient4--vertical
	background: vgradient4

.gradient5--vertical
	background: vgradient5


/*!**
  title: Horizontal Gradients
  section: Colors
  example: |
    <div class='gradient1--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient2--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient3--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient4--horizontal' style='border: 2px solid white; height:200px;'></div>
    <div class='gradient5--horizontal' style='border: 2px solid white; height:200px;'></div>
***/
hgradient1 = linear-gradient(90deg, darkblue 0%,black 100%)
hgradient2 = linear-gradient(90deg, darkgreen 0%, black 100%)
hgradient3 = linear-gradient(90deg, darkblue 0%, lightblue 100%)
hgradient4 = linear-gradient(90deg, green 0%, darkblue 100%)
hgradient5 = linear-gradient(90deg, green 0%, lightblue 100%)
hgradient6 = linear-gradient(90deg, #149a4a 0%, #6db33f 100%)
hreversegradient5 = linear-gradient(0deg, green 0%, lightblue 100%)
		
.gradient1--horizontal
	background: hgradient1

.gradient2--horizontal
	background: hgradient2

.gradient3--horizontal
	background: hgradient3

.gradient4--horizontal
	background: hgradient4

.gradient5--horizontal
	background: hgradient5

.gradient6--horizontal
	background: hgradient6