font-size = 10
fs(size)
	if (unit(size) == 'rem')
		font-size round(unit((font-size*size), px))
		// font-size size
	else
		font-size size

$notification-circle
	size 1.5rem
	background-color heavymustard
	border-radius 50%
	overflow: hidden
	position relative
	span
		align()
		font-family proxSbold
		color white
		fs(1.2rem)

r(value)
	u = unit(value);

	if (u is 'rem')        
		return unit(value*10, 'px');
	else
		return unit(value, u)