font-size = 10
fs(size)
	if (unit(size) == 'rem')
		font-size round(unit((font-size*size), px))
		// font-size size
	else
		font-size size

$notification-circle
	size 1.5rem
	background-color heavymustard
	border-radius 50%
	overflow: hidden
	position relative
	span
		align()
		font-family proxSbold
		color white
		fs(1.2rem)

r(value)
	u = unit(value);

	if (u is 'rem')        
		return unit(value*10, 'px');
	else
		return unit(value, u)

$abolute-cover
	position absolute
	top 0
	bottom 0
	right 0
	left 0
	margin auto

.triangle
	width: 0
	height: 0
	border-style: solid
	border-width: r(1.3rem) r(1.3rem) r(1.3rem) 0
	border-color: transparent backgray transparent transparent

.interactive-svg
	cursor pointer
	svg
		$abolute-cover
	.is-filled
		opacity 0
		transition opacity 0.3s ease-out
	&.is-active
		.is-filled
			opacity 1
	&:hover
		.is-filled
			opacity 0.5