// TYPOGRPAHY ////////////////////////////////////
/*!**
  title: Headers
  section: Typgraphy
  example: |
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
***/

html
	font-family proxReg

h1, h2, h3, h4, h5, h6, p, li
	font-weight: normal
	color inherit

h1
	font-family proxReg
	fs(4.4rem)
	line-height 1.05
	upcase()

h2
	font-family proxReg
	fs(2.8rem)
	line-height 1.14

h3
	font-family proxSbold
	fs(1.6rem)
	line-height 1.25
	upcase()

h4
	font-family proxSbold
	fs(1.6rem)
	line-height 1.25
	upcase()

h5
	font-family proxReg
	fs(5.8rem)
	line-height 1.03

h6
	font-family proxRegIt
	fs(1.8rem)
	line-height 1.2
	
/*!**
  title: Body
  section: Typgraphy
  example: |
    <p>Paragraph Text and <b>something bold!</b></p>
    <small>Small Text</small>
***/

small
	font-family proxReg
	fs(1.4rem)
	line-height 1.4

p
	font-family proxReg
	fs(1.8rem)
	line-height 1.4

strong
	font-family proxSbold
	font-size inherit
	line-height inherit
b
	font-family proxBold
	font-size inherit
	line-height inherit