// TYPOGRPAHY ////////////////////////////////////
/*!**
  title: Headers
  section: Typography
  example: |
    <h1>H1 Header</h1>
    <h2>H2 Header</h2>
    <h3>H3 Header</h3>
    <h4>H4 Header</h4>
    <h5>H5 Header</h5>
    <h6>H6 Header</h6>
***/

html
	font-family proxReg

h1, h2, h3, h4, h5, h6
	text-rendering optimizeLegibility
	font-smooth always
	-moz-osx-font-smoothing: grayscale
	
h1, h2, h3, h4, h5, h6, p, li
	font-weight: normal
	color inherit

h1
	font-family proxReg
	fs(4.4rem)
	line-height 1.05
	// upcase()
	text-align center
	@media screen and (max-width: 768px)
		fs(3.4rem)

h2
	font-family proxSbold
	fs(2.8rem)
	line-height 1.14

h3
	font-family proxSbold
	fs(1.6rem)
	line-height 1.25
	upcase()
	letter-spacing 0.03em

h4
	font-family proxSbold
	fs(1.4rem)
	line-height 1.25
	letter-spacing 0.03em

h5
	font-family proxReg
	fs(5.8rem)
	line-height 1.03
	@media screen and (max-width: 1140px)
		fs(4.8rem)
	@media screen and (max-width: 1024px) and (min-width: 940px)
		fs(4rem)
	// @media screen and (max-width: 768px)
	// 	fs(3.8rem)
	@media screen and (max-width: 540px)
		fs(2.8rem)
	

h6
	font-family proxRegIt
	fs(1.8rem)
	line-height 1.2
	letter-spacing 0.03em

.subheader
	font-family proxReg
	fs(2.2rem)
	color inherit
	padding-top 1rem
	padding-bottom 9.5rem
	line-height 1.35
	i.icon-linkedin
		height: 2.6rem
		width: 10.1rem
		vertical-align top

/*!**
  title: Body
  section: Typography
  example: |
    <p>Paragraph Text and <b>something bold</b>and<strong>something strong!</strong></p>
    <small>Small Text</small>
***/
small
	font-family proxLight
	fs(1.4rem)
	line-height 1.4
	letter-spacing 0.02em
	
p
	font-family proxReg
	fs(1.8rem)
	line-height 1.4
	letter-spacing 0.03em
	@media screen and (max-width: 540px)
		fs(1.6rem)

strong
	font-family proxSbold
	font-size inherit
	line-height inherit
	letter-spacing 0.03em
	
b
	font-family proxBold
	font-size inherit
	line-height inherit
	letter-spacing 0.03em

.unorder-list
	fs(1.8rem)
	padding r(1rem) 0 r(2.6rem)
	li
		padding r(1rem) 0 r(1rem) r(2.6rem)
		position relative
		&:before
			content ''	
			display inline-block
			size r(1rem)
			position absolute
			background-color blue
			left 0
			top 0
			bottom 0
			margin auto